[2021-04-09 17:02] #843 closed

[2021-04-09 17:46] petrelharp commented on #889
Ok, I fixed up the citations, @manolofperez - could you double-check it?

[2021-04-09 18:11] #889 closed

[2021-04-09 20:33] petrelharp opened #895 "QC for Anole (AnoCar)"
**PR for new species:** #874

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

The QC reviewer should start a pull request that fills out the test stubs
with independently obtained values.

[2021-04-09 20:55] andrewkern commented on #541
wait so did I get it right the first time through? 😬

[2021-04-09 21:15] andrewkern commented on #895
i'm going to try to do this one

[2021-04-09 22:39] #895 closed

[2021-04-09 22:48] lauterbur opened #899 "QC for MyoLuc"
**PR for new species:** https://github.com/lauterbur/stdpopsim/tree/MyoLuc

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

The QC reviewer should start a pull request that fills out the t

[2021-04-09 23:08] andrewkern opened #900 "catalog documentation and new species"
do we have a plan for adding new species to the documentation at scale? is there a way we can automate this?

[2021-04-09 23:23] apragsdale opened #902 "Not all genomes have chromosome synonyms"
While updating some of the docs, realized that the tutorial section "Calculating the allele frequency spectrum" would not run as written, as "chr4" does not exist as a synonym for chromosome 4. We should probably include these basic synonyms for all species genomes.

[2021-04-09 23:42] apragsdale opened #903 "AraTha map read in with zero rate"
**Short description of the problem:**
Creating a contig with AraTha Salome map has zero rate, because the cM column of the map is all zeros even though the rates are positive.

[code]

**How to reproduce the problem:**
[code]

**Suggested fixes:**
The Map(cM) column needs to be populated. But more generally, we need to make sure all maps are properly formatted, and test for that.

Now in 1.0, `msp

[2021-04-10 05:07] andrewkern commented on #903
did something move in the rate map format here? some of the maps don't even have that fourth column of data, e.g.,  HomSap/DeCodeSexAveraged_GRCh36

[2021-04-10 08:07] jeromekelleher commented on #903
Good spot, thanks @apragsdale. I think our effort would be best spent in converting the maps into zarr, and doing the checking up front, at import time. See #852 for initial progress. HapMap is just a mess (why, oh why oh why would you allow two ways of saying the same thing?), and it's super, super slow.

[2021-04-10 09:15] grahamgower commented on #903
I noticed some problem that may be the same as this issue, and made the change you suggest here in #592. Can you try again with the tip of the main branch? Here's what I see:

[code]

[2021-04-10 09:26] grahamgower commented on #541
Ha, yes. :) It just took a while to figure out where you got the number(s) from.

[2021-04-10 14:47] apragsdale commented on #903
Sorry @graham, yeah I hadn't pulled in new changes for the last day or two. I get the same as what you see now. Converting maps into zarr and doing an audit of all maps then sounds good to me. Closing.

[2021-04-10 14:47] #903 closed

[2021-04-10 23:56] apragsdale commented on #868
The development docs also don't explain the new process of adding species (no longer have an `update_ensembl_data.py` function, for example). There's been a bit of movement in the API (e.g. #839 updates a bunch of the tutorial). Until the memory issue is resolved, are we able to at least manually trigger builds of the docs when we merge PRs that update them? The last update was 2 1/2 months ago...

[2021-04-11 01:13] agladstein commented on #868
I don't know if this is related at all, but I tried to build locally, didn't get any error, but it didn't include any updates. I was very confused. Seemed like I was on the wrong branch... But, I wasn't.

[2021-04-11 02:10] apragsdale commented on #868
Hmm - yeah, I've been able to build locally as well without issues, but the updates I wrote do show up in my local build/html outputs. Not sure why they wouldn't be updating locally

[2021-04-11 02:17] agladstein commented on #868
same... I was very confused and thought I was doing something dumb... But, maybe it's not me

[2021-04-12 08:27] jeromekelleher commented on #900
No, I hadn't thought of that step. Simplest just to add them in by hand for now, I guess we can figure out a way to automate it later when we have a ``qc_complete`` flag on species (or something).

[2021-04-12 08:28] jeromekelleher commented on #902
This is a function of the upstream data repos @apragsdale - no would be the short answer.

They should exist for humans though - do the synonyms exist for the other chrs?

[2021-04-12 08:57] jeromekelleher commented on #868
@grahamgower - what's the new docs URL? We should just do the redirect from rtd to there, it's going to cause more and more confusion.

[2021-04-12 09:00] grahamgower commented on #868
Currently living at: https://popsim-consortium.github.io/stdpopsim-docs/

[2021-04-12 09:02] jeromekelleher commented on #868
Ben did some versioning for the tskit docs, is that any use?

[2021-04-12 09:14] grahamgower commented on #868
I see
https://tskit.dev/tskit/docs/stable/
and
https://tskit.dev/tskit/docs/latest/

But nothing like https://tskit.dev/tskit/docs/0.3.5/ and no menu with links to the various versions. But maybe I missed it? We can certainly upload tagged versions of the docs onto github.io, it's really just doing the javascript bit to insert a menu which is lacking. The menu's contents should be populated from a

[2021-04-12 09:15] jeromekelleher commented on #868
I don't think it really matters if we have a menu, just ``stable`` and ``latest`` links is fine I think.

[2021-04-12 14:22] agladstein commented on #868
Maybe I missed something. Is something different happening with how the docs are built?

[2021-04-12 15:15] jeromekelleher commented on #868
Sorry @agladstein - local builds should work just fine, I've no idea what's happening there.

[2021-04-12 15:28] apragsdale commented on #902
I see. That's too bad - as far as I can see, it's only humans that have synonyms. This means that while we previously could specify chr2L for DroMel and chr4 for AraTha (as the docs currently do), these are errors now. I think it's worth adding these obvious synonyms by hand for all species.

[2021-04-12 17:23] jeromekelleher commented on #902
Well, feel free (but in a way that doesn't get clobbered by automatic updates from the repository).

[2021-04-12 19:36] gregorgorjanc commented on #602
@grahamgower it was an "USDA in-house" map that was improved compared to UMD3.1/BosTau8 assembly. I need to talk to the authors - maybe they have remapped to the recent assembly. Will report back.

[2021-04-13 10:21] petrelharp opened #913 "pytest.approx( ) misused"
Turns out that
[code]
is *always* True - the way you're supposed to use this is
[code]
and in the first call `b` is taken as the value of `rel`.

I'm going to fix this now.

[2021-04-13 10:28] petrelharp commented on #884
See #914.

[2021-04-13 10:45] jeromekelleher commented on #913
Oops! :facepalm:

[2021-04-13 10:47] petrelharp commented on #543
Over in #914 I'm finding the recombination rates *don't* match, eg:
[code]
... so perhaps that first box should be un-checked.

[2021-04-13 10:53] petrelharp opened #915 "fix AedAeg recombination rates"
As discovered in #914, actually 0.306 is not approximately 0.306e-8 - whoops - and the [recombination rate values](https://github.com/popsim-consortium/stdpopsim/blob/5d4ba60449b220bfd7001ef5c79ff563ef2215c0/stdpopsim/catalog/AedAeg/species.py#L9) for AedAeg are in cM/Mb, so need a `e-8` appended.

Here's the relevant table, to confirm:
![Screenshot from 2021-04-13 03-53-09](https://user-images.gi

[2021-04-13 11:00] grahamgower commented on #543
Done! But I think these tests are going to be problematic because of the current vagueries associated with calculating rate averages across maps (we've changed how this could work several times in the past 12 months).

[2021-04-13 11:34] #913 closed

[2021-04-13 11:34] #915 closed

[2021-04-15 04:22] petrelharp opened #921 "QC for {MallardBlackDuck_2L19} ({AnaPla})"
**PR for new model:** #883
**Original paper:** [Lavretsky et al 2019](https://www.utep.edu/science/lavretskylab/Articles/2020.Lavretsky-et-al.MEC_ddRAD.Capture_ABMA.pdf)
**Parameter values:** in the paragraph below this figure:
![params](https://user-images.githubusercontent.com/1046249/114813473-066e0d00-9d67-11eb-995c-51b5ba8b632d.png)
... and the ancestral population size was not reported; the

[2021-04-20 16:39] apragsdale commented on #902
Closed by #912

[2021-04-20 16:39] #902 closed

[2021-05-17 17:27] mufernando opened #940 "update unit test dev docs"
Now we use pytest not nose

https://stdpopsim.readthedocs.io/en/latest/development.html#unit-tests

[2021-05-20 10:32] #776 closed

[2021-05-25 16:16] petrelharp opened #944 "start selection docs"
- [x] add the autogenerated docs for `GenomicElementTypes`, `MutationTypes`, and new stuff to [`Contig`](https://stdpopsim.readthedocs.io/en/latest/api.html#stdpopsim.Contig)
- [x] fix `selection.py` examples (fixed in #945)
- [x] move the `selection.py` examples to a section in `tutorials` (this is #949)
- [ ] write an example pulling in an annotation

*Edit:* the Contig stuff is there, just not

[2021-05-25 16:46] petrelharp opened #946 "RTD not updating"
The documentation on readthedocs is not building because it's trying to build from `master`, not `main`. This is a [known issue](https://github.com/readthedocs/readthedocs.org/issues/7907) but is supposed to be fixed by changing the "default branch" in Advanced Settings:
![Screenshot from 2021-05-25 09-35-35](https://user-images.githubusercontent.com/1046249/119535180-9925a280-bd3c-11eb-8670-273d8

[2021-05-25 16:47] petrelharp commented on #946
Note that "default branch" is not something you can set in `.readthedocs.yml`.

[2021-05-25 16:55] mufernando opened #947 "Add length property to contigs"
I think length is a pretty useful property to have in `Contig`. At first I thought this could simply be a wrapper around `contig.recombination_map.sequence_length`, but it is possible to define contigs withot a recombination map, in which case I'm not sure how the msprime engine deals with this.

See #945 #930

[2021-05-25 17:03] apragsdale commented on #947
For generic contigs that are not specified using a cached recombination map, the `get_contig` method builds a `msprime.RateMap.uniform` genetic map. So the same properties, such as `contig.recombination_map.sequence_length`, should be available from both generic and chromosome contigs, right?

[2021-05-25 17:10] grahamgower commented on #947
Yep, that sounds right @apragsdale. Perhaps there's come confusion because the `Contig` class uses `default=None` for the arrtribs. Probably the default=None should be removed --- maybe a test or two is using it without a recombination map and needs to be fixed?

[2021-05-25 17:13] petrelharp opened #948 "Add annotations to catalog"
The annotations should be automatically parsed in the same way that genetic maps, demographic models, etcetera are as well. To do this, we need to edit [`docs/_ext/speciescatalog.py`](https://github.com/popsim-consortium/stdpopsim/blob/main/docs/_ext/speciescatalog.py) to pull in that information.

[2021-05-25 17:16] apragsdale commented on #947
Yeah, that makes sense to me as the source of some of the confusion. Not sure what the default should be otherwise though. Since it takes a string as the identifier of the genetic map to load, the default could be the string "uniform", or something like that, instead of None, so instead of checking `genetic_map is None`, we check `genetic_map == "uniform"`. Not sure...

[2021-05-25 17:35] mufernando commented on #947
Ah, great. Thanks @apragsdale and @grahamgower

That's definitely where the confusion arised for me.

[2021-05-31 23:56] petrelharp opened #952 "non-overlapping intervals error when using annotation"
This bit of the tutorial raises a non-overlapping intervals error:
[code]
raises
[code]

More seriously, it looks like `get_annotation_type_from_chromomosome` is not really tested.

[2021-06-01 01:21] mufernando commented on #952
@andrewkern haven't you worked out how to merge overlapping annotations?

[2021-06-01 16:22] jeromekelleher commented on #946
Fixed now? https://stdpopsim.readthedocs.io/en/latest/

[2021-06-01 18:31] petrelharp commented on #946
I think so! Thanks.

[2021-06-01 18:31] #946 closed

[2021-06-16 09:44] grahamgower commented on #940
This seems to have been fixed.

[2021-06-16 09:44] #940 closed

[2021-06-17 07:34] #842 closed

[2021-06-17 07:34] #778 closed

[2021-06-17 07:34] #788 closed

[2021-06-17 08:43] grahamgower opened #961 "link BGS models to annotation types/sources/other fields"
I wonder if we need more API around how BGS models will be written and used in practice. I'm thinking maybe some way to say "this is my `foo_bgs` BGS model, it has `N` types of genomic intervals, and uses mutation types `X` `Y` and `Z` for genomic intervals `A` `B` and `C`" and then separate *policy* for applying it to a given species: "this is my `foo_bgs_homsap` policy, it uses the `foo_bgs` BGS

[2021-06-17 12:04] grahamgower commented on #947
Fixed in #959 (length property added, and `Contig`s always have a recombination map).

[2021-06-17 12:04] #947 closed

[2021-06-17 12:06] grahamgower commented on #868
RTD is back now, and the docs say `main` and not `master`.

[2021-06-17 12:06] #868 closed

[2021-06-17 12:06] grahamgower commented on #876
RTD is back and seems to be working, so closing this.

[2021-06-17 12:06] #876 closed

[2021-06-17 12:11] grahamgower commented on #840
Looks like GitHub Actions are running on windows. E.g. https://github.com/popsim-consortium/stdpopsim/runs/2846599443

[2021-06-17 12:11] #840 closed

[2021-06-17 12:17] grahamgower commented on #757
Closed by #918.

[2021-06-17 12:17] #757 closed

[2021-06-17 12:19] grahamgower commented on #857
This is a duplicate of #715. @petrelharp, I'm not sure which issue you'd prefer to keep open?

[2021-06-17 12:22] grahamgower commented on #698
Can this be closed now @mufernando, or does something still need to be changed?

[2021-06-17 12:25] grahamgower commented on #659
Simple function to merge intervals [here](https://github.com/popsim-consortium/analysis2/blob/93d1b3f705bce6643113b47838120833c344ae9d/get_intervals.py#L18) (and test code below it).

Related to #952.

[2021-06-17 12:28] grahamgower commented on #655
We have GitHub "discussions" now. But most folks seem to be using the PopSim slack channel.

[2021-06-17 12:28] #655 closed

[2021-06-17 12:32] grahamgower commented on #654
Closing, as we're probably only going to introduce further confusion by making changes.

[2021-06-17 12:32] #654 closed

[2021-06-17 12:33] grahamgower commented on #646
Fixed in #644.

[2021-06-17 12:33] #646 closed

[2021-06-17 12:37] grahamgower commented on #607
Closed by #644.

[2021-06-17 12:37] #607 closed

[2021-06-17 12:37] petrelharp commented on #961
Yes - that's a great idea.

[2021-06-17 12:39] grahamgower commented on #606
Closed by #809.

[2021-06-17 12:39] #606 closed

[2021-06-17 12:43] grahamgower commented on #587
Closed by #644.

[2021-06-17 12:43] #587 closed

[2021-06-17 12:44] grahamgower commented on #585
Closing in favour of #944.

[2021-06-17 12:44] #585 closed

[2021-06-17 12:46] grahamgower commented on #579
Was there any progress on this QC @agladstein?

[2021-06-17 12:53] grahamgower commented on #550
There's been plenty of time since this issue was opened, so probably lots has changed. Is there anything actionable left to be done here @agladstein?

[2021-06-17 12:57] grahamgower commented on #571
Did the lifted-over maps get uploaded? I think the PonAbe #544, HomSap #543 and AraTha #539 species QC issues are still open because they need liftover recombination maps uploaded?

[2021-06-17 13:00] grahamgower commented on #533
Msprime now has some an island_model() function (and other generics).
https://tskit.dev/msprime/docs/stable/api.html#msprime.Demography.isolated_model
https://tskit.dev/msprime/docs/stable/api.html#msprime.Demography.island_model
https://tskit.dev/msprime/docs/stable/api.html#msprime.Demography.stepping_stone_model

[2021-06-17 13:01] #488 closed

[2021-06-17 13:03] grahamgower commented on #480
We've got a whole lot of stuff in the [dev docs](https://stdpopsim.readthedocs.io/en/latest/development.html) these days. Anything actionable here that we should think about @petrelharp?

[2021-06-17 13:04] grahamgower commented on #479
See msprime docs.
https://tskit.dev/msprime/docs/stable/api.html#msprime.Demography.isolated_model
https://tskit.dev/msprime/docs/stable/api.html#msprime.Demography.island_model
https://tskit.dev/msprime/docs/stable/api.html#msprime.Demography.stepping_stone_model

[2021-06-17 13:08] grahamgower commented on #441
The slim engine is using sim_ancestry() and sim_mutations() now. Anything specific we need to do to close out this issue? @jeromekelleher @mufernando

https://github.com/popsim-consortium/stdpopsim/blob/de8c2150b4f569b6a3ed1bd7d6d9d2e12b02ba82/stdpopsim/slim_engine.py#L1296-L1325

[2021-06-17 13:12] grahamgower commented on #423
Closing, as there are now comments in the code suggesting this is deliberatly undocumented.
https://github.com/popsim-consortium/stdpopsim/blob/de8c2150b4f569b6a3ed1bd7d6d9d2e12b02ba82/stdpopsim/species.py#L135-L139
https://github.com/popsim-consortium/stdpopsim/blob/de8c2150b4f569b6a3ed1bd7d6d9d2e12b02ba82/stdpopsim/species.py#L230-L244

[2021-06-17 13:12] #423 closed

[2021-06-17 13:26] grahamgower opened #962 "convert demographic models to Demes YAML files"
https://popsim-consortium.github.io/demes-spec-docs/main/introduction.html

[2021-06-17 13:27] grahamgower commented on #149
After we convert to Demes YAML files (#962), we can add figures to the docs with [demesdraw](https://github.com/grahamgower/demesdraw).

[2021-06-17 13:28] petrelharp commented on #441
Well, (a) `msprime.simulate` only appears in testing code, and (b) the phrase `discrete_genome` doesn't appear in the repository, and we'd need to set `discrete_genome=False` to get sim_ancestry to be continuous. So I think we're good (although we should probably change the testing code, and also there is [this note](https://github.com/popsim-consortium/stdpopsim/blob/de8c2150b4f569b6a3ed1bd7d6d9d

[2021-06-17 13:30] #136 closed

[2021-06-17 13:31] grahamgower commented on #104
Should we close this since #664 has been merged, or should we consider adding a curated set of mask files? @jeromekelleher

[2021-06-17 13:47] jeromekelleher commented on #104
Let's close

[2021-06-17 13:47] #104 closed

[2021-06-17 14:21] grahamgower commented on #441
Thanks @petrelharp. Looks like the test code is using msprime.simulate in quite reasonable ways (checking functions that do things with tree sequences), so I don't think we need to do anything there.

[2021-06-17 15:30] petrelharp commented on #480
Looks like we've got all or most of this. Yay! I'll close.

[2021-06-17 15:30] #480 closed

[2021-06-17 15:50] mufernando commented on #698
I think this can be closed, but it wouldn't hurt for @petrelharp to take a look at this:

https://github.com/popsim-consortium/stdpopsim/blob/de8c2150b4f569b6a3ed1bd7d6d9d2e12b02ba82/stdpopsim/slim_engine.py#L1263

[2021-06-17 16:23] mufernando commented on #961
ooh, that's exactly it!

the major hurdle was that we were assuming genomic element types were tied to specific intervals and this proposal neatly separates the BGS model from the intervals.

[2021-06-17 17:26] petrelharp commented on #698
It looks good to me. The conclusion was to [add a new mutation type](https://github.com/popsim-consortium/stdpopsim/blob/de8c2150b4f569b6a3ed1bd7d6d9d2e12b02ba82/stdpopsim/slim_engine.py#L1314), it looks like - is that as you expect?

[2021-06-17 17:33] mufernando commented on #698
I guess that seemed the least bad option, though I haven't documented that anywhere.

I thought that was the least bad option. We could look for a mutation type that is neutral and reuse it in the overlay/recapitation, but these could be being tracked by the user in their extended events. Also it might be useful to want to subset the mutations added with msprime vs within SLiM.

[2021-06-17 17:42] grahamgower commented on #698
Sounds good! I can't think of any immediate downside to using a new mutation type.

[2021-06-17 17:42] #698 closed

[2021-06-17 17:46] #441 closed

[2021-06-17 18:26] andrewkern commented on #571
where are the lifted-over maps? @jradrion are you holding those?

[2021-06-21 21:01] petrelharp commented on #857
I'l close the other, but quote @pblischak from it here:

[2021-06-21 21:01] petrelharp commented on #715
Closing in favor of #857

[2021-06-21 21:01] #715 closed

[2021-06-29 16:26] grahamgower opened #971 "Add more distribution types for SLiM `MutationType`s"
Well need this to implement a broader variety of DFEs. This should just be a few lines to check the parameter args. See here:
https://github.com/popsim-consortium/stdpopsim/blob/main/stdpopsim/ext/selection.py#L21

[2021-07-01 18:29] mufernando opened #973 "Contig API to add genomic element types is not working"
In PR #959 we introduced a bug and now the background selection examples in the tutorial stopped working. h/t @izabelcavassim

The problem arises because we allow some ambiguity in how to define neutral regions of a contig (which will be populated by `sim_mutations` post SLiMulation). You could either specify neutral regions as genomic elements or just leave them empty (with no genomic elements de

[2021-07-01 18:35] grahamgower commented on #973
Probably this will be a bit easier if we follow Jerome's suggestion to define intervals using `msprime.RateMap`s. But I'd still like to see more real-world examples of selection models so we can have more test cases for figuring out the API details.

[2021-07-14 05:43] mufernando opened #980 "support for different parametrizations of the gamma distribution"
https://en.wikipedia.org/wiki/Gamma_distribution

SLiM parametrizes the gamma distribution in DFE with mean (alpha*beta or k*theta, where alpha=k and beta=1/theta) and shape parameters.

however, most papers report alpha and beta (scale and rate). to make it easier for people to add DFE to the catalog I propose we follow R's convention (shape + rate or scale) https://stat.ethz.ch/R-manual/R-patche

[2021-07-14 05:50] grahamgower commented on #980
SLiM also allows negative numbers for the mean, which produce a reflected gamma distribution. Perhaps this is an important factor in how/why the gamma is parameterised in SLiM?

[2021-07-15 17:02] izabelcavassim commented on #980
if from dadi to slim annotation we need to also request the user the ancestral population size, since:
E[s] = -shape*scale*2/(2Na)

[2021-07-16 05:33] petrelharp commented on #980
Sure, either way. I vote against SLiM's shorthand for "negative mean implies deleterious", though.

[2021-08-03 16:53] petrelharp opened #991 "optionally output selection coefficients"
Here is a SLiM block that will send to output the selection coefficients of each new mutation:
[code]
then, we'd get these into a file by doing e.g.
[code]
that we can then plot (e.g., histograms).

Questions:
- Do we want to add this to *all* scripts (in which case we should dynamically disable it if verbosity is low? Otherwise, we need a new option to add or not this kind of thing.
- Should it b

[2021-08-03 17:27] grahamgower commented on #991
Nice! Enabling this for verbostiy>=2 or so seems like a good idea.

Are there enough mutations introduced in one generation to record enough informative data?

[2021-08-03 18:42] petrelharp commented on #991
Depends on the genome length! When we ran it on the KimDFE example from the tutorial we got about 500 mutations total from the whole simulation.

[2021-08-10 22:56] izabelcavassim opened #992 "model.get_demography_debugger() is not working"
Following the tutorial (https://stdpopsim.readthedocs.io/en/latest/tutorial.html#the-slim-burn-in) to print the demographic parameters under a given demography as:

[code]
I get an error:
**AttributeError: 'DemographicModel' object has no attribute 'get_demography_debugger'**
Was it an implemented feature not available any longer? Or am I doing something wrong?
Thanks

[2021-08-11 02:03] izabelcavassim opened #994 "QC for Africa_1B08 (Homo sapiens)"
**PR for new model:** [#993](https://github.com/popsim-consortium/stdpopsim/pull/993)
**Original paper:** [Boyko et al., 2008](https://doi.org/10.1371/journal.pgen.1000083)
**Parameter values:** Table S1 of the article:
<img width="923" alt="Screenshot 2021-08-10 at 18 53 41" src="https://user-images.githubusercontent.com/7824905/128957696-c6103aba-fd52-49cb-b2e6-5d856310e28f.png">

I used the exp

[2021-08-11 08:30] jeromekelleher commented on #992
The demographic model infrastructure is in the middle of a refactoring process while we get Demes finished up @izabelcavassim, so unfortunately some things are probably broken at the moment. For now, calling ``print(model.model.debug())`` should do the trick.

[2021-08-11 17:03] izabelcavassim commented on #992
Thanks!

On Wed, Aug 11, 2021 at 1:30 AM Jerome Kelleher ***@***.***>
wrote:

--
Postdoctoral Researcher
Dept. of Ecology and Evolutionary biology
University of California - Los Angeles (UCLA) - United States
Phone:  +1 (310) 593-1637
E-mail: ***@***.***
https://izabelcavassim.github.io/
Linkedin profile
<https://www.linkedin.com/profile/view?id=350503047&trk=nav_responsive_tab_profile>

[2021-08-12 13:05] #994 closed

[2021-08-17 17:29] petrelharp opened #999 "make DFE class"
For named DFEs we need a class, to be returned and used in constructing scripts, like the `DemographicModel` class.  Going off of the [KimDFE example](https://stdpopsim.readthedocs.io/en/latest/tutorial.html#incorporating-selection) we need the following attributes:
- `mutation_types`: a list of `MutationType`s
- `proportions`: a list of proportions (do they add up to 1? **yes** neutral should be

[2021-08-22 18:58] xin-huang opened #1000 "Pan troglodytes"
- **Name:** *Pan troglodytes*
- **Common name:** Chimpanzee

**Description:** any other discussion or useful background? (optional)

*Note: Maybe you don't know a lot of the things below - but, that's OK!
The criteria are that (a) the choice is reasonable, and (b) the rationale is clear.
What we want is a "reasonable estimate" (or, "best guess") - if you were to use a number in a paper,
what would

[2021-08-25 14:00] petrelharp commented on #991
Whoops - sorry, I didn't see this, @izabelcavassim! If your plots are still relevant, want to put them on slack, or in another issue?

[2021-08-25 14:28] petrelharp opened #1003 "`simulate( )` no longer takes `verbosity`"
Running this example from [the docs](https://stdpopsim.readthedocs.io/en/latest/tutorial.html?highlight=verbosity#outputting-the-slim-script):
[code]
I get
[code]
... I'm looking into what happened here.

[2021-08-25 14:36] petrelharp commented on #1003
Ah-ha: it was removed in 16260b585b0a3181f64cb2953e987e1f3b53af80.

[2021-09-22 05:37] petrelharp commented on #973
In #1002 we're adding an `add_DFE` method that we think probably ought to replace this.

[2021-09-22 06:29] petrelharp opened #1015 "test all demographic models using SLiM"
I'm not sure (and it's late) but I think that some of the demographic models currently produce errors in SLiM. TODO: check that they are being tested with SLiM and fix errors if any occur.

[2021-09-23 00:04] izabelcavassim commented on #584
I agree with @jeromekelleher that the ext module is unnecessary, maybe we could fix this @grahamgower and @petrelharp, before we push the [DFE_class](https://github.com/popsim-consortium/stdpopsim/pull/1002) PR?

[2021-09-23 03:47] petrelharp opened #1016 "test that msprime will not run with a non-neutral contig"
Right now you can simulate with a non-neutral DFE with msprime, and nothing errors. It should, and for this we probably need a `contifg.is_neutral()` method. I'm adding a test for this in #1002 (but skipping it).

[2021-09-23 04:05] petrelharp commented on #584
Let's do it in a separate PR.

[2021-09-23 22:36] izabelcavassim opened #1017 "add a flag to the CLI for choosing a DFE"
This feature will allow users to use the DFE class under the CLI.

[2021-09-28 16:21] igronau commented on #921
I'm going to try to QC this model

[2021-10-04 04:50] igronau commented on #552
I just QC'd my first model and it went fairly smooth. Adding more details to the docs would help, but not critical. One thing I found confusing was the species file in the qc dir. The doc says:

So I thought that the file name should have a _qc in the end. Maybe this should be changed to:

[2021-10-04 07:36] igronau commented on #579
I can do this QC now. I will do this as a piecewise constant model using the values in Supplementary Table S1. Note that this corresponds to Fig 4A and not Fig 4B. See this text from page 5 in the SI:

[2021-10-04 07:50] gregorgorjanc commented on #579
Thanks @igronau ! Yeah, supplementary table is where we took the last values from.

[2021-10-04 11:58] igronau commented on #579
I implemented the QC model and received two inconsistencies that I'd like to check with you:

1. I used a mutation rate of 0.94e-8 and you used a mutation rate of 1.00e-8. I took my mutation rate from the description of the simulations used to generate data. I assume that this value creates a good fit between simulated and real data. Not sure how much of a difference this makes.

2. The first epoc

[2021-10-04 12:22] gregorgorjanc commented on #579
@igronau thanks for pointing this out - I think we simply rounded up the mutation rate, but I agree that best if we use the reported value, the same for the number of generations. Shall I make the edits in the PR?

[2021-10-04 12:36] igronau commented on #579
I think so. After you update the model, I will re-run the QC and then add a PR with the QC code.

[2021-10-06 07:27] igronau commented on #579
@gregorgorjanc Another option is that I apply these two changes to your model (mutation rate <-- 9.4e-9 and first epoch <-- 3 yrs) and assign you to review the PR before accepted. Let me know what you prefer

[2021-10-07 12:07] qhelleu opened #1027 "Fire ant Solenopsis invicta"
**Name:**  _Solenopsis invicta_

**Common name:** Red imported fire ant

**Description:** The red imported fire ant _Solenopsis invicta_ is native to the South American countries of Brazil, Paraguay, Uruguay and Argentina. _S. invicta_ is a highly invasive ant, which has spread throughout the US, and is spreading in parts of the Caribbean, Australia, New Zealand, and southern China. This species i

[2021-10-12 17:06] izabelcavassim opened #1031 "String evaluation for species, genetic_map, models"
One useful feature would be to evaluate the strings that the users provide, and see if that string
is somewhat close to the specified in the catalog.
For now, we only give an error when it does not match, but we could be more informative than that.
so evaluate:
* whether the user's string and the catalog agrees on Uppercase and lowercase instances
* what index(es) do the two strings differ
* and g

[2021-10-12 17:22] vsbuffalo commented on #1031
This PR (https://github.com/vsbuffalo/stdpopsim/commit/3b825d808caf854f339b2fdb5bdbb9a53b0465d0) lists the catalog for `get_species()` and `get_genetic_map()` when the requested key isn't found, and Izabel is adding this to feature to demographic models.

[2021-10-13 06:43] grahamgower commented on #1031
I think something like this has already been proposed in #753 and #754.

[2021-10-19 16:24] petrelharp opened #1039 "Add DFE from Johri et al"
We'd like to add a DFE that is piecewise-uniform; here's a good one (on Zambian Drosophila):
 https://academic.oup.com/genetics/article/215/1/173/5930426?login=true
(See figure 6.)

[2021-10-19 16:34] petrelharp opened #1040 "add gamma DFE for Drosophila from Huber et al"

[2021-10-19 17:27] izabelcavassim opened #1041 "Add both annotation and DFE to the catalog documentation"
As discussed today in the stdpopsim meeting,
We need to describe how we invoke annotation, based on @andrewkern's implementation #960
And how we invoke the DFE based on the implementation @petrelharp and I had worked on #999

We should include those examples in this specific section of the doc:
https://stdpopsim.readthedocs.io/en/latest/tutorial.html#incorporating-selection

And modifications to t

[2021-10-19 21:01] andrewkern opened #1043 "add SLiM dependency"
I don't think we list SLiM as a dependency yet 😱 -- can pip handle this for us?

[2021-10-20 05:09] andrewkern opened #1044 "cannot layer DFEs"
The problem, is that by default contigs are created with a `genomic_element_type` for neutral mutations which spans the contig length and as currently implemented this creates a clash with any intervals handed to `add_DFE()`

**How to reproduce the problem:**
[code]
returns:
[code]
now if I add on selected mutations in a given range and look at the `genomic_element_types`
[code]
i see this
[code]

[2021-10-20 05:23] petrelharp commented on #1044
`add_DFE` is not broken; it's the API that is, um, not ideal. You haven't done `contig.clear_genomic_mutation_types()`.

I'm going to rename this issue to reflect the underlying issue: how do we layer DFEs? (you're trying to layer two DFEs, one of which is "flat neutral".

[2021-10-20 06:01] grahamgower commented on #1043
Hmm, no, unfortunately we can't do this with pip as it only doesn Python packages. But SLiM is on conda, so we can use it there in any conda environment.yml files (and in CI). We should definitely think about having a conda stdpopsim package for the next stdpopsim release.

[2021-10-20 16:23] andrewkern commented on #1044
this sounds good. would we want to do all neutral mutation in msprime? how can we make this compatible with a mutation rate map?

[2021-10-21 04:54] izabelcavassim commented on #1040
You can close this! @petrelharp

[2021-10-21 04:55] izabelcavassim commented on #1031
Thanks @vsbuffalo! I am closing this issue!

[2021-10-21 04:55] #1031 closed

[2021-10-21 04:57] izabelcavassim commented on #999
OK, I will start working on invoking the DFE under the CLI!

[2021-10-21 06:18] #1040 closed, assigned to nobody

[2021-10-21 16:23] #618 closed

[2021-10-22 07:31] petrelharp opened #1053 "Document API for adding selection"
I'd propose adding a new top-level section to the API page in the docs about annotations and selection. First let me try to take stock of things.

The basic thing that we want to be able to do is to say how the selection coefficent (mabye zero) of a new mutation is drawn, depending on where it is in the genome. We might also want to be able to label mutations (e.g., "coding" and "noncoding") beyon

[2021-10-22 07:56] petrelharp opened #1054 "QC for Gamma_H17 DFE in DroMel"
**PR for new DFE:** #1046
**Original paper:** [Huber et al 2017](https://www.pnas.org/content/114/17/4465)

[2021-10-22 08:00] petrelharp opened #1055 "implement QC for DFEs"
... following that for DemographicModels.

[2021-10-22 08:02] petrelharp opened #1056 "QC for Gamma_K17 DFE in HomSap"
The original paper is [Kim et al. (2017)](https://doi.org/10.1534/genetics.116.197145), and this is the "deleterious gamma" model.  This issue obviously depends on #1055.

[2021-10-22 08:19] grahamgower opened #1057 "split catalog documentation into multiple pages"
The catalog page is getting long now. While the menu keeps it easy to navigate, it would probably be better to split the catalog into one page per species.

[2021-10-22 08:19] petrelharp opened #1058 "build docs for stable and latest; set up RTD redirects"
As discussed in #1034, the RTD docs builds are failing but our alternative docs over at [github](https://popsim-consortium.github.io/stdpopsim-docs/main/index.html) work fine. These are built using the [docs.yml](https://github.com/popsim-consortium/stdpopsim/blob/main/.github/workflows/docs.yml) action. I think that
- [x] we should change the name from `main` to `latest` to match convention
- [x]

[2021-10-22 08:37] #1043 closed, assigned to nobody

[2021-10-25 07:51] #1041 closed, assigned to nobody

[2021-10-28 05:34] petrelharp opened #1068 "Insert SLiM code to test for correct architecture"
Here's some SLiM code that will print out information about genomic elements etcetera. once #1062 is in there we can insert this into the SLiM script optionally and use it for testing.
[code]
This produces, for instance, from this code:
[code]
the following tab-separated output:
[code]

[2021-10-28 20:52] izabelcavassim opened #1069 "QC all species already merged into stdpopsim"
Here is the list of species that need to be QC'eed.
Feel free to take one, and once you are finished let me know so I can check the box

- [x] (Multiple CONTIGS) QC for MyoLuc Species QC #899 opened on 9 Apr by lauterbur
- [x] QC for mallard (AnaPla) Species QC #888 opened on 9 Apr by petrelharp
- [x] QC for Chlamydomonas reinhardtii Species QC #890
- [x] (@vitorpavinato) Species QC for StrAga Spe

[2021-10-28 23:10] petrelharp opened #1071 "Require proportions of mutation types to always be 1.0"
Following on #1062 - the proposal is that for DFEs,

-    proportions of different mutation types always sum to 1
-    whether or not mutations are added by msprime is not a property of the contig, since is behavior of the simulation engine
-    we should just always have the SLiM engine pass neutral mutations off to msprime, and not even have an option that controls this behavior, since why would

[2021-10-28 23:13] petrelharp opened #1072 "Allow more than one DFE"
Following on #1062, and as discussed in #1053, the proposal is:

- when adding a new DFE, we use `mask_intervals` to mask previous DFEs' intervals
- no mutation types are shared between DFEs (even when you add the "same" DFE more than once)
- multiple instances of the same DFE are allowed (see discussion [here](https://github.com/popsim-consortium/stdpopsim/pull/1062/files#r738018951) for what thi

[2021-10-29 05:38] petrelharp opened #1074 "rename `clear_features` to `clear_DFEs`"
As discussed in #1062, we don't have anything called a "feature". Contigs do have DFEs, though, and that's what this method clears. I'm opening this issue because we want to merge #1062 already, though. Any objections, @andrewkern?

[2021-10-29 18:52] petrelharp commented on #1071
I'm thinking we'll *define* the mutation types, just not use them.

[2021-10-29 21:10] #1074 closed

[2021-10-29 23:24] petrelharp commented on #1072
Note: we do *not* want to share mutation types between DFEs, because users might end up with different DFEs having the same name but different mutation types.

[2021-10-30 16:53] aays commented on #890
Thanks for the heads up @petrelharp - I've added an explanation on the PR!

[2021-10-31 04:46] petrelharp commented on #1072
TODO:
- document methods or make them non-public (eg `compute_slim_mutation_breaks_and_rates`)
- test `all_intervals_array` more thoroughly with the code in `test_slim_engine`

[2021-11-01 05:31] petrelharp opened #1079 "make intervals and annotations code consistent and make all intervals integer-valued"
There's a number of operations on intervals in `utils.py` that are public but mostly undocumented. These are:
- `check_intervals_array_shape`
- `check_intervals_validity`
- `build_intervals_array`
- `mask_intervals`

Of these, I think that `check_intervals_array_shape` and probably `check_intervals_validity` should be private, and we should document the others.

Also, right now it's easy to get ve

[2021-11-01 13:33] petrelharp opened #1080 "make capitalization of DFE/dfe consistent in methods"
There's a mix of capitalization of DFE right now (e.g. `species.get_dfe` or `contig.add_DFE`). I vote to make them all lower-case except for the class name.

[2021-11-01 13:52] andrewkern commented on #1080
works for me

[2021-11-01 14:51] vitorpavinato commented on #859
Hi, @andrewkern. I am doing the QC for <i>Anopheles gambiae</i>. In this [publication](https://www.nature.com/articles/nature24995), they estimated the population size for nine populations. Did you pick one, or did you include all population sizes in the catalog?

[2021-11-01 15:40] petrelharp commented on #859
Uh-oh - did you notice https://github.com/popsim-consortium/stdpopsim/pull/906 @vitorpavinato ?

[2021-11-01 17:25] vitorpavinato commented on #859
Ops, my bad! I didn't see #906 @petrelharp.
I looked for all species QC labels but didn't check further. I am going to leave this species and pick another species to QC.

[2021-11-01 22:52] izabelcavassim commented on #1039
will follow this:
https://github.com/paruljohri/BGS_Demography_DFE/blob/master/Scripts/demo_disc_5_SingExon_osg.slim

[2021-11-02 04:29] izabelcavassim commented on #1069
@vitorpavinato can you do QC for QC for PonAbe #544  instead?

[2021-11-02 04:41] izabelcavassim commented on #890
can you close this @petrelharp? sorry forgot to mention in my other PR

[2021-11-02 04:44] izabelcavassim commented on #539
OK I will be QCing this and creating the tests.

[2021-11-02 04:47] izabelcavassim commented on #1069
I am doing right now Aratha and Drosophila sechellia. Just so you know @igronau!

[2021-11-02 04:51] petrelharp opened #1082 "Align selective sweeps API with DFEs"
The [API for incorporating selective sweeps](https://popsim-consortium.github.io/stdpopsim-docs/main/tutorial.html#selective-sweep) works directly with mutation type IDs (i.e., they need to know what the SLiM ID of the mutation type will be once it is simulated). Here's the rewrite of that example using the `add_DFE` way of doing things from #1078:
[code]

This works, but to make it easier, I prop

[2021-11-02 05:11] petrelharp commented on #1079
Furthermore, right now `Annotations` returns an array of floats. Is this desired, or do we want to *always* have intervals be ints? Options are:
- intervals are floats: easier, as RateMaps have float coordinates and contig.length is a floa and indeed all other coordinates in msprime/tskit, Conversion to int happens in the SLiM code.
- intervals are ints: more consistent as we're always doing thing

[2021-11-02 05:20] petrelharp commented on #1079
Also - I think that `contig.add_DFE( )` should take an Annotation object for the `intervals=` argument, in which case it Does the Right Thing.

[2021-11-02 05:37] petrelharp commented on #890
Yes! And gee you should be able to also. I've sent you an invite that *should* get you those permissions...

[2021-11-02 05:37] #890 closed

[2021-11-02 06:54] igronau commented on #1069
Great, thanks. I have my eye on Elise's bat species MyoLuc, but I'm not sure I'll have time this week (@lauterbur)

[2021-11-02 07:47] grahamgower commented on #1082
Yeah, we definitely need a wrapper function for this to avoid confusion. It seems a bit awkward that the mutation type needs to have a dummy DFE, but if this simplifies the implementation then I guess it's a win. Perhaps the name of the function could be more explicit, e.g. `Contig.add_single_site_mutation_type`?

[2021-11-02 07:53] grahamgower commented on #1079
I vote for integers. I think floats are a legacy that we should try to remove. In particular, contig.length is a float to support the `length_multiplier` params, which should be deprecated as discussed in #670.

[2021-11-02 08:00] grahamgower commented on #1069
Hey @izabelcavassim. Thanks for keeping an eye on all of this! From memory, AraTha and HomSap were waiting on some recombination map liftovers so that we match the maps with the genome coordinates used in the species definition. We really need a vollunteer to work through what is remaining to be done with the liftovers now that Jeff has moved on.

[2021-11-02 08:12] petrelharp commented on #1082
I think having DFEs *and* intervals *and* mutation types is a lot, and kinda redundant, when we can do with just the first two. I'd really like to remove the `.mutation_types` property altogether, since that's mostly reflecting how it happens to be implemented in SLiM. But we need some way of communicating which mutation types came from which DFE.

I don't think it's too bad to have a 'dummy' DFE,

[2021-11-02 13:43] vitorpavinato commented on #1069
Hi @izabelcavassim I can take care of __PonAbe__.

[2021-11-02 13:49] grahamgower commented on #1069
Cool, thanks @vitorpavinato. Please also see #595.

[2021-11-03 04:40] andrewkern commented on #1079
+1 -- i think we should definitely do this

[2021-11-03 06:34] petrelharp opened #1085 "write "how to add a DFE" section of the development docs"
Right now this is a stub.

[2021-11-03 06:59] petrelharp opened #1086 "make MutationTypes added by msprime to SLiM simulations consistent"
In #1078 the neutral mutations aren't of the "right" MutationType. I think this is OK and we can even get rid of `contig.mutation_types`, but I need to think this through.

[2021-11-03 10:20] LeonardoIasi opened #1088 "QC for OutOfAfricaExtendedNeandertalAdmixturePulse_3I21 (homo sapiens)"
**PR for new model:** https://github.com/popsim-consortium/stdpopsim/pull/1066
**Original paper:** https://doi.org/10.1093/molbev/msab210
**Parameter values:** https://github.com/popsim-consortium/stdpopsim/blob/main/docs/parameter_tables/HomSap/OutOfAfricaExtendedNeandertalAdmixturePulse_3I21.csv (is currently incorrect, new pull request will updates the table to the correct values). Here are the

[2021-11-03 16:34] petrelharp opened #1089 "un-skip tests when SLiM 3.7 released"
There's a number of tests in `tests/test_slim_engine.py` that are skipped because they rely on saving metadata, which isn't in the release SLiM yet. These should be un-skipped.

[2021-11-04 14:11] vitorpavinato opened #1091 "QC for stickleback"
**PR for new species:** #1105

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

The QC reviewer should start a pull request that fills out the test stubs
with independently obtained values.

[2021-11-04 16:52] #1072 closed, assigned to nobody

[2021-11-04 17:28] andrewkern commented on #1071
pretty sure this was now closed by #1078

feel free to reopen if not

[2021-11-04 17:28] #1071 closed

[2021-11-04 17:29] andrewkern commented on #1044
closing this issue as #1078 add this functionality

[2021-11-04 17:29] #1044 closed

[2021-11-04 21:16] izabelcavassim opened #1093 "Print for mutation and recombination rates using the scientific notation"
**Short description of the problem:**
when we print recombination rate it prints the round value:

**How to reproduce the problem:**
[code]
which produces
[code]
(recombination_rate is shown to be `0.00`, but is actually just very low.)

**Suggested fixes:**
not sure where this is located but I would be glad to fix it when I find out the print method for both recombination and mutation rate

[2021-11-04 23:29] izabelcavassim commented on #1069
We just need to figure out how to simplify the multiple contigs somehow, if we can't then we just don't add it to the catalog now.

[2021-11-05 05:49] #1080 closed

[2021-11-05 06:39] igronau commented on #1069
I'll have time to look at it next week. I saw that there many contigs, but maybe we can keep it this way. If there is enough additional information, such as mutation rate and a demographic model, then we should be able to allow adding species without fully assembled genomes.

[2021-11-05 15:46] petrelharp commented on #1069
I think there's no demographic model. It would be nice to have, but there
were also concerns about adding to the load time of the library?

[2021-11-05 18:11] vitorpavinato commented on #1069
Can we only include some of the contigs/scaffolds? The largest ones (> 10Mb)?

[2021-11-05 18:38] petrelharp commented on #1069
That's a good idea? A missing piece here is: what's the use case? Like, what do we want to do with this?

[2021-11-09 17:13] petrelharp opened #1096 "add Huber DFE to catalog"
In [analysis2](https://github.com/popsim-consortium/analysis2/pull/17/files#r745834732) @xin-huang is using this DFE:
[code]

This should be in the catalog if we're going to use it!

[2021-11-09 17:31] petrelharp opened #1097 "add DFE model reason for citations"
As for instance we need [here](https://github.com/popsim-consortium/stdpopsim/blob/main/stdpopsim/catalog/DroMel/dfes.py#L27):
[code]

[2021-11-09 19:10] izabelcavassim commented on #1096
I will have a look at the paper and make a pull request for the Huber DFE (hopefully today).

[2021-11-09 20:19] chriscrsmith commented on #1096
@izabelcavassim would it be inconvenient if I added this one? Good practice for me.

[2021-11-09 20:22] izabelcavassim commented on #1096
Sure, have a look at the Gamma_K17 one as an example (HomSap catalog in the
dfe.py file)! Let me know if you have any questions!

I will be available on slack! 🤗
On Tue, 9 Nov 2021 at 12.20, Chris Smith ***@***.***> wrote:

--
Postdoctoral Researcher
Dept. of Ecology and Evolutionary biology
University of California - Los Angeles (UCLA) - United States
Phone:  +1 (310) 593-1637
E-mail: ***@***.***

[2021-11-10 05:44] andrewkern commented on #1096
resolved by #1099

[2021-11-10 05:44] #1096 closed

[2021-11-10 06:54] andrewkern commented on #1082
so the next step after `Contig.add_single_site_mutation_type()` would be to define the parameters of the event(s) associated with the mutation type to be injected, e.g. a sweep.

So perhaps we want a function like `stdpopsim.ext.sample_conditional_on_allele_frequency(time, final_frequency, selection_coeff, ... )` that would call `Contig.add_single_site_mutation_type()` and then go ahead and set up

[2021-11-10 14:19] petrelharp opened #1100 "QC for Gamma_H17 (HomSap)"
**PR for new model:** https://github.com/popsim-consortium/stdpopsim/pull/1099
**Original paper:** https://doi.org/10.1073/pnas.1619508114

**Potential issues that might lead to differences between the model implementations:**
@chriscrsmith couldn't find the `proportions` that @xin-huang used in the paper.

**QC'er requests:** @xin-huang

[2021-11-12 00:52] petrelharp commented on #1082
To summarize:
- the Events need to know which mutation type to refer to
- this is too bad because we'd like to hide the implementation detail of which numeric ID goes with which mutation type

@andrewkern's proposal would get around this by (I think) adding a method that takes a contig and a bunch of other stuff and then both (a) sets up the mutation type/DFE in the contig *and* (b) sets up and re

[2021-11-12 05:26] petrelharp commented on #1093
Ah, this is in msprime, actually.

[2021-11-12 05:40] petrelharp commented on #1093
I think I've got this fixed up over at https://github.com/tskit-dev/msprime/pull/1906 although it won't take effect until the next msprime release.

[2021-11-12 05:40] petrelharp commented on #1093
I'm going to close this, anyhow.

[2021-11-12 05:40] #1093 closed

[2021-11-12 06:20] petrelharp commented on #1058
This is done! Note that for the redirects to work we need the `rtd_redirect` branch (which needn't be kept up to date or anything; it has no docs in it!).

[2021-11-12 06:20] #1058 closed

[2021-11-12 07:40] grahamgower commented on #1082
A string name for the mutation id is a great idea! We should probably transition to string names for the population id too.

[2021-11-13 05:47] andrewkern commented on #1082
I think this is a case of "why not both?"

i.e. i think we could provide convenience functions to the user to set up these commonly used models. for instance what if the code for sweeps were something like:

[code]

[2021-11-13 06:12] #1079 closed

[2021-11-15 19:34] vitorpavinato commented on #1069
I wasn't sure if a lot of o scaffolds would cause a slow species loading. So I tried to include the species I am working on ( [_Belgica antarctica_](https://www.nature.com/articles/ncomms5611) for now, it only has a scaffold-level genome of 4997 scaffolds, and the recombination rate I am working on it). The CLI loaded it as it would load other species (no lag). So, I think it is better to include

[2021-11-16 00:19] fbaumdicker opened #1111 "adding ploidy as an attribute of species"
**using values for ploidy unequal to 2**
*Currently the ploidy is set to 2 for all species, when simulating with msprime.
Instead, we could add a ploidy attribute (with default 2) to the species class. Ploidy could then be passed down to the simulation engine.*

**Rationale and considerations:**
*Currently the following simulation will lead to too many trees, as the ploidy of EscCol is 1 and this

[2021-11-16 00:32] izabelcavassim commented on #1017
closed based on #1052

[2021-11-16 00:32] #1017 closed

[2021-11-16 00:34] izabelcavassim commented on #1097
close this based on #1052
I can't close Peter, can you? @petrelharp

[2021-11-16 04:14] #1097 closed

[2021-11-16 05:10] izabelcavassim commented on #1069
I think the problem here @vitorpavinato is if we start adding a bunch of draft assemblies and then it would hurt the storage and loading. But maybe we can talk about that tomorrow in our biweekly meeting?

[2021-11-16 05:45] izabelcavassim opened #1112 "Add more ways of specifying DFE intervals in CLI"
We have just implemented the --dfe-intervals in #1052 and would like to make this feature even more flexible

So the user will only be loading up a single contig worth of annotation using the custom bed feature
That means that we can just say
intervals = np.loadtxt("foo.bed",usecols=[1,2])
and then intervals will have shape (n, 2)
that’s all there is, and then we just have to pass that to add_dfe

[2021-11-16 05:46] izabelcavassim commented on #1112
or maybe instead of --dfe-interval, the one accepting bed files could be called --dfe-interval**s** with s

[2021-11-16 06:00] izabelcavassim opened #1113 "Add annotation (gff file) as an input to --dfe-intervals, as --dfe-annotation"
We have just implemented the --dfe-intervals in #1052 and would like to make this feature even more flexible

So the user will only be loading up a single gff file, that can then be parsed based on the annotation of the file.
I guess we need to think about this carefully,
But the user could define a different DFE for each annotation found in the GFF.

@andrewkern has implemented the parser for a g

[2021-11-16 08:40] grahamgower commented on #1112
In general I'm against using the same cli options for multiple things. There's always going to be silly corner cases that are ambiguous (e.g. "1000,2000" is a valid filename on most filesystems). Also, having two options with nearly identical spellings is likely to be a source of errors or annoyance for users. My vote is to:
 - Call it `--dfe-intervals` and have it accept the filename of a bed fil

[2021-11-16 16:28] izabelcavassim commented on #1112
Hey @grahamgover, thanks for your suggestions.

I quite agree with what you are saying, @petrelharp just wanted us to keep
the string interval, so people could quickly simulate something with
selection.

I think for pedagogical purposes I would keep the string one! Maybe doing
in the echo way could work. Documentation just needs to be clear.

On Tue, 16 Nov 2021 at 00.40, Graham Gower ***@***.***>

[2021-11-17 01:06] fbaumdicker opened #1114 "add gene conversion rates to the SLiM engine"
**Enable stdpopsim to pass the gene conversion rate and mean gene conversion tract length to SLiM engine**
*Gene conversion is an important but often overlooked mechanism, not only for haploids but also for diploids.*

**Rationale and considerations:**
*in #1106 we are currently adding gene conversion as two parameters of the species/contigs that are passed to the msprime engine. It would make sen

[2021-11-17 01:51] fbaumdicker opened #1115 "adding mean gene conversion rates and tract lengths for the diploid species in the catalog"
**Currently the diploid species in stdpopsim lack gene conversion parameters**
*The addition of gene conversion will make the simulations more realistic. Gene conversion can break down LD in a different way compared to recombination. As e.g. discussed in this paper https://doi.org/10.1111/mec.13736.*

**Rationale and considerations:**
* Some people argue that gene conversion is initiated more unif

[2021-11-17 04:30] petrelharp commented on #1115
I think we'd definitely like to put in estimates for GC rate and tract length for species where that's available! I suppose someone should do it and someone else QC it. As for whether it should be optional or not - it'd help to know how much longer it makes simulations take? Like, how much longer does turning on GC make a simulation of a human chromosome take? (I think this was benchmarked in the

[2021-11-17 04:54] andrewkern commented on #1115
+1

we probably have this for Arabidopsis and Mus as well.

[2021-11-17 08:09] jeromekelleher commented on #1115
Roughly the same as adding more recombination at that rate, perhaps a little less because GC tends to generate less trapped material.

[2021-11-17 08:50] fbaumdicker commented on #1115
As GC rates are usually higher than recombination rates, for human population data that would mean we will at least double or triple the time needed in msprime. I guess the time SLiM needs would not change that much.

[2021-11-17 18:13] petrelharp commented on #1112
I've changed the name of this because we should consider the big picture, including #1117, and I think this is a good place to discuss. The proposed ways of specifying DFE intervals are:

0. do not specify; defaults to whole contig
1. specify a single interval like `--dfe-interval 1000,2000` (done)
2. specify a named Annotation like `--dfe-annotation HomeSap/CDS` (#1117)
3. specify the name of a b

[2021-11-17 18:17] petrelharp commented on #1112
Whoops - I missed another one: #1113 suggested also proposed allowing a GFF file as well. I guess I'd propose that'd be

4. specify the name of a gff file like `--dfe-gff-file my_annotation.gff`

... but maybe there's an easy way to go from gff -> bed so we can let the user do this?

[2021-11-17 18:23] izabelcavassim commented on #1112
I proposed the bed one in #1116, but should be modified if we decide to use
the flag  --dfe-bed-file

On Wed, 17 Nov 2021 at 10.17, Peter Ralph ***@***.***> wrote:

--
Postdoctoral Researcher
Dept. of Ecology and Evolutionary biology
University of California - Los Angeles (UCLA) - United States
Phone:  +1 (310) 593-1637
E-mail: ***@***.***
https://izabelcavassim.github.io/
Linkedin profile
<https:

[2021-11-17 18:29] grahamgower commented on #1112
I think gff opens a can of worms, because its unlikely the gff intervals are usable without filtering. So then we'd need to provide an interface for which fields to filter and their value(s), etc. This stuff is currently in the maintenance code, but I don't think we want to provide an API for it. Maybe if we really want to do something in this regard, we could provide an awk command or two in the

[2021-11-17 19:16] petrelharp commented on #1112
@mufernando points out the BED files aren't guaranteed to be non-overlapping, so we need a proposal for how to deal with that (check if they are and error if not?)

[2021-11-17 19:17] grahamgower commented on #1112
That's a good point. Yeah, lets just throw an error.

[2021-11-17 19:56] andrewkern commented on #1112
the case of overlapping intervals  should be covered by https://github.com/popsim-consortium/stdpopsim/blob/a00085c50fd4dba7261bc911bc9def0579755777/stdpopsim/utils.py#L193

[2021-11-17 21:50] petrelharp commented on #1112
What do you think about (0-3) above, @grahamgower?

[2021-11-18 04:58] andrewkern commented on #1112
just a brief update here: #1117 is ready to go and it implements 0-2 above.

i propose that we merge that PR and then @izabelcavassim you might rebase #1116 off of that?

[2021-11-18 07:34] grahamgower commented on #1112
I think we agree on the important stuff: 0, 2, 3 (`--dfe-bed-file` is also a reasonable spelling). Your suggested use case for 1 seems plausible, so sure, lets keep the string interval.

[2021-11-18 17:46] izabelcavassim commented on #1112
sounds good to me @andrewkern I will also open an issue about documenting on how to use the 3 different features of selection intervals

[2021-11-18 17:50] izabelcavassim opened #1118 "Add to docs how to use the different selection intervals"
Include examples in docs off PR #1117 on how to add the selection with a given interval
using both:
--dfe-annotation
--dfe-interval

[2021-11-18 18:06] andrewkern opened #1119 "refactor `test_slim_engine.py` to move `TestCLI` class into `test_cli.py`"
as pointed out in https://github.com/popsim-consortium/stdpopsim/pull/1117#discussion_r751929921 `test_slim_engine.py` currently is holding tests for the CLI that should probably be in `test_cli.py` instead. see this class:

https://github.com/popsim-consortium/stdpopsim/blob/a00085c50fd4dba7261bc911bc9def0579755777/tests/test_slim_engine.py#L259

we should probably refactor this out

[2021-11-18 18:22] andrewkern commented on #1112
okay @izabelcavassim -- let's get the bed file option in now

[2021-11-18 19:06] izabelcavassim commented on #1113
resolved in #1117

[2021-11-18 19:06] #1113 closed

[2021-11-23 17:52] andrewkern commented on #571
hey @jradrion @grahamgower -- just resurrecting this thread as it's time to capitalize on all this nice code / analysis @jradrion has put in place.

I wonder if you guys and others might have a list of species that we need liftovers from?  cc: @izabelcavassim

[2021-11-23 18:26] grahamgower commented on #571
HomSap and AraTha are the two early species that still need liftover attention. I don't know about more recently added species.

[2021-11-23 20:39] izabelcavassim commented on #859
@andrewkern #906

[2021-11-24 14:43] petrelharp opened #1122 "check correctness of intervals loaded from bed file on command line"
Right now (#1120) we're just checking things run, not that the intervals are actually the ones we expect. We might do this using the top-level metadata, using [this function](https://github.com/popsim-consortium/stdpopsim/blob/3fd630a25a9448c0c2ad26415fe541b99630dbee/tests/test_slim_engine.py#L938).

[2021-11-24 18:10] jradrion commented on #571
Sounds good @andrewkern . I should have some time to take a look this weekend, but what @grahamgower said rings true to me atm.

[2021-11-27 16:37] sunyatin opened #1123 "Correct labels of populations on demesdraw figures?"
Dear all,

I feel like the ordering of population labels for several of the Homo sapiens demographic models (eg. PapuansOutOfAfrica_10J19, OutOfAfricaArchaicAdmixture_5R19) that are represented in the [doc](https://popsim-consortium.github.io/stdpopsim-docs/main/catalog.html#sec_catalog_HomSap_models) are suspicious... I feel like they correspond to the order of the populations_configuration, but

[2021-11-27 19:45] grahamgower commented on #1123
Yes I think you're right. Ping @aabiddanda.

[2021-11-28 17:03] aabiddanda commented on #1123
Great spot @sunyatin - it was a remarkably simple fix and an oversight on my part. I've put in a PR to fix this: #1124 just now. If you have any comments on the catalog or the images feel free to let me know!

[2021-11-30 00:53] izabelcavassim commented on #1112
done :D

[2021-11-30 00:53] #1112 closed

[2021-11-30 08:23] grahamgower commented on #1123
Closed by #1124.

[2021-11-30 08:23] #1123 closed

[2021-11-30 08:27] grahamgower opened #1128 "Catalog docs don't show population names in "populations" table"
Both "index" and "id" are integer ids. It looks like the Population class's `id` attribute is the string identifier, so we should display that.

[2021-11-30 20:59] petrelharp opened #1129 "is msprime pip+git installable?"
Currently, pip thinks that stdpopsim [requires mprime>=1.0.0b1](https://github.com/popsim-consortium/stdpopsim/blob/ca6e438f5e54ce3d6345774a181102ccffa05fad/setup.py#L37), a version that doesn't exist. In `requirements/development.txt`, we [require msprime>=1.0.2](https://github.com/popsim-consortium/stdpopsim/blob/main/requirements/development.txt#L16), which works. I guess we should switch this

[2021-11-30 21:02] petrelharp commented on #1129
Oh wait: msprime is up to [1.0.3 on PyPI](https://pypi.org/project/msprime/), while the highest number in that list is 1.0.0a5. So, never mind, there must be something wrong with @vsbuffalo's setup, I think? Vince?

[2021-11-30 22:02] vsbuffalo commented on #1129
I just upgraded conda (`conda update conda`) and did:

[code]

Perhaps this pip/git approach isn't the right thing to do (@andrewkern recommended just using `pip install .`).

[2021-11-30 22:14] andrewkern commented on #1129
looks like something is wrong on your side @vsbuffalo. this worked just fine for me:

[code]

i'm guessing that because you aren't specifying the python install in the new env, when you type `pip install` it's looking in the wrong place. you could probably confirm that with `which pip`

[2021-11-30 22:31] vsbuffalo commented on #1129
Thanks — it was grabbing the wrong pip. I thought I solved this last week but apparently, it's not!

[2021-11-30 22:31] #1129 closed

[2021-12-07 17:40] petrelharp opened #1139 "remove simulated tree sequence from repository"
We'll need to remove it from the history also, using [BFG repo-cleaner](https://rtyley.github.io/bfg-repo-cleaner/).

After we do this, since we're rewriting history, everyone will have to force-update, like so (assuming that this respository is `origin`):
[code]

[2021-12-07 17:43] jeromekelleher commented on #1139
We'd usually recommend this repo would be peoples ``upstream`` wouldn't we?

[2021-12-07 17:47] petrelharp commented on #1139
I dunno - if they did `git clone`, it'd be `origin` by default, right?

[2021-12-07 17:57] jeromekelleher commented on #1139
Not if they follow the [recommended workflow](https://popsim-consortium.github.io/stdpopsim-docs/stable/development.html#github-workflow)

Where's the simulated trees file?

[2021-12-07 18:49] grahamgower commented on #1139
Should this issue be transferred to the [analysis2 repo](https://github.com/popsim-consortium/analysis2/)?

[2021-12-07 21:45] petrelharp commented on #1139
Whoops yes. =)

[2021-12-07 22:48] petrelharp opened #1140 "recapitation fails with new SLiM because of mismatching population names"
Using the development version of SLiM, running the example from the `analysis2/README.md`:
[code]

... gets the following error:
[code]

I'm not clear yet if this is a problem with SLiM, with tskit udpates, or with stdpopsim.

[2021-12-07 23:38] mufernando commented on #1140
This is definitely on us. Older version of SLiM did not have population names and the new one does. Problem is now the default population name in SLiM is `p0`, `p1` and so on.

In doing the recapitation, we rely on `msprime.Demography.from_old_style` to create the `Demography` object that is used in the recapitation. By default, msprime defines population names as `pop_0`, `pop_1` and so on, which

[2021-12-08 03:57] andrewkern commented on #1140
Does it work with the stable slim release?

[2021-12-08 07:28] grahamgower commented on #1140
The appropriate fix is for us to set the population names in the SLiM code we're generating (so, `p1.name = "foo"`) and make sure we set those names on the demography object that is passed into msprime for recapitation. We'll need to depend on SLiM 3.7 to do the former.

Yeah, no problems there.

[2021-12-09 22:58] xin-huang opened #1141 "Neutral proportion should be 0"
Hi
I think neutral proportion should be 0 in https://github.com/popsim-consortium/stdpopsim/blob/main/stdpopsim/catalog/HomSap/dfes.py#L83

Because `neutral mutations have 0 proportion because they are not simulated by SLiM`
https://github.com/popsim-consortium/analysis2/commit/4fc99b1dcb638f7d3d8064064360ede354ea83fb#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5L31

[2021-12-10 08:19] grahamgower commented on #1141
Hmm. Did that behaviour get changed recently? Maybe @izabelcavassim, @mufernando or @petrelharp knows?

[2021-12-10 08:33] grahamgower commented on #1140
Once the names match, there's an additional problem. See https://github.com/tskit-dev/msprime/issues/1947

[2021-12-11 13:53] xin-huang commented on #1141
I fixed the neutral proportion to 0 https://github.com/xin-huang/stdpopsim/blob/main/stdpopsim/catalog/HomSap/dfes.py#L83
and rerun the DFE pipeline https://github.com/xin-huang/analysis2/blob/dev/benchmark/Snakefile

I got similar results (https://github.com/xin-huang/analysis2/blob/dev/benchmark/plots/chr21/dfe.inference.benchmark.neu.prop.0.pdf) as the ones (https://github.com/xin-huang/analysi

[2021-12-11 15:54] petrelharp commented on #1141
Neutral proportions should not be zero: we changed this when re-working the DFE API after a good deal of discussion. The reason is that whether or not neutral mutations are simulated by SLiM or overlaid afterwards is an implementation detail that should not be visible in the DFE specification.

If you're getting different results, I suspect there's something wrong with your pipeline? (and: Apologi

[2021-12-11 15:54] #1141 closed

[2021-12-14 15:35] igronau commented on #899
In the group call on Nov 30, 2021, we decided that species with many contigs and without any demographic model will no be added to the catalog. So I stopped QC-ing this species.

[2021-12-14 15:39] igronau commented on #881
I will start QC-ing this species

[2021-12-14 17:25] petrelharp opened #1146 "add "sex determination""
Currently everyone is simulated (in SLiM for instance) as hermaphroditic. We should include the sex determination system in the species description (and, use it).

[2021-12-14 22:14] vitorpavinato commented on #881
Do we need to parametrize this species with "mean gene conversion rate and gene conversion tract length" as mentioned here #1106?

[2021-12-15 14:12] izabelcavassim opened #1147 "Create a DFE debugger"
*This template is a suggestion that may not fit your issue: delete/modify anything!*

**Short description of what you'd like added:**
Create a DFE debugger as suggested by @mufernando. The idea is to follow more or less the demography debugger
such as model.get_demography_debugger().print_history()
The function get_demography_debugger().print_history() is actually not working under the current ver

[2021-12-15 14:17] izabelcavassim commented on #1118
Just submitted a PR in #1145, will work a bit more but as soon as I am done I would be happy to get someone to go through it. Maybe @mufernando?

[2021-12-15 17:05] petrelharp commented on #1147
This is a nice idea. What is it a method of? Perhaps this is just a more informative `print( )` method for `Contig`? Looking at an example,
[code]
... note that we pass in separately `model` and `contig`, so there's no further-downstream thing we could provide a summary method for besides the `ts`.

[2021-12-15 18:57] petrelharp opened #1148 "store annotation information in metadata"
Proposal (with @mufernando):
In the SLiM script we know what mutation type goes in each genomic region, but we don't use that information later when adding neutral mutations with msprime.
So, we should in fact store that information in top-level metadata, and use the information to tell msprime which mutation types to add.

To do this, we need to:

1. store in metadata, for each DFE, (a) the inter

[2021-12-15 19:02] petrelharp opened #1149 "don't simulate neutral mutations in SLiM"
@mufernando points out that it looks like we are actually simulating neutral mutations twice, once with SLiM and once with msprime. The fix should be to change [this line](https://github.com/popsim-consortium/stdpopsim/blob/1c489090a6dde9414dc1b8825cdb2d0d540dbe3c/stdpopsim/slim_engine.py#L946) to something like:
[code]

We also should have a test that catches this, by doing a SLiM simulation with

[2021-12-15 19:09] mufernando commented on #1149
test that neutral mutations have proportion 0 in SLiM, similar to this: https://github.com/popsim-consortium/stdpopsim/blob/1c489090a6dde9414dc1b8825cdb2d0d540dbe3c/tests/test_slim_engine.py#L987

[2021-12-16 12:39] mufernando commented on #1149
Peter, it looks like this test you linked is doing the right thing. But none of these tests were being run because we were waiting for SLiM 3.7. See how you were computing the proportion of neutral mutations and excluding them from the mutation rate here: https://github.com/popsim-consortium/stdpopsim/blob/1c489090a6dde9414dc1b8825cdb2d0d540dbe3c/tests/test_slim_engine.py#L997

[2021-12-21 08:11] #1140 closed

[2021-12-22 15:55] #1149 closed

[2022-01-05 08:22] grahamgower opened #1162 "Use a fixed seed in SLiM engine tests."
Maybe this is an issue with seed propagation, but not having a fixed seed can lead to intermittent test failures, e.g.

[code]

[2022-01-11 17:09] petrelharp opened #1164 "pass recombination map to recapitation"
Currently, we aren't, as asked by @vsbuffalo

[2022-01-12 15:33] noscode commented on #880
Hi, @percyfal,  I am QCing your species, I have several questions:

Checklist:

I have found two estimations for population size in [Pardo-Diaz et al. 2012](https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1002752#pgen.1002752.s005). As I understand the authors have inferred parameters for IM model for two datasets. According to PR#835 we use the value 2111109 (Table S3) from

[2022-01-13 02:52] petrelharp commented on #1164
Wait, I don't know what I am talking about - we *do* use the correct recombination map, as [provided by the contig](https://github.com/popsim-consortium/stdpopsim/blob/main/stdpopsim/slim_engine.py#L1410).

[2022-01-13 08:15] grahamgower opened #1168 "enable slim engine tests on windows"
As of SLiM v3.7, Windows is a supported platform. And there are conda packages we can use in CI. There might be additional tweaks needed to get this going (e.g. #427).

[2022-01-13 16:34] petrelharp commented on #1168
omg, this is wonderful. Thanks for helping get this going!!!

[2022-01-13 17:20] petrelharp commented on #1162
I've tracked the cause of this error down - with a large `Q`, we can have quite a few mutations of large effect, and once there are enough of these, the maximum sum of mutation effects per individual falls below -30 or so, and then we run into floating point error, since everyone's fitness is like exp(-30), which is practically zero. To see this, run:
[code]
then append the following chunk to `tes

[2022-01-20 01:05] petrelharp opened #1173 "test for correctness of CLI simulations"
In #1145 @izabelcavassim caught a bug in the DFE CLI where passing an annotation or an interval on the CLI would have been effectively ignored. We are testing that the CLI runs, but need to have some sort of test for correctness, at least for DFE-related things.

[2022-01-20 14:55] petrelharp opened #1174 "read_bed does not work with one-line bed files"
To reproduce:
[code]
gets
[code]

A one-line bed file might be used with the `--inclusion-mask` command-line argument.

[2022-01-25 01:31] izabelcavassim opened #1177 "slim version 3.7 unable to overwrite subpopulations names when including a DFE to simulations"
**Short description of the problem:**
When installing slim=3.7 and trying to add selection to the simulations (in python) such as:

[code]
I get the following error:

[code]
It might be to do with the fact that the new slim version does not allow to re-use population names (in this case p1?)

[2022-01-25 14:45] petrelharp commented on #1177
I will track this down.

[2022-02-02 05:43] petrelharp commented on #1177
This was closed in https://github.com/MesserLab/SLiM/pull/276; but now we need to change the CI to use development SLiM instead of the release version, until a new release.

[2022-02-03 00:48] #1177 closed

[2022-02-03 00:50] petrelharp opened #1182 "undo #1181 with SLiM 3.7.1"
To avoid a bug in SLiM we're doing tests with the development version of SLiM, but should undo that when the new release comes. (see #1181)

[2022-02-08 09:02] grahamgower opened #1187 "test action is broken"
This line is trying to clone a pr that has been closed (and thus doesn't exist).
https://github.com/popsim-consortium/stdpopsim/blob/a74b25c514a68165013a71cd04cee39031d8bad4/.github/workflows/tests.yml#L87

E.g. failure here.
https://github.com/popsim-consortium/stdpopsim/runs/5099954537?check_suite_focus=true

[2022-02-08 10:44] grahamgower commented on #1182
Also see #1188. When undoing this, check for `TODO[#1182]` in the workflow file.

[2022-02-08 12:52] #1187 closed

[2022-02-08 23:29] petrelharp opened #1189 "proportion of neutral mutations in Kim DFE?"
This is currently [set to 30%](https://github.com/popsim-consortium/stdpopsim/blob/main/stdpopsim/catalog/HomSap/dfes.py#L42), but we think this was just based on a rough guess. We should at least document the rough guess, and probably make a better one.

[2022-02-08 23:34] apragsdale commented on #1189
I think the ratio that they used is 2.31:1 (nonsyn:syn), so 0.3 is pretty much right (1/3.31 = 0.302).

[2022-02-08 23:38] mufernando commented on #1189
aha, that is exactly what I assumed.

I did something analogous to this I think?
[4:41](https://popsimgroup.slack.com/archives/C026K1JFAMQ/p1626291669032700)
note I say the proportion oof mutations that have their fitness drawn from the kim dfe to be 70%
[4:41](https://popsimgroup.slack.com/archives/C026K1JFAMQ/p1626291677033100)
that is 2.31/3.31

[2022-02-08 23:41] mufernando commented on #1189
note though that that is an assumption of the Kim DFE, not something that they estimated necessarily. https://academic.oup.com/genetics/article/206/1/345/6064197?login=false

We won't be able to do better, I don't think... Unless we want to completely specify a nucleotide mutation model and ancestral sequence...

[2022-02-08 23:54] ckyriazis commented on #1189
The 2.31:1 ratio comes from Huber et al. 2017 - this is the relevant text from their SI:

on the transition/transversion ratio and CpG mutational bias. We assumed a
transition:transversion ratio of 2:1 in Drosophila (3, 4) and 3:1 for human exons (5, 6). Further,
we assumed a 10x mutational bias at CpG sites in humans, but no such effect in Drosophila (7).
This leads to multipliers of LNS = 2.85 x

[2022-02-09 00:28] petrelharp commented on #1189
Ok, we ought to document this somewhere. (And, make some more information appear about DFEs in the catalogue?)

[2022-02-09 06:54] grahamgower commented on #1189
Wasn't this just translated from the 2.31:1 ratio of weights in my original KimDFE selection example? https://github.com/popsim-consortium/stdpopsim/blob/380ab4f00e3110b94f551fcdd3048704872d562a/docs/selection_example.py#L144-L156

[2022-02-09 17:10] petrelharp opened #1190 "add log file to SLiM output"
As discussed yesterday at the meeting, it would be useful to have an optional logfile output from SLiM that writes out periodically the mean and SD of fitness per population. I'd propose adding an argument `logfile_interval` to the SLiM engine that defaults to `0`, meaning "don't log", but can be set to something positive to enable logging. I can do a PR up for this.

[2022-02-09 18:17] andrewkern commented on #1190
sounds good to me

[2022-02-14 15:08] #1147 closed

[2022-02-15 17:35] petrelharp commented on #880
Just checking in here - @percyfal could you have a look at @noscode's questions above?

That choice for generation time sounds good to me.

We've got to make some choices, so this choice seems OK - but perhaps it should be stated explicitly in the description?

[2022-02-15 17:43] petrelharp opened #1197 "clarify use of generation time and units of rates"
In checking a QC, I just got mixed up about whether `mutation_rate` and `recombination_rate` are in units of "per year" or "per generation". As far as I can tell:

- mutation and recombination rates are in units of "per generation"
- time units in the "parameters" of demographic models say whether they are in years or generations, helpfully
- the msprime engine simulates things with time units of

[2022-02-15 18:08] grahamgower commented on #1197
Everything is per generation. The SLiM engine attempts to output a faithful representation of the demographic model into the slim script (as multidimensional arrays), with times given in the same units as the original model. When the slim script runs, it uses the provided generation time to convert times back into generations.

My intention was for a user to be able to grab the generated slim scri

[2022-02-15 18:41] percyfal commented on #880
Hi @petrelharp and @noscode, sorry for the delay. Using 35/365 as generation time makes perfect sense. The chosen value for population size too, as long as mention is made of a choice having been made.

No, you're right - all chromosomes >10Mbp, except 1 and 3, lack the last digit.

[2022-02-15 21:12] petrelharp commented on #1197
Hold on, I'm confused (apologies). Here you're implying that some demographic models *don't* have times in generations. Can you point to an example?

[2022-02-16 05:27] petrelharp commented on #880
Wow, good catches there, @noscode!

[2022-02-16 06:39] grahamgower commented on #1197
Sorry, yes, the demographic models are stored with time units in generations (as one expects for an msprime.Demography object). But most code implementing a demographic model (i.e. the human-readable implementation) writes time values in years for interpretability and/or easy comparison to a publication, and subsequently converts them to generations as the model is constructed.

[2022-02-16 06:46] petrelharp commented on #1197
Sorry, I'm still being dense - it sounds like everything is OK, but: how do you tell if a model is written in years or generations? And where does "writes time values in years" go?

[2022-02-16 06:51] grahamgower commented on #1197
What I mean is that when we look at the code implementing demographic models, we mostly see things like this:
https://github.com/popsim-consortium/stdpopsim/blob/33d5e2dce84ace9e1168f82c8ffc99e08c0f1bde/stdpopsim/catalog/HomSap/demographic_models.py#L275-L279

In the SLiM engine, there really is no way to know if the model was written like that. Some demographic models do use generations as units

[2022-02-16 06:59] petrelharp commented on #1197
Ok, I got that part. But then what's going on with all the conversions with `generation_time` in the slim engine code? Since times are already in generations, why do they need to be converted?

[2022-02-16 07:02] grahamgower commented on #1197
They don't need to be converted. It is redundant.

[2022-02-16 07:12] grahamgower commented on #1197
Let me try to explain again...

Because model implementations looked like this:
https://github.com/popsim-consortium/stdpopsim/blob/33d5e2dce84ace9e1168f82c8ffc99e08c0f1bde/stdpopsim/catalog/HomSap/demographic_models.py#L275-L279

I wanted the generated SLiM scripts to have values in years like `220e3` inside the multidimensional arrays. At the time I wrote the code there were, maybe, 5 demographi

[2022-02-16 09:40] noscode commented on #880
Hi, that is great news! Right now I have rebased PR, hopefully it will pass CI checks and will be finally ready to be merged.

[2022-02-16 17:34] izabelcavassim commented on #1189
I think we can close this one based on #1198

[2022-02-16 22:38] petrelharp commented on #1197
I'd still like to go clarify the documentation to say what units the rates are in.

[2022-02-16 22:39] #1189 closed

[2022-02-17 14:39] #1197 closed

[2022-02-17 15:12] izabelcavassim commented on #1190
It should be closed by #1200

[2022-02-18 00:46] #1190 closed

[2022-02-18 02:36] petrelharp opened #1201 "Stochastic test failure in recombination map check"
We've got a presumably stochastic test failure:
[code]

At least we should set the seed in these tests so they're not stochastic, but it's probably worth figuring out why this failed as well. I can look into this at some point.

[2022-03-13 17:38] hyanwong opened #1206 "engine.simulate accepts but ignores "sequence_length""
**Short description of the problem:**

@szhanb tried to do this to simulate a small region of a chromosome:

[code]

But of course, `sequence_length` is not passed to msprime. It might be nice if calls like this raised a warning or error. I guess this ties in with https://github.com/popsim-consortium/stdpopsim/issues/567

[2022-03-14 10:58] #1128 closed

[2022-04-11 21:39] gregorgorjanc commented on #579
@igronau I have now looked at this, including rereading the MacLeod2013 paper and supplement https://academic.oup.com/mbe/article/30/9/2209/1002512 - in inferring the demography they used mutation rate = recombination rate = 1 x 10-8, but true in their simulations to corroborate their estimate in real data they have used mutation rate of 9.4 x 10-9 (based on their sequence error correction and dis

[2022-04-13 20:52] saurabhbelsare opened #1217 "QC for Papio Anubis (olive baboon)"
**PR for new species:** https://github.com/popsim-consortium/stdpopsim/pull/1216

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

The QC reviewer should start a pull request that fills out

[2022-04-14 00:50] chriscrsmith opened #1219 "QC for sunflower (Helianthus annuus)"
**PR for new species:** #1218

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

The QC reviewer should start a pull request that fills out the test stubs
with independently obtained values.

[2022-04-19 20:09] xin-huang opened #1220 "QC for Chimpanzee (Pan troglodytes)"
**PR for new species:** https://github.com/popsim-consortium/stdpopsim/pull/1215

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

The QC reviewer should start a pull request that fills out

[2022-04-21 14:59] apragsdale commented on #962
Reviving this issue: I think demes is pretty much stable and it would be safe to start converting the catalog to demes format. This will take some effort, but I think the process itself is straightforward.

@grahamgower what do you think? any ideas for order of operations here?

[2022-04-21 17:16] #899 closed

[2022-04-21 17:58] grahamgower commented on #962
Here's a rough process that might work.

1. Convert existing models. Hopefully we've done all the hard work elsewhere, making this trivial. Load each stdpopsim model in turn, convert the msprime demography to a demes object, write the demes object to a file.
2. Organise the demes yaml files in a sensible way.
3. Change the model registration to instead query which yaml files are present for a give

[2022-04-21 18:18] grahamgower commented on #579
Hey @gregorgorjanc. Unless I misunderstand, I think @igronau is referring to your first epoch, which would be the one with `Ne=90`. Since time starts at `t=0`, this will apply to the time interval `[0,3)`, thus spanning 4 generations. I think this implies there's an off-by-one error for all of the demographic event time values.

[2022-04-21 18:52] gregorgorjanc commented on #579
@grahamgower I see now - ok, then I need to shave off one generation everywhere. The joy of different counting systems;)

[2022-04-21 19:17] apragsdale commented on #962
Great! I think we’ve done most the heavy lifting for conversion already, so it’ll just be a matter of reorganization and testing within stdpopsim. My opinion is that the catalog should exist as data/yaml files in a separate repository with minimal dependencies that stdpopsim (or any other software) can import. You’re right that docs are going to need a major overhaul after this transition.

On Apr

[2022-04-21 20:01] gregorgorjanc commented on #579
Thanks @igronau and @grahamgower for all hand holding. I have now added 0-based counting in time epochs.

I have another question (not sure if I should open a new issue?) - the assumed recombination rate in the MacLeod2013 paper https://academic.oup.com/mbe/article/30/9/2209/1002512 for estimating the demography was 1 x 10-8, but in the BosTau species I have implemented the more recent estimate of

[2022-04-22 05:49] grahamgower commented on #579
MacLeod's method is based on IBD tracts, right? So the recombination rate actually matters here for the inference of population sizes? That's a fairly small discrepancy though, and we don't have any infrastructure for including model-specific recombination rates anyway, so I'd say lets not worry too much.

[2022-04-22 05:54] grahamgower commented on #579
Hey @igronau, it would be great if you have some time to revisit your QC model now. I guess it should match up now and we can close off this issue soon?

[2022-04-22 06:13] grahamgower opened #1222 "CI tests should run in verbose mode"
This would make it much easier to track down problems like the OOM issue seen in #1216.

[2022-04-22 06:40] grahamgower opened #1223 "update black"
Earlier this year, [black 22.1.0](https://github.com/psf/black/releases/tag/22.1.0) made a minor change to how it formats space around the power operator (e.g., `two_to_the_power_of_five = 2 ** 5` is now written as `two_to_the_power_of_five = 2**5`). This means we'll start to get some drift between what the CI accepts and what devs have installed. We should just update black in CI/pre-commit and f

[2022-04-22 08:44] #1223 closed

[2022-04-22 10:13] gregorgorjanc commented on #579
Yes, IBD tract based, so indeed recombination matters for the estimation of Ne. I agree, that the difference is not huge, so not a major issue, but it would be good to add recombination rate in  `stdpopsim.DemographicModel` for completeness - I am sure there will be cases where the difference could be much bigger leading to conflicting mixing of parameters from quite different studies. I will open

[2022-04-22 10:19] gregorgorjanc opened #1225 "Add recombination rate to stdpopsim.DemographicModel"
**Short description of what you'd like added:**

Add recombination rate specification in demographic models in addition to in species

**Rationale and considerations:**

We can specify recombination rate in the species file, but demographic models for that species could have assumed different recombination rate (and mutation rate) in estimation. We can already specify mutation rate separately for

[2022-04-25 07:33] grahamgower opened #1226 "QC for Caenorhabditis elegans"
**PR for new species:** #904

Further details in issue #834.

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

The QC reviewer should start a pull request that fills out the test stubs
with

[2022-04-25 08:11] xin-huang opened #1227 "QC for BonoboGhost_4K19 (PanTro)"
**PR for new model:** https://github.com/popsim-consortium/stdpopsim/pull/1215
**Original paper:** https://www.nature.com/articles/s41559-019-0881-7
**Parameter values:** Kuhlwilm et al. (2019) Supplementary Table S2.2 column I (Simplified model used in simulations) and Table S3 row 4 (Basic with 2% archaic flow into bonobo)
https://github.com/popsim-consortium/stdpopsim/blob/main/docs/parameter_t

[2022-04-26 20:40] xin-huang opened #1229 "Update stdpopsim docs"
The stdpopsim documentation should be updated.
For example, `update_ensembl_data.py` no long exists https://popsim-consortium.github.io/stdpopsim-docs/latest/development.html#adding-updating-a-genome-definition

And the following species have demographic models and their parameter tables should be added into catalog.
- [ ] AnaPla
- [ ] AnoGam
- [ ] BosTau
- [ ] PanTro

[2022-04-27 18:23] lauterbur opened #1230 "Update catalog and "preliminary/pre-QC" designation?"
The catalog docs need to be updated with all of the species added in the past year or so.

In addition, there should be some way of flagging "preliminary" species/models in the catalog (those that have been merged but not yet QC'd, as described here https://popsim-consortium.github.io/stdpopsim-docs/stable/development.html#demographic-model-review-process) vs. fully QC'd species/models.

These are

[2022-04-28 09:44] grahamgower opened #1232 "Separate demographic models from the stdpopsim python package"
We plan to transition stdpopsim's demographic models to the Demes YAML format (#962). This means that the demographic models will become programming-language agnostic, and thus useful outside of the scope of the stdpopsim Python package. So in principle, any simulator that supports Demes could make use of the stdpopsim catalog, without depending on the stdpopsim Python package (the CLI/API that on

[2022-04-28 17:11] andrewkern commented on #1232
i'm not sure about this idea but at least part of that is my unfamiliarity with the current `demes` spec.

A large portion of what makes stdpopsim work is associating species specific parameters with demographic models, and then QCing those implementations-- how would a `stdpopsim-catalog` module achieve this? `demes` models aren't carrying around params like mutation and recombination rates right

[2022-04-28 17:41] molpopgen commented on #1232
This is not so easy -- see @grahamgower's comment re: licensing.  Putting YAML files under the GPL means that software consuming those files (by including them in a repo, using the repo as a submodule), inherit the GPL license for distribution.  Licensing matters!

[2022-04-28 17:49] andrewkern commented on #1232
so would changing our licensing fix this?

[2022-04-28 17:52] molpopgen commented on #1232
Not possible -- again, @grahamgower's comment addresses that.  msprime is GPL b/c of dependency on GSL.

[2022-04-28 17:54] andrewkern commented on #1232
but msprime is outside of stdpopsim. what is the slim license?

[2022-04-28 17:57] molpopgen commented on #1232
But you use the API.  Therefore stdpopsim depends on a GPL API, and is thus a derivative product, IIUC.

[2022-04-28 18:18] apragsdale commented on #1232
It's true that the demes spec itself doesn't have information about mutation and recombination rates, genome build, etc. However, there is a metadata field that can store such information. This would be something to discuss -- what's the best way to design such a standalone catalog that includes all the information relevant for stdpopsim simulations.

As far as the QC protocol goes, the current ap

[2022-04-29 09:00] grahamgower commented on #1232
@andrewkern writes:

These are all fair points, and I definitely want to avoid doing anything that would harm the stdpopsim project or make it harder for contributors. I feel that one aspect of QC we've been struggling with in stdpopsim with is that we simply need people to volunteer their time to do QC. The amount of time it takes to QC something is somewhat open-ended, and it's not necessarily r

[2022-04-29 09:46] grahamgower commented on #1232
Assuming that #962 is completed (I think the regular stdpopsim contributors agree this is a good idea, at least in principle?), then we'll have a bunch of YAML files in the git repository and new docs on how to do QC. So the minimal changes I'm proposing in the current issue would be to (re)license the Demes YAML files such that they are public domain, MIT, CC-BY, or similar.

**DISCLAIMER: I'm no

[2022-05-02 07:46] #867 closed

[2022-05-02 07:48] grahamgower opened #1234 "upload C. elegans RockmanRIAIL_ce11 genetic map to AWS"
Ping @attrna. Can you please coordinate with @andrewkern to upload the Rockman genetic map file to Amazon Web Services and update the url in the stdpopsim code? (currently it points at http://sesame.uoregon.edu/~ateterina/rockman2009_maps.tgz)

[2022-05-02 07:50] grahamgower commented on #865
See #911

[2022-05-02 07:55] grahamgower commented on #1230
Note that there are also pending QC issues for PonAbe (#544), HomSap (#543), and AraTha (#539).

[2022-05-03 09:02] jeromekelleher commented on #1232
Licencing is a headache, and discussions of licensing issues rarely produce anything of value, in my experience.

I suggest that we separate the discussion of converting the catalog models into Demes YAML format from what license they should/could be published under. The ultimate software license used is by far the least interesting aspect of this process.

So, goal (1) would be to convert the exi

[2022-05-03 14:08] grahamgower commented on #1232
It was PR #1020. Lots of good discussion there too.

[2022-05-03 14:27] jeromekelleher commented on #1232
Aha, thanks @grahamgower

[2022-05-04 19:07] isinaltinkaya opened #1236 "TreeSequence sequence length is not equal to chromosome length"
Hi,

I get different numbers when I use tskit to load the TreeSequence and check the sequence length of the chromosome I used in simulations, and when I use stdpopsim to check it
This is human chr 22,
[code]

I am a bit confused, I see that the value below is the same as you report in the manual. What is the difference between these?

[2022-05-04 19:33] mufernando commented on #1236
Can you share how you got the tree sequence above?

[2022-05-05 02:28] JesseGarcia562 opened #1237 "Set DFE neutral mutations to happen only in exons"
**Short description of the problem:**
Hi,

I'm trying to simulate some models with a DFE that has neutral synonymous mutations and selected nonsynonymous mutations. I would like these mutations to only occur in exons. I thought I had this set up correctly but I'm seeing neutral mutations occurring outside of the exon regions and all along the contig. Is there a way to set up a simulation with a DF

[2022-05-05 06:03] grahamgower commented on #1236
Maybe this is due to a mismatch between the recombination map and the chromosome length, as described in #701?

[2022-05-05 06:49] grahamgower commented on #1237
Hi @JesseGarcia562. The DFE functionality in stdpopsim is still quite new and there may yet be bugs lurking. So you should definitely use the latest version. I checked the version you're using (1c48909, from December last year), and there have been some DFE-related fixes made since then. However...

This is expected. The DFE is applied to the intervals specified, but all parts of the contig outsid

[2022-05-05 18:01] JesseGarcia562 commented on #1237
Hi,

Okay, I will update. Thanks!

I am trying to have neutral mutations in my simulations, but only have neutral mutations occur in the exon intervals. This is mainly because I want to model neutral "synonymous" mutations and not mutations that are neutral and not in exon intervals. One reason I would like to do this is that I have an estimate of the ratio of new synonymous to new nonsynonymous m

[2022-05-05 18:11] mufernando commented on #1236
yeah, that is what I was thinking also!

@isinaltinkaya can you check the recombination map length of the Contig?

[2022-05-05 18:14] mufernando commented on #1237
@JesseGarcia562 why are you simulating a non-exon portion if you don't care about it? might be easier to just simulate the exon. otherwise you could remove the non-exon portions from the tree sequence before creating your VCF using tskit's `delete_intervals` https://tskit.dev/tskit/docs/stable/python-api.html?highlight=interval#tskit.TreeSequence.delete_intervals

[2022-05-05 18:37] JesseGarcia562 commented on #1237
Ah good question. In my actual simulations, I have multiple exons on a contig and a human based recombination rate map. If I don't simulate the non-exon portion, then I'd need to worry about adjusting the recombination rate map to reflect the absence of non-exon base pairs.

I think your delete intervals suggestion could work. But one question, would the ratio of neutral mutations that occur in ex

[2022-05-05 18:52] mufernando commented on #1237
ah, I see. I think it isn't clear how the DFEs work. by default, a neutral DFE is added that spans the whole contig. when you call:

[code]

That means that the DFE in those intervals will now be replaced with your specified DFE. there won't be any mutations in `exon_intervals` which are not in your `dfe` object.

Note though that in the DFE you specify the proportions with which each mutation typ

[2022-05-05 19:22] JesseGarcia562 commented on #1237
Oh ok, that makes so much more sense! Just to be clear, there's a neutral DFE that exists along the whole contig when you create the contig, but when you use `contig.add_dfe(intervals=exon_intervals, DFE=dfe)` the whole contig neutral DFE gets removed for the exon intervals specified in `exon_intervals`. Only the mutations specified by the DFE I created will exist in those `exon_intervals`.

And y

[2022-05-05 19:38] mufernando commented on #1237
correct!

this will depend on which version of stdpopsim you have. Recently I added all the information wrt to DFEs to the top-level metadata of tree sequences produced by SLiM engine in stdpopsim https://github.com/popsim-consortium/stdpopsim/blob/5e67d7167b1e0f0c94616f3f9ada83eb3d0fe2f7/stdpopsim/slim_engine.py#L639

Here https://github.com/popsim-consortium/stdpopsim/blob/5e67d7167b1e0f0c94616f

[2022-05-05 19:42] JesseGarcia562 commented on #1237
Beautiful, thanks!

[2022-05-05 19:42] #1237 closed

[2022-05-08 11:57] isinaltinkaya commented on #1236
With human chr22, and genetic map `recombination_map_id="HapMapII_GRCh37"`

[code]

[2022-05-10 07:37] isinaltinkaya commented on #1236
Currently I am using the length defined in `contig.recombination_map.get_length()` to define the amount of invariable sites. I am not sure if this would matter (using 51229805.0 vs 51304566) since it will be the same number for every simulation using the same contig and recombination map. What do you think?

[2022-05-10 09:31] grahamgower commented on #1236
Duplicate of #701.

[2022-05-10 09:31] #1236 closed

[2022-05-10 17:20] petrelharp commented on #881
Hi, @igronau @vitorpavinato - are you planning to do this or should someone else do it?

[2022-05-10 17:27] petrelharp commented on #544
Just checking @grahamgower - do you want to work on this or get someone else to finish it off?

[2022-05-10 17:28] awohns commented on #1088
I'm happy to QC this one!

[2022-05-10 17:28] petrelharp commented on #543
This one is up for grabs - and, it's almost done!

[2022-05-10 17:32] petrelharp commented on #1088
@LeonardoIasi might you be able to clarify the current status of this - maybe @awohns knows what's going on but I'm at least confused by the reference to the "correct parameters" above? (The QC'er really ought to go get the correct parameters out of the paper...)

[2022-05-10 17:33] vitorpavinato commented on #873
I can do this if anyone hasn't picked it yet.

[2022-05-10 17:33] jeffspence commented on #733
I'll work on QCing this model.  I'll shoot to be done by 5/16/22

[2022-05-10 17:34] petrelharp commented on #579
Hi, @gregorgorjanc @igronau - what's the status here? Would you like help finishing this off?

[2022-05-10 17:35] manolofperez commented on #1091
I can do the QC for this species.

[2022-05-10 17:37] vitorpavinato commented on #881
When I was doing it, I wasn't sure about adding gene conversion parameterization, so I looked at the parameters. I guess I can't do this QC anymore.

[2022-05-10 17:45] petrelharp commented on #1217
Note that can't be done until #1216 is done (i.e., the species itself is merged in).

[2022-05-10 17:53] LeonardoIasi commented on #1088
Ohh sorry. The comment was old. The parameters are all correct now and the .csv file was updated.

[2022-05-10 18:13] jeffspence commented on #733
I'll QC this model.  I'll get to it on or before 5/16/22

[2022-05-10 18:43] petrelharp commented on #579
Great - but, it still needs to be QC'ed, right? Maybe I'm just totally lost, but I'm not finding anything in `qc/BosTau` nor am I finding a PR with @igronau's implementation?

[2022-05-10 18:51] petrelharp commented on #881
Ah, ok, thanks. About the GC rates: currently they're commented out, so don't need QC'ing, but the GC stuff will be merged in soon, so: maybe? (And: I'm not sure what you mean by "I guess I can't do this", but if you want to continue here we'd be happy to have you, but that's probably not what you mean.)

[2022-05-10 19:02] petrelharp commented on #873
Related: #885.

[2022-05-10 19:07] petrelharp opened #1239 "QC for BosTau"
**PR for new species:** #600 #809

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

The QC reviewer should start a pull request that fills out the test stubs
with independently obtained val

[2022-05-10 19:07] petrelharp commented on #1239
I believe this hasn't been started - do you know otherwise, @gregorgorjanc?

[2022-05-10 19:52] igronau commented on #579
I started the QC process a while back, but after finding some issues, I waited for @gregorgorjanc to resolve them. I will finish the QC-ing now. I don't know if I'll have time to do this until next Monday, but it's on my TODO list.

[2022-05-10 22:11] gtsambos commented on #1239
I'll do this one!

[2022-05-10 22:12] gtsambos commented on #1227
Happy to give this a shot

[2022-05-11 00:31] petrelharp commented on #1239
Looking at [`tests/test_BosTau.py`](https://github.com/popsim-consortium/stdpopsim/blob/main/tests/test_BosTau.py) this *has* been started, but I couldn't find the issue or PR, and it looks like it's not finished - recombination and mutation rates [aren't filled in yet](https://github.com/popsim-consortium/stdpopsim/blob/main/tests/test_BosTau.py#L35). (I'm probably missing something?)

[2022-05-11 01:45] petrelharp opened #1242 "finish QC for CanFam"
**PR for new species:** #375 - this was already QC'ed in #652 but before we had checks in there for recombination and mutation rates (see other species) - so, most of these things below are probably done already!

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should ide

[2022-05-11 01:49] petrelharp opened #1243 "add GC rate to stubs in `maintenance add-species`"
When #1106 goes in we'll want to add GC rates to the stubs produced by `python -m maintenance add-species {species-name}`.

[2022-05-11 01:53] petrelharp commented on #149
These are in! I'm going to close this.

[2022-05-11 01:53] #149 closed

[2022-05-11 07:14] grahamgower commented on #544
I can take another look.

[2022-05-11 07:15] grahamgower commented on #543
This one is not so easy, as it requires dealing with recombination map liftovers.

[2022-05-11 07:16] grahamgower commented on #539
This one also needs a recombination map lifted over.

[2022-05-11 07:35] grahamgower commented on #1227
Shameless plug: I see an ms command here, and [demes](https://github.com/popsim-consortium/demes-python/) has support for reading/converting ms commands. In conjunction with [demesdraw](https://github.com/grahamgower/demesdraw/) it's possible to do things like this:
[code]

E.g.
![BonoboGhost_4K19](https://user-images.githubusercontent.com/8665077/167794344-e916dd92-b74f-4eba-ae94-bb814a426139.svg

[2022-05-11 07:44] grahamgower commented on #1242
See also #540. Is it mainly the tests for recombination/mutation rates that need doing @petrelharp?

[2022-05-11 07:48] xin-huang commented on #1227
Sorry, the link to the original paper was wrong. Updated now.

[2022-05-11 08:05] xin-huang commented on #1100
Should I QC this DFE? The proportions is in the supplementary https://www.pnas.org/doi/full/10.1073/pnas.1619508114#supplementary-materials

[2022-05-11 08:14] xin-huang commented on #1219
I can QC this

[2022-05-11 17:01] petrelharp commented on #1242
Yeah, I think that's it.

[2022-05-11 17:21] petrelharp commented on #543
Ah. Darn it. Well, we've got docs for this: https://popsim-consortium.github.io/stdpopsim-docs/latest/development.html#lifting-over-a-genetic-map

[2022-05-12 17:21] janaobsteter commented on #1220
I can take this one!

[2022-05-12 19:17] mufernando commented on #1217
I'll QC this.

[2022-05-12 21:21] saurabhbelsare commented on #543
I've worked with recombination map liftovers before. Happy to work on this.

[2022-05-13 00:55] jeffspence opened #1245 "Unit testing only works with nose not pytest (contradicting documentation)"
When I run `python -m pytest` from the project root I get an error due to an unrecognized `-n` option:

[code]
but it runs as expected using `python -m nose tests`.

This is not what is in the [documentation](https://popsim-consortium.github.io/stdpopsim-docs/latest/development.html#unit-tests) though, which says:

I'm using:

python v. 3.7.11
`pytest==7.1.2`
`nose==1.3.7`

[2022-05-13 16:44] jeffspence commented on #1245
ahh, perfect!  Thanks!

[2022-05-13 16:44] #1245 closed

[2022-05-13 17:18] #733 closed

[2022-05-13 21:00] petrelharp opened #1247 "QC for AncientEurope_4A21 (HomSap)"
**PR for new model:** #941
**Original paper:** https://www.biorxiv.org/content/10.1101/2022.05.04.490594v2
**Parameter values:** Supp Info I, Part 3i
**Population indices:**
- `0`: red path, including root
- `1`: purple path that goes through CHG
- `2`: WHG/NE
- `3`: EHG

**Potential issues that might lead to differences between the model implementations:**
As coded, each distinctly-colored *path*

[2022-05-14 08:12] grahamgower opened #1248 "Clarify the purpose/use of the release number in ensembl_info.py"
`stdpopsim/catalog/ensembl_info.py` currently shows the release number to be `103`. This implies all species are at this release number. It also implies that when a new species is added, it should either come from that same release. But our maintenance code doesn't support this---instead the new species will come from the most recent ensembl release, and the maintenance code will bump the release

[2022-05-14 08:46] grahamgower opened #1249 "ZeroDivisionError during PonAbe liftover"
Get necessary files.
[code]
Be sure to `chmod +x liftOver` and put it in your `$PATH`. Then try the `liftOver_catalog.py` script as outlined in the dev docs.

[code]

[2022-05-14 08:50] grahamgower commented on #1249
Possibly related to #595.

[2022-05-14 14:23] igronau commented on #881
I didn't really dive into this one yet, so I prefer if someone else will QC this one.

[2022-05-15 09:27] jeromekelleher commented on #1248
You're right, the release number should be moved into the species data I guess. I had envisaged that we would periodically update the whole catalog to reflect the most recent data from Ensembl, but I hadn't imagined we were going to add this many species.

[2022-05-15 09:33] grahamgower commented on #1249
`liftOver` is outputting 0-length bed intervals.
[code]

[2022-05-15 09:51] grahamgower commented on #1249
The `hapmap_to_bed()` function in `maintenance/liftOver.py` is producing 0-length intervals, which are then given to `liftOver`. I guess there's an off-by-one error here, but the code is hard to follow.

[2022-05-15 10:03] grahamgower commented on #1249
It's a problem with the recombination map, which itself contains 0-length intervals. How is one to interpret this (3rd column is the rate (cM/Mb), the 4th column is the genetic position (cM))?
[code]

[2022-05-15 18:36] xin-huang commented on #1227
Hi @grahamgower

how to specify sample size in the `ms -I` option when converting yaml files to `ms` command parameters?
I found a `samples` parameter in `demes.to_ms(graph, *, N0, samples=None)`  but it is unclear that how to use this parameter

[2022-05-15 19:58] xin-huang commented on #1227
and looks like the time unit in the figure above is years, but the y-label still used generations @grahamgower

[2022-05-16 04:02] manolofperez commented on #1091
I found some small problems in the species.py file. DOI are not working for some publications (for example: https://10.1111/mec.12322 is provided, but I think it should be https://doi.org/10.1111/mec.12322). Also, the generation time is set as 1 year, but looking at the publication, the authors suggest a generation time of 2 years. I already filled the the tests/tes_GasAcu.py file with the values

[2022-05-16 08:57] janaobsteter commented on #1220
Comments regarding some parameters that might be good to discuss with the authors (I don't know if I got everything right):

1) Population size
The reference for the population size is de Manuel., 2016. They ran a PMSC and MSMC2 analysis to determine the historical effective population size, which suggests a drop in the recent effective population size to something small. However, they've also est

[2022-05-16 09:34] grahamgower commented on #1227
When converting a yaml file using the demes command line interface, there is no way to specify the sampling configuration. You'll have to manually edit the `-I` arguments to specify the samples you want when using the CLI. Using the Python API and the `demes.to_ms()` function, the `samples` argument is a list of integer samples. Please open an issue at https://github.com/popsim-consortium/demes-py

[2022-05-16 09:38] grahamgower commented on #1091
Hi @manolofperez. Yes, please open a PR. You can include your suggested corrections to the species in that PR.

@vitorpavinato, can you comment on the generation time value? Do you agree that this should be 2 years?

[2022-05-16 16:12] petrelharp commented on #881
We only need one person to QC - what do you mean?

[2022-05-16 16:15] petrelharp commented on #1249
Um wow that's weird. I think we just have to take it at face value, though, and asusme that that recombination rate applies to zero base pairs? (It's probably a bug generating the map somehow, but we're not trying to debug that?)

[2022-05-16 16:48] petrelharp commented on #1242
I'll start doing this one.

[2022-05-16 17:36] chriscrsmith commented on #1226
Hey @attrna ! I have some questions about the citations and values for C. elegans.

- **Generation time**. The number I gleaned from the [citation](https://doi.org/10.7554/eLife.05849") was 3 days: "newly hatched individuals pass through four larval stages (L1, L2, L3, L4) and reach the adult stage after 3 days." It looks like you were going with the 150gens/year = 2.43 days? I thought that value

[2022-05-16 17:56] silastittes commented on #539
Zoom discussion consensus is the genetic map is on an older version of the genome. Haven't found which version yet, but I'm working on this to lift over the genetic map coords based on what chain files are currently available between genome versions on ensembl and what what used in [Salomé et al., 2012](https://doi.org/10.1038/hdy.2011.95).

[2022-05-16 18:00] petrelharp opened #1252 "Add assembly name to standard naming for annotation"
We have the assembly name at the end of every genetic map; this should probably be the case for annotations also, so it's obvious if they don't match.

[2022-05-16 18:13] petrelharp commented on #873
Hi, @vitorpavinato - @percyfal is around and willing to help if you haven't got to this yet?

[2022-05-16 18:23] saurabhbelsare opened #1254 "QC for SinglePopSMCpp_1W22 (Papio_anubis)"
**PR for new model:** https://github.com/popsim-consortium/stdpopsim/pull/1216
**Original paper:** https://doi.org/10.1093/gbe/evac040
**Parameter values:** Section "LD-based Recombination Estimates" in methods of above paper has the description of the inference procedure. I obtained the file containing the actual parameters from the authors directly. Sharing with @chriscrsmith  who is doing the Q

[2022-05-16 19:04] xin-huang commented on #1220
I will discuss those parameters with @kuhlwilm

[2022-05-16 19:08] xin-huang opened #1255 "404 error in mybinder"
**Short description of the problem:**
I got `404` error after clicking `launch binder` in `README.md`

**How to reproduce the problem:**
Click `launch binder` in `README.md`

**Suggested fixes:**
looks like `stdpopsim_example.ipynb` is missing

[2022-05-16 19:39] petrelharp commented on #1242
The mutation rate citations are:
[code]

[2022-05-16 19:40] percyfal commented on #873
@vitorpavinato @petrelharp so I just redid the recombination rate calculations and now I recall why I ended up doing an independent liftover, to make sure I understood what was going on. I'll post the initial commands here to get started. I have a copy of the stdpopsim repo in ~/dev/stdpopsim and qc is done in ~/tmp/qc_DroSec. I'm working in a conda environment called `stdpopsim` with dependencies

[2022-05-16 19:46] percyfal commented on #873
And now I reread to the end of #885; @izabelcavassim did indeed suggest to use the average values from Cameron 2010 and not base the results on the liftover at all, IIUIC.

[2022-05-16 19:52] vitorpavinato commented on #873
So, for the recombination rates, I should use the average values from Cameron 2010?

[2022-05-16 20:02] petrelharp commented on #873
Yes - it's agreed that we should put in for the per-chromosome recombination rates the average values from Cameroon et al. You'll need to change that in the original species definition as well as in QC (and I'll verify).

[2022-05-16 20:03] percyfal commented on #873
cf qc pull requests #885 and #1077

[2022-05-16 20:38] petrelharp commented on #1242
It all looks good, except there's no citation for generation time, only the comment:
[code]
I'm going to let this slide.

[2022-05-16 21:03] petrelharp commented on #1255
Hm - do you know where that file went and how to put it back where it's supposed to go?

[2022-05-16 21:13] petrelharp commented on #1242
Closed in #1258

[2022-05-16 21:13] #1242 closed

[2022-05-16 21:14] petrelharp commented on #1091
Closed in #1253

[2022-05-16 21:14] #1091 closed

[2022-05-16 21:15] petrelharp commented on #1219
Closed in #1250

[2022-05-16 21:15] #1219 closed

[2022-05-16 21:55] vitorpavinato commented on #873
Almost done; I need to run the test and commit/push.

[2022-05-16 22:17] petrelharp commented on #881
Closed in #1251

[2022-05-16 22:17] #881 closed

[2022-05-16 23:43] mufernando commented on #1217
Saurabh, I think we should add how we got the rec rates for the chromosomes (averaging over windows).

[2022-05-17 00:02] petrelharp commented on #1234
This has been done... but there was an error, @chriscrsmith will send @andrewkern the new ones.

[2022-05-17 00:14] petrelharp commented on #1254
Closed in #1261

[2022-05-17 00:14] #1254 closed

[2022-05-17 01:38] petrelharp commented on #829
This one was closed in #1025

[2022-05-17 01:40] petrelharp opened #1266 "QC for ApiMel"
**PR for new species:** #1025

*Note:* There's not much info in the original PR #1025, so the thing to do is to look at the citations in the implementation, and see if you pull out the same values.

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that para

[2022-05-17 07:39] grahamgower commented on #1255
It was deleted in b7cd71fe2fe4ebf101cf1132e3efb2c0f91c2443 (#1042). I guess this was accidental and we can just put it back? ping @andrewkern

[2022-05-17 08:30] grahamgower commented on #1234
Great. Can we please have the genome assembly id in the tarball filename too?

[2022-05-17 12:22] manolofperez commented on #1266
I can do it!

[2022-05-17 16:52] grahamgower commented on #779
CircleCI has started failing pretty regularly, so now might be a good time to remove it.

[2022-05-17 16:56] petrelharp commented on #1115
We had a lot of discussion in the meeting today about this. The summary is:
- gene conversion would be nice to have on by default as it does affect things
- however, since msprime runtime is quadratic in the number of ancestral chunks, it can affect runtime a *lot* (e.g., if it is 10x recomb rate it can increase runtime by 50x)
- and, gene conversion affects some aspects of genetic diversity but n

[2022-05-17 18:13] manolofperez commented on #1266
I changed the year of the Liu et al. paper (https://doi.org/10.1093/molbev/msw226) to 2017 instead of 2016. I also changed to mutation rate to 3.4e-9 instead of 3.4 * 10e-9 (this last value actually results in 3.4e-8 in python.

[2022-05-17 19:17] petrelharp commented on #1266
omg, good catch.

[2022-05-17 20:02] petrelharp commented on #1220
Any more info, @xin-huang?

[2022-05-18 02:13] gtsambos commented on #1239
I'm having some difficulty finding the relevant information in the [Rosen et al. publication](https://academic.oup.com/gigascience/article/9/3/giaa021/5810242) that supports our BosTau genome assembly data -- in particular, the chromosome lengths and *any* MT information. Part of the supplementary materials (the genetic map referenced in S2) requires a publisher login -- perhaps it's in there? Cou

[2022-05-18 02:31] gtsambos commented on #1239
@grahamgower mentions [here](https://github.com/popsim-consortium/stdpopsim/pull/600#issue-713518206) that he changed the species-wide population size (and maybe also generation time?) to reflect their higher ancestral value, rather than the small modern-day value. However, both the OG code and the beginning of the QC code use the smaller modern value of 90 -- has this been changed back in the int

[2022-05-18 02:37] gtsambos commented on #1239
Re: generation time: at the moment, we cite [Macleod et al](https://doi.org/10.1093/molbev/mst125), but the authors themselves mention that they just chose this value to be in the same ballpark as previous attempts based on actual estimation and observation ([here]([10.2527/jas.2006-367](https://doi.org/10.2527/jas.2006-367)) and [here]([10.1186/1297-9686-35-1-43](https://dx.doi.org/10.1186%2F1297

[2022-05-18 06:07] grahamgower commented on #1239
I don't recall the details here, sorry. Maybe @gregorgorjanc remembers? There are a bunch of related PRs and issues for BosTau, so maybe checking some of these will help? #558, #559, #579, #609

[2022-05-18 06:46] gtsambos commented on #1239
Thanks @grahamgower, looks like for [this issue at least](https://github.com/popsim-consortium/stdpopsim/issues/1239#issuecomment-1129495160), it's the citation that's wrong -- from #558 it sounds like that info's come from the Ensembl genome browser instead of the one currently lited. I'll update the citation as a separate PR

[2022-05-18 06:52] gtsambos commented on #1239
Also, now that I've had a closer look at the `HolsteinFriesian_1M13` model, I feel it would be more appropriate to use the bigger ancestral population size, since that's the relevant population size for like 90% of the span of the model history. If you set it as the modern-day value 90, you probably won't see anything like the level of standing variation that actually exists in this species. I'll

[2022-05-18 08:15] xin-huang commented on #1220
We will discuss it in our group meeting tomorrow, we will let you know after that.

[2022-05-18 10:32] igronau commented on #579
This passes the QC now. The automatic tests point out a discrepancy between the mutation rate in this model (9.4 e-9) and the one mentioned in the docs (1e-8) in file docs/parameter_tables/BosTau/HolsteinFriesian_1M13.csv. Should I simply modify the csv file before I submit the Pull request, @gregorgorjanc ?

[2022-05-18 13:21] petrelharp commented on #579
No need to wait to submit the PR - might as well let us look at it?

[2022-05-18 13:33] #1222 closed

[2022-05-18 13:47] xin-huang commented on #1100
Hi @petrelharp

how to qc a DFE model? Should I follow [the review process for demographic models](https://popsim-consortium.github.io/stdpopsim-docs/latest/development.html#demographic-model-review-process) and put the codes in `./stdpopsim/qc/HomSap.py` ?

[2022-05-18 13:47] #621 closed

[2022-05-18 13:51] grahamgower commented on #1100
This is a dupe of #1054.

[2022-05-18 14:09] grahamgower commented on #688
I haven't been keeping track of this, how are we doing with testing the selection infrastructure these days @petrelharp @mufernando? Can we close this issue?

[2022-05-18 14:32] Stickle-Back-in-Time commented on #819
Thanks Graham!!

________________________________
From: Graham Gower ***@***.***>
Sent: 18 May 2022 16:30
To: popsim-consortium/stdpopsim ***@***.***>
Cc: Andrew Foote ***@***.***>; Mention ***@***.***>
Subject: Re: [popsim-consortium/stdpopsim] threespine stickleback (#819)

Stickleback is in!

—
Reply to this email directly, view it on GitHub<https://github.com/popsim-consortium/stdpopsim/issues

[2022-05-18 14:41] grahamgower commented on #823
Aedes aegypti is in!

[2022-05-18 14:42] grahamgower commented on #834
C. elegans is in (QC pending)!

[2022-05-18 14:42] grahamgower commented on #864
Papio anubis is in!

[2022-05-18 14:43] #869 closed

[2022-05-18 14:47] grahamgower commented on #973
Can we close this now @mufernando?

[2022-05-18 14:48] grahamgower commented on #1000
Pan troglodytes is in!

[2022-05-18 14:48] #1000 closed

[2022-05-18 15:07] igronau commented on #579
Okay. So I'll submit a PR after I make the change also in the doc table (HolsteinFriesian_1M13.csv) to make it consistent with the model. If @gregorgorjanc suggests that we do something else, we can fix this.

[2022-05-18 15:21] igronau commented on #579
Pull request #1272

[2022-05-18 15:26] mufernando commented on #973
it's been so long, but I think we resolved it in #1078

[2022-05-18 15:41] petrelharp commented on #688
Yes, I think we can. It's not our job to test that SLiM is actually doing what it says it's doing, and we've got a bunch of tests that verify that SLiM says it's doing what we think we're asking it to do.

[2022-05-18 15:41] #688 closed

[2022-05-18 15:42] petrelharp commented on #700
We're using logging features; I think we could think of something more concrete here, but yeah, let's close it.

[2022-05-18 15:42] #700 closed

[2022-05-18 17:19] gregorgorjanc commented on #1239
@gtsambos I used this reference because this is the paper that describes the latest assembly. I checked now and the supplements does not list chromosome lenghts.

What have other species cited @petrelharp?

[2022-05-18 17:19] xin-huang commented on #1100
ok, but what are the codes [here](https://github.com/popsim-consortium/analysis2/tree/main/QC) for ?

[2022-05-18 17:26] gregorgorjanc commented on #1239
Happy to swing either way. @petrelharp can you nudge us in one or another direction?

[2022-05-19 00:10] petrelharp commented on #1239
Well, here's my inclination:
- We are not generally double-checking the actual genome lengths, as for most species these are pulled from ensembl anyhow. So, I think we needn't worry about missing lengths. (I was actually surprised to see those checks, @gtsambos - seems like a good thing to have in, but I don't think we need to worry about finding those numbers in the publication.)
- It makes sense

[2022-05-19 00:15] petrelharp commented on #1100
That's doing a comparison of the output of a simulation with a DFE to what's expected in some other way. Instead, we're writing code so that someone can re-implement the DFEs independently and then the code will automatically compare the original implementation to the QC implementation, and error on discrepancies. How about I'll get this started?

[2022-05-19 02:14] gtsambos commented on #1239
In this instance, part of why I did these checks is because the lengths are used directly in the calculation of the average recombination rate. The citation that I've added there (Howe et al) is just the latest ensembl paper, but I can put the Rosen et al one back in if that makes more sense?

Re this other stuff, based on this discussion I'll keep the mutation rate and generation time as @gregorg

[2022-05-19 07:33] xin-huang commented on #1100
sounds good

[2022-05-19 07:51] xin-huang commented on #1055
We should add a `register_qc()` similar to https://github.com/popsim-consortium/stdpopsim/blob/main/stdpopsim/models.py#L171 in `dfe.py`?

[2022-05-19 09:09] grahamgower commented on #579
Closed by #1272.

[2022-05-19 09:19] grahamgower commented on #1239
I think for most species we're referencing a genome assembly paper, which makes the most sense to me. Sure, it won't list the chromosome lengths, but they are the uploaders of the data from which the lengths are obtained.

:+1:

Probably we'll have this kind of issue with any domestic species. I think we discussed this kind of thing in the past and were happy that we should be using an ancestral N

[2022-05-19 22:15] fbaumdicker commented on #1115
Yes, that would be ok for me.
I am not completely sure how most people are actually using stdpopsim and where the best place to turn it on would be. Could the flag be a variable for each contig with a default value set to "off"? I could include such a flag in this PR.
The only thing I know for sure is that the flag should automatically be set if a custom gene conversion rate and length are set.

[2022-05-20 13:45] kuhlwilm commented on #1220
Hi, here some thoughts on these points:

1) Population size: Difficult, but generally de Manuel 2016 is the most complete analysis. If you just want to assign a simple single value as the "average" approximation to each chimpanzee subspecies, use Table S2 from de Manuel, that is the best choice using the most complete data. The more fine-grained SFS-based model (Table S15, S18) uses different 4-po

[2022-05-21 04:28] petrelharp commented on #1220
Awesome, thanks @kuhlwilm!

[2022-05-23 18:11] petrelharp commented on #1115
I've talked through this with Murillo, here. The options are, I think: (1) make `use_gene_conversion` a property of a Contig; (2) make `use_gene_conversion` an argument to `get_contig`; (3) make `use_gene_conversion` an argument to `simulate()`. In cases (1) and (3) the Contig would have a `gene_conversion_rate` property that might be nonzero but then the simulations would have no gene conversion

[2022-05-23 22:15] petrelharp commented on #1220
How does this sound to you, @janaobsteter?

[2022-05-24 07:28] janaobsteter commented on #1220
Hi! Thanks for the answer! I am just a bit confused since the current
numbers in the catalog (species.py) are
- population size: 15,000
- mutation_rate=1.2e-8
-recombination_rate=0.7e-8

Would it then make sense to replace these with the numbers you are
mentioning above (12,338 for the population size, 1.6e-8 per generation
mutation rate, 1.62e-08 for recombination rate? Sorry, I might have
misund

[2022-05-24 07:47] kuhlwilm commented on #1220
Hi @janaobsteter,
sorry, I just see there was a misunderstanding in the recombination rate, as mutation rate was also mentioned in the same paragraph above, and then I mixed them up... The recombination rate as calculated above, using the Ne of 12,338, seems too high. Maybe better just take the values from Stevison and that's it: 1.193 cM/Mb.
For mutation rate, there is a clear reference to say 1.

[2022-05-24 07:57] janaobsteter commented on #1220
Ok, thanks! Now worries, as long as it's clear now :) Then I will create a
PR with these last values that you mentiond here, is this ok?

Thanks again!
Jana

On Tue, 24 May 2022 at 09:47, kuhlwilm ***@***.***> wrote:

[2022-05-24 10:59] kuhlwilm commented on #1220
Yes, this makes sense!
Best,
Martin

[2022-05-24 16:48] #1266 closed

[2022-05-24 16:49] petrelharp commented on #1239
This was closed by #1269

[2022-05-24 17:15] petrelharp commented on #859
Closed in #906

[2022-05-24 17:19] petrelharp commented on #544
Ping @grahamgower - shall I get someone else to do this?

[2022-05-24 17:21] petrelharp commented on #539
This is happening in #1274.

[2022-05-24 23:58] petrelharp commented on #1226
Closed in #1265

[2022-05-24 23:58] #1226 closed

[2022-05-25 13:54] #1239 closed

[2022-05-25 16:53] petrelharp opened #1278 "QC for GAS_1A17 (AnoGam)"
**PR for new model:** This was added along with the species itself in #856
**Original paper:** https://doi.org/10.1038/nature24995
**Parameter values:**
**Population indices:** it's a one-population model, for the Gambia sampling location of A. gambiae

**Potential issues that might lead to differences between the model implementations:**
The reported values are with the intermediate (3.5e-9) muta

[2022-05-25 17:06] petrelharp commented on #1278
Hm - the model also needs to be fixed up - there is currently no parameter table (and do we really want one so big and long? perhaps we just put in the initial and final values or something?) and there's twice as many time points in the specification as there needs to be (lots of zero-length intervals). This could happen in the QC PR.

[2022-05-25 17:07] petrelharp commented on #1278
Since the docs weren't building, I commented out the `register_demographic_model` line for it over in #1273.

[2022-05-26 23:21] #1278 closed

[2022-05-27 13:19] petrelharp commented on #539
Closed in #1274, thanks a ton to @silastittes!!

[2022-05-27 13:19] #539 closed

[2022-05-27 13:47] isinaltinkaya opened #1280 "Q: Using exclusion mask feature vs excluding regions in downstream analyses"
Hi,

I became aware of the `exclusion_mask` while reading through your github issues. It was recommended for excluding the low recombination regions when we use realistic recombination maps like HapMap. I want to use the exclusion mask functionality but it is currently not a part of a stable release.

I have a few questions:
* Is there a difference in theory between using exclusion mask or excludi

[2022-05-27 15:04] isinaltinkaya opened #1281 "stdpopsim (0.1.3b2.dev167+g8d2527c) doesn't work with write_vcf(ploidy=x)"
Hi,

I think the new sample setting scheme in stdpopsim 0.1.3b2.dev167+g8d2527c creates issues with some tskit functions.

The code below works fine with                                                                                       stdpopsim 0.1.2
[code]

but returns the following error with version 0.1.3b2.dev167+g8d2527c:

[code]

Best,
Isin

[2022-05-27 15:57] petrelharp commented on #1281
Hi, @isinaltinkaya! Thanks for the report. This is not so much a change to stdpopsim as a change to msprime (which it's using under the hood) - since msprime 1.0, msprime adds (by default, diploid) individuals to the output tree sequence. So, just removing the `ploidy=2` argument to `write_vcf( )` should make your code work (and, it should work just like before). Let us know how that goes?

[2022-05-27 16:00] isinaltinkaya commented on #1281
Actually, without `ploidy=2` I get 300 individuals in the vcf file instead of 150, where individuals are defined as:

[code]

[2022-05-27 16:04] petrelharp commented on #1280
Well, let's see - we're planning to make a release sometime this summer. I see from your other issue you're trying out the github version; that's fine as long as you're OK with things possibly changing. (We have no plans to change the masking stuff, though.)

Well, that depends what you do, I think? The masked tree sequence has just "missing data" in the masked regoins; so as long as your analyses

[2022-05-27 16:07] petrelharp commented on #1281
Oh, gee. That's right, because the "number of samples" gives the number of *diploid* samples. This was a change in [msprime 1.0](https://tskit.dev/msprime/docs/stable/legacy.html). However, I had not realized that this would propagate into a change for the output of stdpopsim - we need to make sure to document this!

[2022-05-27 16:09] petrelharp opened #1282 "should `samples` be diploid?"
*Edit:* the question here is whether to make "sample numbers" count numbers of diploids? This would be a substantial change, but arguably less confusing, especially as it's matching msprime and SLiM.

As noted over in #1281, the `samples` argument in msprime now produces by default diploid samples, although we produce individuals with `ploidy=1`, and so sp `write_vcf` now fails if given the `ploid

[2022-05-30 23:34] fbaumdicker commented on #1115
I agree, (2) is the best way to handle GC. I would add three optional arguments to `get_contig()`:
`gene_conversion_rate`, defaults to `0.0`
`gene_conversion_tract_length`, defaults to `0.0`
`use_species_gene_conversion`, defaults to False (I really like this option as it would easily enable the most common case)

We need to be clear about how these three interact. The easiest way would be that on

[2022-05-31 04:18] petrelharp commented on #1115
Sounds good to me! Except that it's a bit more complicated than we need: I think that if `rate` is provided then `tract_length` should be also - no mixing and matching defaults there. So, the only three valid options would be:
- nothing (default); result is no GC
- `use_species_gene_conversion=True`
- `gene_conversion_rate=x` and `gene_conversion_tract_length=y`

If you'll get to it very soon then

[2022-05-31 17:05] xin-huang opened #1284 "ImportError: cannot import name XX from partially initialized module 'stdpopsim.qc' (most likely due to a circular import)"
**Short description of the problem:**
I am trying to create a new species in `stdpopsim/qc`, following the instruction in https://popsim-consortium.github.io/stdpopsim-docs/latest/development.html#demographic-model-review-process

**How to reproduce the problem:**

[code]

**Suggested fixes:**
No idea

[2022-06-01 03:48] petrelharp commented on #1284
Wow, what the heck. I can confirm this, and tried a bunch of different things (called it `PanTrog.py` instead; added things to the file instead of an empty file; moved a different species last...) and nothing helps. I also have no idea. Ping @andrewkern? @grahamgower?

[2022-06-01 05:48] grahamgower commented on #1284
This problem is introduced only when doing `pip install .`. I guess there is then some confusion about the installed module and the module in the current directory. So, I recommend avoiding that. If you want to run the command line interface use `python -m stdpopsim -h`, which will pull in the stdpopsim module found in the current working directory. And if I really can't persuade you not to instal

[2022-06-01 06:07] grahamgower commented on #544
I'm still plugging away at this, but have been slowed by yet more minor annoyances during the liftover (chromosome names changed: chr2a->chr2A and chr2b->chr2B, which broke the maintenance script).

[2022-06-01 06:10] petrelharp commented on #1284
Hm - the problem does also occur when doing `python setup.py install --user` (nearly the same thing?). And, it occurs when running `stdpopsim -h` from a different directory (e.g., `/tmp`), so it's not due to confusion with the current working directory.

However, doing `pip install -e .` *does* work for me. What the heck?

[2022-06-01 07:56] petrelharp commented on #1284
Yep! Once the file is `git add`'ed, it works!

[2022-06-02 01:14] #544 closed

[2022-06-02 01:14] #595 closed

[2022-06-02 01:14] #1249 closed

[2022-06-02 01:16] #1247 closed

[2022-06-02 01:17] petrelharp commented on #543
Did you get this lifted over, @saurabhbelsare?

[2022-06-07 16:13] petrelharp commented on #1284
I'll close this, let us know if you have further problems?

[2022-06-07 16:13] #1284 closed, assigned to nobody

[2022-06-07 18:42] xin-huang commented on #1284
it works, I don't have problems now

[2022-06-14 06:49] janaobsteter commented on #1220
So sorry, I've been away for 14 days (and I thought I've pushed this
already, but apparently not 😥). One question - I can't enter all this new
numbers in the test, but I have changed the species.py file, is this ok?

Best, Jana

On Thu, 2 Jun 2022 at 03:17, Peter Ralph ***@***.***> wrote:

[2022-06-14 15:59] petrelharp commented on #1220
All good! Thanks for coming back to it - we'll get it finished quick. It is okay to change both the species.py file and the tests, since your'e doing it in consultation with others. Go ahead and push, and I'll review it!

[2022-06-15 13:58] janaobsteter commented on #1220
I've submitted a PR - something is still wrong with the form of it, but I
don't really know how to fix it. But just write in the PR and I can do my
best :)

Jana

On Tue, 14 Jun 2022 at 18:00, Peter Ralph ***@***.***> wrote:

[2022-06-15 14:01] grahamgower commented on #1220
Hey @janaobsteter. The PR looks fine - its just codecov being stupid because you deleted some unused lines of code.

[2022-06-18 10:59] xin-huang commented on #1055
Hi @petrelharp

I started to implement the DFE QC

https://github.com/popsim-consortium/stdpopsim/pull/1292

[2022-06-24 02:13] petrelharp commented on #1220
Awesome! Looks good - I will merge the PR now. Thanks for sticking through, everyone!

[2022-06-24 02:15] petrelharp commented on #1220
Closed in #1291.

[2022-06-24 02:17] petrelharp commented on #1220
Whoops - I'd forgotten to actually run the tests, and in fact the generation time isn't matching. Reopening.

[2022-06-24 02:24] petrelharp commented on #1220
The citation for generation time is [Langergraber](https://www.pnas.org/doi/full/10.1073/pnas.1211740109), which has a pretty clear estimate of 24.6 years for chimps, and this is what @janaobsteter put in the tests. The species definition has 25 years, which I suspect is a rounding of 24.6.
![Screenshot from 2022-06-23 19-19-10](https://user-images.githubusercontent.com/1046249/175449381-2b1c315d-

[2022-06-24 07:32] janaobsteter commented on #1220
Hi! Yes, I saw that and that is why I put it in the tests. I also suspect
the rounding, but wasn't sure whether that was "allowed" or agreed upon.

Jana

On Fri, 24 Jun 2022 at 04:24, Peter Ralph ***@***.***> wrote:

[2022-06-24 14:14] petrelharp commented on #1220
Are you happy with this, @xin-huang?

[2022-06-24 18:18] xin-huang commented on #1220
Yes, looks good to me, thank you @janaobsteter @petrelharp

[2022-06-24 22:40] #1220 closed

[2022-06-28 15:53] xin-huang commented on #1227
Hi @petrelharp

Can I suggest @kuhlwilm to QC this model, because he is the author for this model?

[2022-07-03 14:35] petrelharp commented on #1227
Yes, although they should make sure to QC based on what's written down in the paper, rather than private knowledge.

[2022-07-07 21:48] andrewkern commented on #1234
closing this issue. pretty sure this is all done.

[2022-07-07 21:48] #1234 closed

[2022-07-07 21:51] andrewkern commented on #900
closing this down... i think the process is working just fine at this point.

[2022-07-07 21:51] #900 closed

[2022-07-12 22:43] KellenRiall opened #1305 "Enable SLiM engine on Windows"
Hi, I would recommend that you guys add something in your documentation that explicitly states that using SLiM as an engine on Windows is not currently possible. If it is clearly stated somewhere, I apologize for missing it, but perhaps in that case it could still be made more visible and obvious. I just spent a few hours trying to figure out why "slim" wasn't registered as a valid engine, and onl

[2022-07-13 06:24] grahamgower commented on #1305
Hi @KellenRiall. Thanks for the report. Yes, SLiM supports Windows now, so we should be able to support Windows too. I don't think there are any barriers left to enabling this actually. Maybe you'd like to have a go at making the necessary changes?

- As you've identified, there is a check for windows in `slim_engine.py` that needs removing. - There are also similar checks in the test suite that n

[2022-07-13 16:53] gregorgorjanc commented on #1225
@gregorgorjanc look at how demography-specific mutation rate was handled in https://github.com/popsim-consortium/stdpopsim/pull/839

[2022-07-19 16:07] petrelharp commented on #1227
Note: I hear that @kuhlwllm has agreed to review this, but I can't "assign" them for some reason.

[2022-07-24 03:45] petrelharp opened #1307 "migrate to SLiM v4"
SLiM v4 will probably be released before our next release, so we should be using it. Changes are minor.

[2022-07-24 05:00] petrelharp opened #1308 "log-normal DFE doesn't allow negative values"
Over in #1292 I turned on the test that actually simualted from all of the defined DFEs. The [`DroMel.LognormalPlusPositive_R16`](https://github.com/popsim-consortium/stdpopsim/blob/main/stdpopsim/catalog/DroMel/dfes.py#L53) model uses a lognormal distribution for deleterious mutations. However, the simulation run errored because the selection coefficients that it produced were positive, and somet

[2022-07-25 17:45] andrewkern commented on #1308
seems like a perfectly fine fix to me. in practice, are people fitting models of this sort?

[2022-07-25 18:16] petrelharp commented on #1308
Well, I ran into this because Ragsdale et al used a (negative) log-normal? So, yes?

[2022-07-25 18:48] andrewkern commented on #1308
👍

[2022-07-25 23:37] #1308 closed

[2022-07-29 08:35] isinaltinkaya opened #1311 "OutOfAfrica_3G09 simulates two haplotypes with very high similarity"
**Short description of the problem:**

Simulation with OutOfAfrica_3G09 model generates two haplotypes with a very high amount of shared derived sites causing the diploid individuals constructed based on them having a single individual with a very high amount of "mm" sites.

I am not sure if this is likely to observe this with this demographical model within a small amount of replicate set or if t

[2022-07-29 08:42] gregorgorjanc opened #1312 "Add pig species and published demographies (SusScr)"
- **Name:** Sus Scrofa
- **Common name:** pig

Just starting this - will continue in time

https://en.wikipedia.org/wiki/Sus_(genus)

[2022-08-01 22:04] gregorgorjanc commented on #1312
Adding some pig demography papers

2012: ***Analyses of pig genomes provide insight into porcine demography and evolution***
https://www.nature.com/articles/nature11622

For 10,000 years pigs and humans have shared a close and complex relationship. From domestication to modern breeding practices, humans have shaped the genomes of domestic pigs. Here we present the assembly and analysis of the geno

[2022-08-02 14:48] #847 closed

[2022-08-02 14:49] petrelharp commented on #1114
Now that #1106 is in, we should do this.

[2022-08-02 17:00] gregorgorjanc commented on #836
Adding some literature pointers:

2021: De novo assembly, annotation, and comparative analysis of 26 diverse maize genomes
https://www.science.org/doi/abs/10.1126/science.abg5289
--> genome

2017: Contributions of Zea mays subspecies mexicana haplotypes to modern maize
https://www.nature.com/articles/s41467-017-02063-5
--> mutation rate

2021: Not so local: the population genetics of convergent ad

[2022-08-03 06:00] petrelharp commented on #1311
To make sure I understand - in some reasonable fraction of replicates, you're getting some within-individual runs of homozygosity that are like 20 or 30 Mb long, among 150 individuals? That does seem surprising, but then again chromosome 22 is pretty weird - it has a long section of very low recombination rate, which could easily cause this. However, that's before the 16Mb mark, and you say this i

[2022-08-03 22:21] petrelharp commented on #1227
Ping @kuhlwllm?

[2022-08-04 12:20] xin-huang commented on #1227
He is on vacation now and already implemented https://github.com/kuhlwilm/stdpopsim/blob/main/stdpopsim/qc/PanTro.py
But he also suggested we should use the model based on ABC in the same paper instead of SFS (this model I implemented), because the model based on ABC fit data better. Should he also change the parameters in catalog (https://github.com/kuhlwilm/stdpopsim/blob/main/stdpopsim/catalog/

[2022-08-04 13:56] petrelharp commented on #1227
Ah, if it's already QC'ed, you could put his code in a PR? But, if you're going to switch over to the ABC model, I think we need two different people to switch over the main model and the QC model - up to you.

[2022-08-04 16:36] xin-huang commented on #1227
So I should open a pr and change the parameters based on the results from ABC, then ask @kuhlwilm to open the pr for the QC because his QC is based on the ABC results?

[2022-08-04 18:06] petrelharp commented on #1227
Sounds good!

[2022-08-05 08:20] lz398 commented on #1311
Thanks for your detailed reply, Peter. I am a postdoc in the same group with Isin, and I guess the issue we encountered is more extreme than what you calculated here:
As far as I understand, we sampled 50 individuals from each of the three populations, and pop1 and pop2 have a larger population size (during recent times), so the coalescent rate will be smaller compared to the result solely based o

[2022-08-05 16:24] petrelharp commented on #1311
Ah, good point, that's a factor of 3 difference.

I think the next thing to do would be to see if this happens with the new stdpopsim. I am not aware of anything that has changed that would affect this, but it's the first thing to check. The code will be a little different (but, simpler) because it now inserts individuals.

This is a very tricky thing to tell if it's actually a bug, since it's har

[2022-08-08 15:27] fbaumdicker commented on #1115
Now that #1106 is done we should think about adding more default values for the species that are already in the catalog.

[2022-08-09 16:32] petrelharp opened #1318 "beta release checklist"
TODO
- [ ] look at issues from the [0.1.3 milestone](https://github.com/popsim-consortium/stdpopsim/milestone/5)

[2022-08-09 16:33] petrelharp opened #1319 "0.2 release checklist"
TODO (is 0.2 the next number? the last one was 0.1.2)
- see the [0.2 milestone](https://github.com/popsim-consortium/stdpopsim/milestone/4)

[2022-08-09 16:54] petrelharp commented on #857
Discussed today - implementing selfing means that we *also* need to figure out what the demographic models inferred for selfing species actually mean. The current proposal is (very roughly) - if we turned on selfing we should also multiply all the population sizes by 2, for demographic inferences that don't explicitly include selfing?

[2022-08-09 19:09] chriscrsmith opened #1320 "AraTha annotations"
**Short description of what you'd like added:**
The catalog would benefit from annotations for Arabidopsis.

**Rationale and considerations:**
In particular, we'd like to have this for the analysis2 pipeline and paper.

[2022-08-09 19:11] chriscrsmith opened #1321 "AraTha DFE"
**Short description of what you'd like added:**
The catalog would benefit from a DFE(s) for Arabidopsis.

**Rationale and considerations:**
In particular, we'd like to have this for the analysis2 pipeline and paper.

[2022-08-10 08:06] jeromekelleher commented on #1319
0.2 seems right - I guess we can then plan for 0.3 as the version that converts the demographic models in the catalog to demes (with some code breakage, probably)?

[2022-08-10 13:38] isinaltinkaya commented on #1311
Thank you very much for your detailed reply!

I would like to share one more observation in case this could be related:

I thought the chromosome 22 simulation without applying any mask would simulate the whole chromosome (including the low recombination sites), and I observed these sites in output files, too. However, when I look at the positions in genetic map, it does not cover the entire chrom

[2022-08-10 20:22] nspope opened #1322 "Checkpointed rejection sampling in the SLiM engine does not produce correct simulations"
Summarizing the discussion [here](https://github.com/popsim-consortium/stdpopsim/pull/1306#discussion_r934998195) with @grahamgower, @petrelharp, and @andrewkern :

The SLiM engine in `stdpopsim` uses checkpointed rejection sampling to condition on frequencies of particular mutations over time (e.g. to simulate sweeps). As pointed out by @petrelharp, this mechanism can easily result in simulations

[2022-08-10 21:23] petrelharp commented on #1311
I'm not sure what you mean? Maybe I'm missing something, but it looks like first position is 0.0, so the map does cover the entire chromosome? Do you mean that the genetic map is constant (and, I think has a low recomb value) on the first 16Mb?

[2022-08-11 06:39] isinaltinkaya commented on #1311
I was just surprised that there are no positions between 0.000000000000000000e+00 and 1.605134700000000000e+07, but maybe I am misunderstanding how the map is being parsed within the program.

[2022-08-11 08:00] petrelharp commented on #1311
The positions provided are the [points at which the recombination rate changes](https://tskit.dev/msprime/docs/stable/rate_maps.html). So, that means that the recombination rate does not change for the first 16Mb (and, if you look at the first entry in the `rate` vector, I think you'll find it's a very low rate). This is a big reason that chr22 can be pretty werid.

[2022-08-17 04:53] andrewkern commented on #1320
I'll try to get this done in the next day, if no one else is currently at work on it

[2022-08-17 18:36] #1320 closed

[2022-08-17 18:45] andrewkern commented on #395
closing this issue as this edit has been made

[2022-08-17 18:45] #395 closed

[2022-08-19 17:36] nspope opened #1328 "Fix checkpointing behavior in SLiM rejection sampling"
As described in #1325, checkpointed rejection sampling can easily produce incorrect simulations. The only situation where checkpointing is "safe" is when a mutation is drawn and there are no other extant mutations that are being conditioned on.

I think the following would fix the issue:

- Remove `save` option from python API (extended event python classes)
- Remove save mechanics from SLiM engin

[2022-08-19 18:00] petrelharp commented on #1328
I agree, this sounds like the right thing to do!

[2022-08-19 18:05] nspope opened #1329 "Convenience functions for single site selection models"
In #1082, @andrewkern suggested making the single site selection API more user-friendly. The idea is to have convenience functions that set up lists of extended events for frequently-used models like hard sweeps.

This could look something like:
[code]
which would condition on a mutation originating in population 0 at time 1000 and reaching fixation by the end of the simulation.

Some questions ar

[2022-08-19 23:21] petrelharp commented on #1307
Closed in #1326.

[2022-08-19 23:21] #1307 closed

[2022-08-21 20:26] nspope opened #1332 "Support for gene conversion in SLiM engine"
With #1106 the msprime engine supports gene conversion, and the rate/mean tract length parameters are stored as attributes of `stdpopsim.Contig`. It'd be nice to also allow gene conversion with the SLiM engine. This would require:

1. Having `slim_makescript` add a line with `initializeGeneConversion(...);` to the `initialize()` block of the SLiM script.
2. Reconciling differences in parameterizat

[2022-08-22 17:49] petrelharp opened #1333 "better genetic map docs"
Currently, `species.get_genetic_map` and `species.genetic_maps` are not documented in the [API page](https://popsim-consortium.github.io/stdpopsim-docs/latest/api.html#species-definitions) of the docs, and the section titled "choose a contig and a recombination map" [of the Tutorial](https://popsim-consortium.github.io/stdpopsim-docs/latest/tutorial.html#choose-a-contig-and-recombination-map) does

[2022-08-22 19:34] petrelharp commented on #1332
Do you have input on how to set this up, @fbaumdicker?

[2022-08-22 19:36] petrelharp commented on #1332
Also TODO would be to add a bit to `slim_makescript` to ask SLiM what the GC rate is and record this in ts metadata when debugging is on, so that the tests can verify that GC is being done as requested; we can copy the way that we check recomb maps and DFEs.

[2022-08-22 19:42] nspope commented on #1114
Related to #1332, I think there may be some parameterization differences to reconcile.

[2022-08-22 20:49] nspope commented on #1053
@petrelharp Can this be closed now that #1078 is merged?

[2022-08-22 20:57] petrelharp commented on #1053
Yep; we've got [API docs](https://popsim-consortium.github.io/stdpopsim-docs/latest/api.html#selection-and-dfes) and [examples](https://popsim-consortium.github.io/stdpopsim-docs/latest/tutorial.html#incorporating-selection).

[2022-08-22 20:57] #1053 closed

[2022-08-23 05:38] petrelharp opened #1334 "should SLiM follow msprime in doing Jukes-Cantor mutations?"
Since msprime 1.0, `sim_mutations( )` has by default produced JC mutations (and hence, nucelotide mutations). Questions:

1. Do we want to do JC for msprime mutations? (I think yes?)
2. Do we want to do JC for *SLiM* mutations? (I also think yes?)
3. Do we want to convert the output of SLiM simulations so that the ancestral and derived states are nucleotides rather than lists of SLiM IDs (which pr

[2022-08-23 17:39] nspope commented on #1332
With regards to SLiM's ability to model bias in nucleotide composition due to heteroduplex mismatch repair: currently, neutral mutations are added to SLiM-produced tree sequences in `_SLiMEngine._recap_and_rescale` using msprime. So, I think it'd be challenging to support mismatch repair bias because we'd have to do something complicated to keep track of mutations in complex gene conversion tracts

[2022-08-23 17:55] nspope commented on #656
@grahamgower and @petrelharp, do you still prefer this naming scheme? I think we should settle on one or the other before the upcoming release.

[2022-08-23 17:58] nspope commented on #1329
Resolving the `ext` or not question should close #584. A related question is if "extended events" should be referred to as "SLiM events", as suggested in #656.

[2022-08-23 18:03] nspope commented on #699
I think this is resolved by #1306 @mufernando? In that we're now working with "single sites" with string IDs rather than requiring that the user manually pull out the mutation type id to supply to the extended events. Also related is #1329.

[2022-08-23 18:38] mufernando commented on #699
yep!

[2022-08-23 18:38] #699 closed

[2022-08-23 20:38] nspope opened #1336 "Docstrings needed for `stdpopsim.ext` extended event classes"
Docstrings are needed for the extended event classes in `stdpopsim.ext`.

[2022-08-23 22:59] nspope opened #1337 "Allele frequency conditioning with multiple `DrawMutation` events at the same locus"
Relates to #608.

If multiple `DrawMutation` events with the same single site id are supplied to the SLiM engine, then multiple mutations of the same type will be generated. If these mutations make it into the sampled individuals, they will ultimately end up as different alleles (integer codes) in the outputted tree sequence.

This creates a bit of a dilemma for `ConditionOnAlleleFrequency`. What

[2022-08-26 17:49] petrelharp opened #1339 "fixup PapAnu genetic map"
Over at #1338 I've added the PapAnu genetic map to the catalogue... and it turns out that it doesn't actually pass tests, failing with
[code]
Could you look into this, @saurabhbelsare?

[2022-08-26 18:02] saurabhbelsare commented on #1339
Looks like I had forgotten to add the sha256 to genetic_maps.py before submitting. Sorry about that. I’ve added it now. Should I submit a new PR or how should I add it?

[2022-08-26 18:10] petrelharp commented on #1333
Actually, I the GeneticMap object is not documented *by design*: https://github.com/popsim-consortium/stdpopsim/pull/713

[2022-08-26 18:10] #1333 closed

[2022-08-26 18:30] petrelharp commented on #1339
How about add a new PR incorporating the change in #1338 also? (or, just add to #1338 if you've got permissions)

[2022-08-26 18:51] petrelharp commented on #1334
We discussed this in the meeting this week, and I think the answer is "yes" to all of these. Do you see any issue with this, @bhaller? @jeromekelleher?

[2022-08-26 19:28] jeromekelleher commented on #1334
I'd say yes - the majority of users won't know anything about SLiM and will expect to get VCFs out the other end with ACGT alleles.

[2022-08-26 20:51] #1328 closed

[2022-08-26 23:28] petrelharp commented on #656
Sounds good to me - but, I'm also voting to keep these out of the public API anyhow.

[2022-08-26 23:28] petrelharp commented on #1336
I'm not sure if they are? We need to decide what to document.

[2022-08-26 23:29] petrelharp commented on #1336
Ah, sorry, I'm a bit wrong - we can provide docstrings without putting it in the main documentation.

[2022-08-26 23:30] petrelharp commented on #1337
I vote for (1) also!

[2022-08-26 23:32] petrelharp commented on #658
I'll close it; re-open if you disagree, Graham.

[2022-08-26 23:32] #658 closed

[2022-08-26 23:33] petrelharp commented on #1332
I agree - we can think about GC bias later.

[2022-08-27 01:27] bhaller commented on #1334
It generally makes sense to me.  The only gotcha is that an ancestral state of A and a mutation back to A are not the same thing in SLiM, nor are two different mutational lineages to T at the same position that arose independently.  So you may want to think about various "uniquing down" strategies if you want stdpopsim to really make complete biological sense when selection is involved – IBS rathe

[2022-08-27 14:15] petrelharp commented on #1334
Hm - looking at the details, it's going to quite annoying to actually shift the script to being a nucleotide model. HOWEVER, since all we want is Jukes-Cantor mutations, we could equivalently just call [`pyslim.generate_nucleotides`](https://tskit.dev/pyslim/docs/latest/python_api.html#pyslim.generate_nucleotides) on the tree sequence afterwards. I think this is definitely what we want to do, sinc

[2022-08-27 14:18] bhaller commented on #1334
Hmm.  At that point, it sounds to me like maybe this ought to be optional, or just left up to the user to do if they want to.  If it's a time-consuming operation that the user may or may not want, and if it's easy for them to do it themselves, then maybe just leave it up to them, and document how they would do it?  Or at a minimum I'd suggest making it the default behavior but having a way to turn

[2022-08-27 17:45] petrelharp commented on #1334
We should see how time-consuming it is, but yes.

[2022-08-27 18:06] petrelharp commented on #1332
OK, notes here:
- msprime's gc set-up is [described here](https://tskit.dev/pyslim/docs/latest/python_api.html#pyslim.generate_nucleotides)
- SLiM's gc set-up is described in section 1.5.6 of the manual

We have two parameters added in #1106, which are [passed straight to msprime.sim_ancestry](https://github.com/popsim-consortium/stdpopsim/blob/ec4fedd9859dc23b7b12013d69172d851a5d43d2/stdpopsim/en

[2022-08-28 18:43] petrelharp commented on #1332
Another option I see is to change the way we store GC rates, effectively to match SLiM. This would make sense, as SLiM's set-up is closer to the biology (as I understand it, in diploid, sexual organisms at least). So, let's say that the crossover rate is `1e-8` and the crossover fraction is `0.1`; then we'd need to simulate in SLiM a recombination rate of `1e-7` and a noncrossover fraction of 0.9;

[2022-08-29 19:13] petrelharp opened #1343 "require SLiM version 4.0++"
Over in https://github.com/MesserLab/SLiM/issues/347 is described a bug leading to memory leaks and possible crashes in the case where reloading from a .trees file while there are Remembered individuals. We would only hit this if there historical samples and a condition on allele frequency. So, this just means we'll want to require SLiM version 4.01 (or whatever the next release that fixes this is

[2022-08-29 19:15] petrelharp commented on #1343
This needs to be changed in `requirements/` and at https://github.com/popsim-consortium/stdpopsim/blob/main/stdpopsim/slim_engine.py#L1552

[2022-08-29 19:19] nspope commented on #1343
There's also a hardcoded check here that could be updated:

https://github.com/popsim-consortium/stdpopsim/blob/3166eadd31097771c6b1dc4dd2ce8e0792f02220/stdpopsim/slim_engine.py#L1551-L1552

[2022-08-29 21:22] chriscrsmith opened #1344 "QC for AraThal DFE"
**PR for new model:**
#1324

**Original paper:**
[Huber et al., 2018](https://doi.org/10.1038/s41467-018-05281-7)

**Parameter values:**
I took the gamma parameters from Supplementary Table 4, the genome-wide, additive-only model for A. LYRATA- due to challenges with simulating with selfing for A. thaliana. Not certain this is what the group had in mind, also there might be updates on simulating s

[2022-08-30 01:15] bhaller commented on #1332
Possible, yes.  Quite unfortunate to not be able to use the built-in gene conversion facility in SLiM, though, since it's really pretty sophisticated – even allowing for complex gene conversion tracts and heteroduplex mismatch repairs.  Abandoning that in favor of a scripted approach... well, it doesn't seem optimal.  But I get that you're in a bind here.

I'm not sure I understand all the issues

[2022-08-30 04:52] petrelharp commented on #1332
I'm not worried about getting exactly the same model in msprime and SLiM - mostly, we'd like to get the same model in both because we have to make fewer decisions. However, we shouldn't fall back to a less realistic model just to get consistency across engines. (For instance, we're not restricting ourselves to neutral sims just because msprime won't do much selection.) And, it seems to me that SLi

[2022-08-30 12:18] bhaller commented on #1332
This sounds like an excellent proposal to me.

[2022-08-30 16:40] petrelharp commented on #1282
HOWEVER, currently [samples are *not* diploid](https://github.com/popsim-consortium/stdpopsim/blob/3166eadd31097771c6b1dc4dd2ce8e0792f02220/stdpopsim/models.py#L207). We need to (a) think about changing this, and (b) clearly document what we do.

In fact, currently using the msprime engine we ask for *haploid* samples, so in the resulting tree sequence we get individuals with ploidy=1. This is con

[2022-08-30 16:51] bhaller commented on #1282
In cases like this, I suggest breaking with backward compatibility in a way that forces the user to confront the change.  In other words, don't just change the meaning of an existing parameter from haploid to diploid; that will surprise people and hide the fact that a change occurred.  Instead, deprecate the old parameter (either breaking it entirely, or supporting it with a warning and a "compati

[2022-08-30 18:27] jeromekelleher commented on #1282
I agree with @bhaller - we can't silently change the meaning. It may be best to consider a different API entirely.

We also need to consider the CLI.

[2022-08-30 18:57] petrelharp commented on #1282
Yep - or, leave it the same.

[2022-08-31 16:16] nspope commented on #944
It looks like there is documentation in place about combining DFEs and annotations [here](https://popsim-consortium.github.io/stdpopsim-docs/latest/tutorial.html#simulating-selection-on-exons), which should check the last box. Mind if I close this @petrelharp?

[2022-08-31 16:27] nspope commented on #765
We've got documentation for this [here](https://popsim-consortium.github.io/stdpopsim-docs/latest/tutorial.html#simulating-selection-on-exons), so I'm closing.

[2022-08-31 16:27] #765 closed

[2022-08-31 16:45] nspope opened #1346 "Add a way to retrieve a (possibly random) interval from a `Contig`"
As discussed in #670 and #401, and started in #402.

[2022-08-31 18:44] nspope opened #1347 "Mention species inclusion criteria in development docs"
If there are going to be criteria for including species in the catalog (e.g. to avoid fragmented assemblies), these should be mentioned in the [Adding a new species](https://popsim-consortium.github.io/stdpopsim-docs/latest/development.html#adding-a-new-species) section of the documentation, similarly to the [What models are appropriate to add](https://popsim-consortium.github.io/stdpopsim-docs/la

[2022-09-05 04:11] #543 closed

[2022-09-05 04:17] petrelharp commented on #1332
I'd vote for leaving them named the same thing, since no species can have *both* properties, and they're implemented just the same. It'll be less confusing then adding an additional parameter.

Is your idea to make things ready for the future in which recombination maps also estimate GC parameters/maps? Currently, are there any recombination maps that also have estimates of GC things (like, descri

[2022-09-05 04:25] petrelharp commented on #1332
Synthesizing the above discussion, to make things concrete (but with @fbaumdicker's suggestions still pending), here's a proposal:
- add a `bacterial_recombination` flag and a `gene_conversion_fraction` parameter (must be >= 0 and strictly < 1)
- if the flag is True then "recombination rate" means effectively GC rate, and the `gene_conversion_tract_length` must be defined; and `gene_conversion_fra

[2022-09-05 07:34] grahamgower opened #1349 "deprecate `--length-multiplier` CLI option"
`--length-multiplier` doesn't compose well with other options, and specifying a fixed length is an easier way to get short-running tests.

[2022-09-05 07:37] grahamgower commented on #1349
Also deprecate/remove the `length_multiplier` options to `Species.get_contig()` and `Contig.species_contig()`. No one should be using these outside our test suite.

[2022-09-05 12:16] bhaller commented on #1332
I thought they were going to be implemented quite differently?  Bacterial recombination would be implemented using `addRecombinant()` as in section 16.13 in the SLiM manual, gene conversion would be implemented using SLiM's built-in gene conversion facilities.  I think of them as being completely different processes; gene conversion is gene conversion, bacterial recombination is horizontal gene tr

[2022-09-05 13:17] fbaumdicker commented on #1332
That is true for forward-in-time simulations, but bacterial recombination has often been mimicked by gene conversion in coalescent-based backward simulations. So it depends a little bit on the user's background whether using the `gene_conversion_rate` parameter for bacterial recombination will be confusing or not.

[2022-09-05 14:47] xin-huang commented on #1227
Hi @petrelharp
I updated parameters in https://github.com/popsim-consortium/stdpopsim/pull/1350

[2022-09-05 16:07] petrelharp commented on #1332
Hm: the main difference I see between 16.13 and naively just doing `crossoverFraction=1.0` is handling ploidy correctly, which would be real nice but a whole different thing. There's also a different distribution of horizontally exchanged tract lengths (uniform instead of negative binomial).

So - I think that something like 16.13 probably *is* the right thing to do; however, so as to not snowball

[2022-09-05 16:19] bhaller commented on #1332
What do you mean by "handling ploidy correctly"?  Are you guys planning to simulate bacteria with a diploid model?

[2022-09-05 19:39] fbaumdicker commented on #1332
But this would be super easy to change using a uniformly distributed first breakpoint and a geometrically distributed length to the next breakpoint. By changing only these two lines of code in the manual in 16.14

[code]
The manual even suggests to do so:

model. Here we draw the start and end positions of the transfer region independently, but perhaps
it would be better to draw the start location

[2022-09-05 20:02] petrelharp commented on #1332
That is, in fact, currently what happens. PRs welcome! Personally, dealing with sex chromosomes correctly (which we currently don't) is higher on my list of things to do.

Agreed! And, this will set us up for that.

[2022-09-05 20:04] petrelharp commented on #1227
OK, @kuhlwilm - your turn, for the QC, I believe.

[2022-09-05 21:20] petrelharp opened #1353 "update ubuntu in tests"
Github warns us about our tests now:
[code]
... I figure we should just change to [20.04 here](https://github.com/popsim-consortium/stdpopsim/blob/main/.github/workflows/tests.yml#L20).

[2022-09-06 16:05] chriscrsmith commented on #1321
Opened a QC issue for this: #1344

[2022-09-06 17:24] petrelharp commented on #1332
Right now if you ask to simulate the X or the Y (or the Z or W) you just get an autosomal simulation (and a warning saying that it's not right).

[2022-09-06 17:24] #1353 closed

[2022-09-07 00:42] bhaller commented on #1332
Gotcha.  I was wondering because if you want to support multiple-chromosome simulations it would make life easier if you waited for SLiM to add support for that first.  :->  But if it's just simulating the X or the Y by itself, that is already supported, as you know, so that would hopefully be easier to add in stdpopsim.  :->

[2022-09-07 18:09] petrelharp commented on #1282
We discussed this in the meeting yesterday, and the consensus seemed to be that we should change it. A big argument in favor is that currently the msprime and SLiM engines produce tree sequences with haploid and diploid individuals, respectively, and so doing `write_vcf( )` with the two gives fairly different results. This seems not so good.

So, to make the change we would need to figure out a ne

[2022-09-07 18:10] petrelharp commented on #1282
Also note this relates to #1111.

[2022-09-07 18:16] petrelharp commented on #1332
I'm going to go ahead with this proposal, but let me know if you're not happy with it!

[2022-09-07 18:20] bhaller commented on #1332
I'm fine with whatever choice you folks settle on, just giving input.  :->

[2022-09-07 21:42] bhaller commented on #1282
I don't think I have any opinion beyond what I wrote above, sorry.  Whether people will notice the change or not is hard to guess; and I don't have a sense of whether a non-positional argument for this would be a step forwards or backwards.  :->

[2022-09-08 05:35] grahamgower commented on #1282
How about `get_individuals()` and `--individuals`?

[2022-09-10 23:19] nspope commented on #1334
Hmm, `generate_nucleotides` and `convert_alleles` seem prohibitively expensive ... for example,
[code]

[code]

[2022-09-12 05:40] petrelharp commented on #1334
OMG. Well, this is probably something we should look at doing more efficiently, somehow. Let's leave this open.

[2022-09-12 21:09] petrelharp commented on #1334
OK, over at https://github.com/tskit-dev/pyslim/pull/299 we're making `convert_alleles` go fast. And, if we use nucleotide models in SLiM, then we don't need `generate_nucleotides`. (I'm sure the latter can go faster, but we don't yet need it to?) I'll do a pyslim release with the faster version once it's sorted.

[2022-09-14 22:22] nspope commented on #1349
Length multiplier via `-l` is used pretty heavily in the CLI portion of the tutorial, these examples should use `--left` and `--right` once #1348 is merged.

[2022-09-16 04:40] andrewkern commented on #1255
yes this must have been completely accidental!

[2022-09-16 05:25] #1255 closed

[2022-09-20 21:31] nspope opened #1365 "Recombination rate placeholder used for AnoCar"
https://github.com/popsim-consortium/stdpopsim/blob/eccf60ce12c8cde4d3550ea48a75948ff57be42d/stdpopsim/catalog/AnoCar/species.py#L23-L26

Is there a better placeholder that could be used here -- e.g. from another Anolis or reptile?

[2022-09-20 21:31] #1329 closed

[2022-09-20 21:31] #1336 closed

[2022-09-20 21:31] #1337 closed

[2022-09-20 22:08] nspope commented on #1346
Closed by #1348.

[2022-09-20 22:08] #1346 closed

[2022-09-21 02:38] petrelharp opened #1366 "QC machinery for GC?"
Currently we've got gene conversion added to DroMel and bacterial recombination added to EscCol and StrAga. And, in #1355 I changed the mean GC length for EscCol from 345 to 542. These numbers should be QC'ed.

TODO: check if we have machinery for this, and open QC issues.

[2022-09-21 02:40] petrelharp opened #1367 "add more gene conversion rates"
Currently there's only GC estimates for DroMel. Let's get some more in! At *least* we can do HomSap; and probably GC rates are similar for other apes at least, so if there's not estimates for PanTro (or maybe even PonAbe) we could use HomSap estimates. I'm not sure what else is out there, but it'd be nice to get default values in for *everyone* if possible.

[2022-09-21 02:49] #1332 closed

[2022-09-21 19:14] nspope opened #1368 "Make examples in tutorial use 'HapMapII_GRCh38' instead of 'HapMapII_GRCh37'"
So that these introductory examples don't produce warnings about a mismatch between assembly and genetic map.

[2022-09-22 17:54] #1086 closed

[2022-09-22 17:56] #846 closed

[2022-09-22 17:58] #701 closed

[2022-09-22 17:59] #630 closed

[2022-09-22 18:00] nspope commented on #630
Fixed this for HomSap, using the liftover to HapMapII_GrCh38. If this is comes up for other species, we'll make new issues.

[2022-09-22 18:15] nspope commented on #701
Closed by #1345

[2022-09-23 16:50] nspope commented on #1368
More generally, check that all the examples in `docs/tutorial.rst` run. For example,
https://github.com/popsim-consortium/stdpopsim/blob/0b338dd566933e97aca23251ca08d8029ace0601/docs/tutorial.rst?plain=1#L1575

but this genetic map doesn't exist (`SalomeAveraged_TAIR10` does).

[2022-09-23 17:37] nspope commented on #533
It'd be good to use a consistent naming scheme for populations in the generic models-- eg use `pop_0`, `pop_1` rather than `pop1`, `pop2` for `IsolationWithMigration`, to match `PiecewiseConstantSize`.

[2022-09-23 17:55] nspope opened #1371 "Handle haploid simulation correctly in SLiM"
With #1361, some species/chromosomes are haploid, but the SLiM engine currently always simulates diploids. A warning is printed if the number of haploid samples requested is odd, but otherwise there's no indication that the underlying model is mis-specified. It'd be great to actually use a haploid model as in section 14.9 in the SLiM manual. Also, make sure that `tree_sequence.tables.individuals`

[2022-09-25 05:27] #416 closed

[2022-09-26 18:01] #1111 closed

[2022-09-26 18:01] #1282 closed

[2022-09-26 18:24] #1230 closed

[2022-09-26 18:25] #1069 closed

[2022-09-26 18:27] nspope commented on #656
Decided to keep these as "ExtendedEvents" in #1341. The rationale is that we may support sweeps down the road in the msprime engine, but would likely still be using these "Event" classes to define single site mutation models.

[2022-09-26 18:27] #656 closed

[2022-09-26 18:30] nspope commented on #1339
Closed by #1340.

[2022-09-26 18:30] #1339 closed

[2022-09-26 18:31] nspope commented on #1114
Closed by #1355.

[2022-09-26 18:31] #1114 closed

[2022-09-26 18:34] nspope commented on #584
Closed by #1341. Selection-related functions are still living in `ext`, I'll make a new issue to track moving these somewhere more appropriate.

[2022-09-26 18:34] #584 closed

[2022-09-26 18:39] nspope opened #1373 "Move contents of `stdpopsim/ext` into `stdpopsim`"
As mentioned in #584, the functions in `stdpopsim/ext/selection.py` should probably be in `stdpopsim/selection.py` instead.

[2022-09-26 18:41] nspope commented on #608
Fixed by #1341. We're opting to disallow multiple `DrawMutation` events at the same site for the time being.

[2022-09-26 19:14] nspope opened #1374 "Add ploidy to `Adding new species` in developer docs"
With #1361, ploidy is an attribute of species and chromosome, but there's no indication of this in the developer docs wrt adding a new species.

[2022-09-29 13:53] jeanrjc commented on #1114
Hello,
I'm late to the party, but has this feature (Bacterial recombination in SLiM engine) been implemented yet ? I did not find it after a quick look at the different related issues/PR.

In the paper about adding species in stdpopsim, it's written that it's done (or at least, this is how I understand it):

Best

[2022-09-29 19:24] #1318 closed

[2022-09-29 19:33] nspope commented on #1319
- [ ] make sure you're on main
- [ ] increment the version in _version.py [NP: doesn't exist?]
- [ ] update CHANGELOG
- [ ] commit and tag
- [ ] update tags on github with `git push; git push --tags`
- [ ] upload to pypi:
[code]
- [ ] check on pypi that the update actually worked
- [ ] check docs build succeeded
- [ ] upload to zenodo
- [ ] update version and DOI in CITATION.cff (once added)
- [ ]

[2022-09-30 07:14] grahamgower commented on #1319
FYI, stdpopsim is using `setuptools_scm` to determine the version. So, when you build the package with something like `python setup.py build` (or using non-deprecated build tools `pip install build; python -m build`), then the `stdpopsim/_version.py` file will be created. This means you need to create the tag, then build, before the appropriate version will be visible.

Also, we should change from

[2022-09-30 07:21] grahamgower opened #1379 "change from setup.py to setup.cfg and pyproject.toml"
Using setup.py is deprecated. Current best practices for Python packaging are to instead use pyproject.toml to indicate what software is needed for building/installing the package (which defaults to `setuptools` if not specified).
https://packaging.python.org/en/latest/tutorials/packaging-projects/

The setuptools folks have finally improved their docs around using pyproject.toml and setup.cfg htt

[2022-09-30 11:03] grahamgower commented on #1319
You're still uploading to pypi manually, like a barbarian? :P

[2022-09-30 12:24] jeromekelleher commented on #1319
Adds the personal touch for grass-fed artisanal packages

[2022-09-30 14:10] igronau commented on #1114
I think that It's possible to model bacterial recombination in SLiM by setting the proportion of non-crossover recombination to 1. Am I right, @petrelharp?

[2022-10-03 21:56] #1334 closed

[2022-10-04 17:26] nspope commented on #1227
Closed by #1370.

[2022-10-04 17:26] #1227 closed

[2022-10-04 17:41] #1379 closed

[2022-10-04 18:18] nspope opened #1385 "Alphabetize species list in CLI"
e.g., the CLI currently prints
[code]

[2022-10-04 18:33] nspope opened #1386 "Provide population names for various demographic models in CLI"
We're now specifying population-sample pairs via the CLI syntax `<population_name>:<num_individuals>`. However, population names are not shown via `--help-models`. e.g.,
[code]
instead of integer indices (`0:<whatever>`) we should give the names needed to specify samples.

[2022-10-04 18:56] nspope opened #1387 "`msprime.RateMap.slice` throws error when contig covers portion of genetic map with no data"
For example:
[code]
which happens because there's no recombination rates for the first 15 Mb in the chr22 map.

[2022-10-04 21:29] nspope opened #1388 "Cannot `recap_and_rescale` tree sequence produced by saved SLiM script, because DFE metadata is missing"
The "Outputting a SLiM script" section of the tutorial (a few subsections down from [here](https://popsim-consortium.github.io/stdpopsim-docs/latest/tutorial.html#an-example-simulation)) gives an example of saving a SLiM script, then loading it back into python and recapitating via `Engine.recap_and_rescale`.

But, this doesn't work:
[code]

The reason is because the DFE metadata is not created wi

[2022-10-04 21:37] nspope commented on #1388
Should probably also add a test that:
- Saves a SLiM script
- Uses sed to alter output path for trees file to a non-temporary location
- Runs SLiM
- Loads in trees and recapitates

[2022-10-05 08:26] jeromekelleher commented on #1385
Good call!

[2022-10-05 18:54] nspope opened #1390 "Automatically run code blocks when building documentation in CI"
It's a bit tedious to go through every code block in the tutorial, check that these work, and fix them. I wonder if they could be automatically run as part of the CI. There would probably need to be some sort of caching, as the example simulations take ~10 minutes to run in some cases.

[2022-10-06 08:57] jeromekelleher commented on #1390
This is one of the reasons we moved to JupyterBook for msprime/tskit etc @nspope. I don't think there is a way to run this stuff well without it - but conversion is a significant task, and examples would need to be rejigged to run in much less time (since they'll be run every time the docs are built)

[2022-10-06 17:03] nspope commented on #1390
Makes sense! I don't think there's a rush as the examples are up-to-date now, and probably won't drift too much before 0.2.1 or whatever is next.

[2022-10-06 17:13] #1385 closed

[2022-10-06 17:13] #1386 closed

[2022-10-06 18:39] nspope commented on #1229
Looks like both these issues have been resolved.

#1391, #1389, and follow-ups will do a once-over the docs to make sure the text and code blocks are up-to-date.

[2022-10-06 18:39] #1229 closed

[2022-10-06 19:01] #1388 closed

[2022-10-06 19:58] nspope opened #1394 "Add 'adding species' preprint to `docs/introduction.rst` for 0.2.0"
As the 0.2.0 release is accompanying the preprint, it'd be good to have a citation/link for this in the stable docs, alongside Adrion et al.

[2022-10-11 07:35] janaobsteter opened #1396 "Adding a genetic map for Apis mellifera"
- **Name:** Apis mellifera
- **Common name:** honeybee

**Other information:** Genetic map
Hi! I am trying to add a genetic map to the honeybee, but I've ran in some issues.
So, I have the genetic map, which was done on microsatellites and then lifted onto the current honeybee assembly (this was done by some custom scripts by a collaborator).

However, now I have the positions and the genetic posi

[2022-10-11 08:17] janaobsteter commented on #1220
Ok, one last question before I create the PR. I've now set
- mutation_rate=1.6e-8 (they took GI as 24 years, here it says 25, so it's
probably fine?)
- recombination_rate=1.2e-8
- population size: 16781 --> do you want to use the estimate from your
study here? (then just recombination rate needs to change accordingly)

Thanks!
Jana

On Tue, 24 May 2022 at 12:59, kuhlwilm ***@***.***> wrote:

[2022-10-11 16:09] petrelharp commented on #1396
Ah, great! Positions and genetic positions are okay: if the positions are `pos` (in bp) and the genetic positions are `map` (in cM) then the recombination rate (in cM/Mb) is
[code]
This will be one number too short, and so you add an extra 0.0 at the end. Is this enough for you to get it in there?

Let's see - so, you're going to cite the original publication, right? How long are the scripts? We d

[2022-10-11 16:10] petrelharp commented on #1394
Agree. I guess this means we should preprint first, but be ready to release at a moment's notice?

[2022-10-12 00:59] igronau commented on #1347
This is now mentioned in the clean version in #1397. Once we merge in that PR, this issue can be closed.

[2022-10-12 01:42] igronau commented on #1374
I now mention this in the modified version of the docs (#1397). See the updated example for *A. thaliana*. I didn't explicitly mention that you need to mention ploidy for the _species object separately to the chromosome-level ploidy in the _genome object. Do you think we should mention this?

[2022-10-12 17:19] janaobsteter commented on #1396
Gotcha, I think I can handle this! Another question - the chromosome names should be the same as in the "genome.py" file (the main name)?

Regarding the script - it's publicly available here on bitbucket, however, it is not mine (https://bitbucket.org/scriptBee/hapmap-pilot/src/main/GeneticMaps/, file `create-geneticMap.R`).

[2022-10-12 18:17] janaobsteter commented on #1396
OK, I think I did it right - I've computed the rate from positions separately for each chromosome with the last value being zero. I've pushed it to my fork here: https://github.com/janaobsteter/stdpopsim/tree/main/stdpopsim/catalog/ApiMel

[2022-10-12 18:48] petrelharp commented on #1396
That seems right. Perhaps you could make a pull request?

[2022-10-12 22:17] nspope commented on #1394
FYI @igronau-- I think we'll synchronize the release with the preprint after all, so that there's a reference+DOI in the stable docs.

[2022-10-12 22:18] nspope commented on #1374
I think it's clear enough as is, thanks!

[2022-10-13 05:24] nspope commented on #1373
Also, expose these in `docs/api.rst`

[2022-10-13 05:26] igronau commented on #1374
So I guess once I'm done with my edits to the docs and we merge that PR, this issue could be closed.

[2022-10-13 05:36] nspope opened #1400 "Update macOS GitHub Actions runner"
The 10.15 runners will be completely removed by 1 Dec 22, see [here](https://github.com/actions/runner-images/issues/5583).

And some other deprecation warnings:
[code]
[code]
e.g. [here](https://github.com/popsim-consortium/stdpopsim/blob/5dcf2951957c80c18a9f83102ebb93766a8f59d5/.github/workflows/tests.yml#L39).

[2022-10-13 05:36] #1368 closed

[2022-10-13 16:34] nspope commented on #1387
`RateMap.slice` will also fail if the genetic map is shorter than the chromosome (if the chromosome is shorter than the genetic map, the latter will be clipped). I don't think that's wrong, necessarily, but the error message may be a bit obtuse.

[2022-10-14 11:18] janaobsteter commented on #1396
OK! I've created the python file - I'm just waiting for some text. But I have another question - should the genetic map provide genetic positions for every base in the reference genome? Thanks!

[2022-10-17 21:49] igronau opened #1403 "Various issues in the docs to be resolved by the "selection release""
1. [ ] <s>When adding a new species, should we require that the original contributor also generate tables for the docs, as [done when a new demographic model is added](https://popsim-consortium.github.io/stdpopsim-docs/latest/development.html#adding-a-parameter-table-to-the-docs)?</s> *edit: not how it works*
2. [ ] The development docs do not currently mention anything about non-crossover recombi

[2022-10-17 23:53] nspope opened #1404 "When using `left`/`right`, output coordinate system is relative to start of contig"
The options `left`, `right` in `Species.get_contig` allow a portion of a chromosome to be simulated (in contrast to simulating an entire chromosome and "masking" everything outside of `[left, right]`). When adding DFEs/inclusion masks/sweeps/etc to the contig, the coordinate system used is that of the original chromosome.

However, the coordinate system of the output tree sequence will be relative

[2022-10-18 03:14] nspope commented on #1374
Closed by #1397

[2022-10-18 03:14] #1374 closed

[2022-10-18 03:14] #1347 closed

[2022-10-18 05:59] igronau commented on #1403
Regarding docs for new species, @petrelharp notes that species-tables that appear in the docs are automatically generated.

[2022-10-18 08:16] jeromekelleher commented on #1404
Probably yes I think, it's the less bad option.

[2022-10-19 07:43] kuhlwilm commented on #1220
Hi, and sorry for the slow response!
Generation interval of 25 is indeed due to rounding, and mutation rate is correct.
Recombination rate/Ne: I think it is fine to use the Stevison et al. published values: 1.193 cM/Mb and 16,781
Best,
Martin

[2022-10-19 20:15] nspope opened #1405 "Error with generic `StrAga` contig in msprime engine, due to average GC tract length"
With:
[code]
I get:
[code]
It works fine with `contig = sp.get_contig("1")` -- so may have to do with how mean GC tract length is calculated from per-chromosome GC tract lengths? But, the snippet above works fine for generic EscCol contigs, which should involve very similar calculations ...

[2022-10-19 20:53] nspope opened #1406 "SLiM and msprime engines handle population sizes differently for haploid species"
In #1361, ploidy was added as an attribute of species, but the SLiM engine was left untouched (aside from setting the number of sampled individuals appropriately). However, this means that population size is treated differently between the msprime and SLiM engines for haploid species:
[code]
The solution should be to rescale the demographic model's population size inside `slim_makescript` if the c

[2022-10-19 20:59] petrelharp commented on #1405
It's because the GC length for [StrAga is 120000](https://popsim-consortium.github.io/stdpopsim-docs/latest/catalog.html#sec_catalog_StrAga); so a contig length shorter than this throws an error. The error should be more informative, however.

[2022-10-19 21:06] nspope commented on #1405
Oh that makes sense. I'll leave this open as a reminder.

[2022-10-19 21:43] nspope commented on #1406
The catalog Ne is haploid for EscCol -- from Hartl & Sawyer 1994:

And also for StrAga (from comments in `catalog/StrAga/species.py`):

[code]

So, I think all that needs doing is (1) rescaling demographic model population sizes in `slim_makescript` to get the equivalent diploid size; (2) adding a line to the development docs clarifying that population size for non-diploid individuals is the # of

[2022-10-25 18:50] nspope commented on #1371
If/when the SLiM script used for haploids is actually modelling a haploid population (rather than the equivalently-sized diploid population), the re-scaling used here:
https://github.com/popsim-consortium/stdpopsim/blob/f8d6197958f14edaf0bbce281e1a870d03c83664/stdpopsim/slim_engine.py#L905

should be removed.

[2022-10-27 18:06] #1406 closed

[2022-11-07 09:39] jeromekelleher opened #1412 "Missing dependency on scipy"
We import scipy in a couple of places (e.g. [here](https://github.com/popsim-consortium/stdpopsim/blob/8def1f731183c111b1a6a970e0aa7da6cb5aafdc/stdpopsim/qc/HomSap.py#L1476)) but it's not in the list of requirements.

Scipy is a heavy dependency, but given we're already depending on pandas we're pulling in a lot of the data science stack anyway so maybe not worth worrying about.

We'll need to pus

[2022-11-07 10:11] grahamgower commented on #1412
It looks like scipy and pandas are only used in that one demographic model, so I'd vote to modify that model to remove this code. Pandas dataframes can be replaced with lists. Scipy is only used for the gamma pdf, and the std lib has the gamma function `math.gamma()`, so the pdf is a one liner.

As an aside, I'm a bit suspicous that this model and its qc model have indentical nested functions `ext

[2022-11-07 10:17] grahamgower opened #1413 "unnecessary zarr dependency?"
https://github.com/popsim-consortium/stdpopsim/blob/d2e437160b3fca785cf8e9d48f33377eeb1f267a/setup.cfg#L42

Are we using zarr? It doesn't really look like it.

[code]

[2022-11-07 12:44] grahamgower opened #1414 "AWS downloads can be slow from outside USA"
We're currently hardcoding the `s3-us-west-2` server for downloading genetic maps and annotations (e.g. `https://stdpopsim.s3-us-west-2.amazonaws.com/genetic_maps/HomSap/HapmapII_GRCh37_RecombinationHotspots.tar.gz`). I guess this is fine most of the time, but occasionally (i.e. right now, from Europe), this is *very* slow (>15 mins to run the tests when the `_test_cache/` folder is not yet popula

[2022-11-07 12:56] grahamgower opened #1415 "test failures due to simultaneous tests trying to download AWS files"
I think I was missing some of the latest annotations files in my `_test_cache` folder, and running the tests consistently produced the error below, even after removing the file in question.
[code]

After running the tests with a single thread (`pytest -n 0 -x tests/`), the _test_cache was populated successfully. My guess is that multiple tests are running simultaneously that trigger a download of

[2022-11-08 10:05] grahamgower opened #1418 "load QC models only when the tests are run"
Right now we load all QC models from `stdpopsim/__init__.py`, which means `import stdpopsim` loads all the QC models. This is (almost) unnecessary. Only the test suite makes meaningful use of the QC models---to confirm the QC model matches the main model. However, the CLI also looks at the `DemographicModel.qc_model` field to see if a model has been QCed and prints a warning if a user tries to sim

[2022-11-08 11:05] jeromekelleher commented on #1418
Option 3 sounds great to me!

[2022-11-09 11:50] #1412 closed

[2022-11-09 11:50] #1413 closed

[2022-11-15 20:01] nspope opened #1422 "No variants are simulated in zero-recombination region of chr22"
For example:
[code]
gives
[code]

[2022-11-15 20:07] nspope commented on #1422
Looks like that's because this region is masked ("blank" trees) in the output tree sequence for both engines.

[2022-11-15 20:17] nspope commented on #1422
related to #1387

[2022-11-15 21:34] mufernando commented on #1422
To get to the bottom of this I decided to look at branch stats instead.

With the SLiM engine,  we get non-zero segsites for the first few windows when `_recap_and_recale=False`, but these we go to 0 when `_recap_and_rescale=True`.
With the msprime engine, they are always zero.

[code]

[code]

[2022-11-15 21:35] mufernando commented on #1422
So it looks like `msprime` is at fault here --- it is removing the trees where rec rate is 0.

[2022-11-15 21:42] mufernando commented on #1422
oops, yes, that is what I meant!

[2022-11-16 02:54] nspope commented on #1422
Missing data in `RateMap` is documented [here](https://tskit.dev/msprime/docs/stable/rate_maps.html#sec-rate-maps-missing) ... I think the issue is with our chr22 maps (which should explicitly mark the recombination rate as 0).

[2022-11-16 02:58] nspope commented on #1404
Should be able to do this by removing `trim=True` from [here](https://github.com/popsim-consortium/stdpopsim/blob/b1383cce4eac2a0fea92b660fdca88b8c4ad5928/stdpopsim/genomes.py#L507), and removing the coordinate "shifting" for DFEs and exclusion masks, I think.

[2022-11-21 13:20] jeromekelleher commented on #1422
Trimming out the trees with missing data on the flanks is definitely by design, as we've had a number of cases where these large zero-recombination rate bits flanking a chromosome have really messed up statistics.

Do we really know that the start of chr22 has a recombination rate of 0, or is it just that there's not much data there because of sequence weirdness?

[2022-11-21 20:23] nspope commented on #1422
yeah @jeromekelleher, weirdness is probably the answer -- looks like the short arm of chr22 (0 to ~15Mb) contains repetitive regions that are homologous to (and [may recombine with](https://www.biorxiv.org/content/10.1101/2022.08.15.504037v1.full.pdf)) parts of other chromosomes.

One thing that confuses me with these maps is that they invariably contain missing data at the start, but 0 recombinat

[2022-11-21 20:35] petrelharp commented on #1422
That does sound like we're not treating the ends consistently, and should mask the ends as well. A topic for the next stdpopsim meeting next week?

[2022-11-21 20:44] jeromekelleher commented on #1422
Agreed, sounds like the ends aren't being handled properly.

[2022-11-21 21:55] nspope commented on #1422
Here is where the problem lies:

https://github.com/popsim-consortium/stdpopsim/blob/a229273d4c30f08dba6ffb003cb2dbe023a7132f/stdpopsim/genetic_maps.py#L120-L123

[2022-11-22 09:25] jeromekelleher commented on #1422
That would be it - should just be np.nan I guess.

[2022-11-29 17:45] nspope commented on #1422
A small complication-- if the SLiM engine is used, then mutations w/ fitness effects may be placed on masked intervals (which seem to be simulated as having 0-recombination rate). Though these mutations will ultimately be removed by `_recap_and_rescale`, they'll influence the genealogies in unmasked regions.

[code]

The thing to do might be to mask DFE intervals in `add_dfe`, according to where t

[2022-11-29 17:54] andrewkern commented on #1422
yes this is a problem @nspope, and one that is pretty context specific. That said, in empirical data masked regions are generally highly repetitive and gene poor (e.g. heterochromatic regions of genomes). If we are masking low recombination regions, those are indeed likely to be gene poor, so perhaps this really is a small issue?