[2019-12-08 17:13] jeromekelleher commented on #289
Ping @andrewkern --- you mentioned something about 1998 in #192?

[2019-12-08 17:14] jeromekelleher commented on #290
@andrewkern, any thoughts on papers here/people to ask?

[2019-12-08 17:16] jeromekelleher commented on #289
See also discuss in #96, some papers linked in there.

[2019-12-08 17:17] jeromekelleher commented on #96
Superseded by #289.

[2019-12-08 17:17] #96 closed

[2019-12-08 17:18] jeromekelleher commented on #289
@apragsdale, what are your thoughts here?

[2019-12-09 00:04] gtsambos commented on #217
Sorry, haven't gotten round to this yet. I can submit a mini pull request and change a few lines of wording later tonight so we can close this --

[2019-12-09 00:08] gtsambos commented on #216
Sorry -- will make a small pull request to edit some of the wording later today/tomorrow

[2019-12-09 00:09] gtsambos commented on #215
Yes -- I think we're now at the point where individual issues for specific features will suffice

[2019-12-09 00:09] #215 closed

[2019-12-09 00:13] gtsambos commented on #195
I was initially thinking this would be a totally separate tute, but actually, @agladstein's tute about generating vcfs (#234) covers a lot of the ground I was thinking of. I think in between this tutorial and the various "Example analysis" tutes that are in the works, it might not be necessary to have a whole new one that's just about interpreting the data.

[2019-12-09 00:13] #195 closed

[2019-12-09 00:15] gtsambos commented on #191
All except this:

But this is a more specific issue that can perhaps be handled on its own.

[2019-12-09 00:33] fbaumdicker commented on #291
I updated the citation and created a pr.

[2019-12-09 02:59] #291 closed

[2019-12-09 04:02] apragsdale commented on #260
This shouldn't be hard to do at all, no. I can put something together soon that does that taking advantage of methods within the `DemographyDebugger` class.

[2019-12-09 04:06] apragsdale commented on #292
Update - the genetic map was not available from the authors for this species, but the first author did send me the average recombination rates they estimated over each chromosome. I'll update `_chromosome_data` with them, and also include citations for the other attributes while I'm at it.

[2019-12-09 04:33] apragsdale commented on #289
I usually use 29 or 30 years for the human generation time (https://doi.org/10.1086/302770). I'm not sure where exactly the 25 or 27 numbers come from.

I like the idea of using some old estimate of Ne=10^4 from the 90s (Takahata 93 or Hammer 95?). Not sure what the usual citation for those old number.

We probably also need to pick and cite a mutation rate. It seems like mutation rate estimates a

[2019-12-09 05:02] andrewkern commented on #289
I agree- I like the old 10^4 number for Ne, and I think Takahata 1993 is a fine reference.

[2019-12-09 05:06] andrewkern commented on #293
i asked twitter today about this https://twitter.com/pastramimachine/status/1203721175349653504?s=20

overwhelming the answer was 1 gen / yr. and an appropriate citation https://doi.org/10.1890/0012-9658(2002)083[1006:GTINSO]2.0.CO;2

[2019-12-09 06:48] gtsambos commented on #269
One situation in which it would make sense to keep the models as *classes* rather than just *functions* is when you wish to simulate under slightly different demographic parameters that are drawn from a prior that is specific to the model class. Atm, it seems like stdpopsim is focused on fixing the parameters using point estimates from papers (a v worthy and ambitious goal in itself!) -- but if th

[2019-12-09 08:09] grahamgower commented on #269
I really like the idea of having these kinds of models in stdpopsim. It can already be done. Either as a function,
[code]
Or as a class,
[code]

Just a matter of taste.

[2019-12-09 08:19] grahamgower commented on #258
See https://github.com/popgensims/stdpopsim/blob/slim-engine-dev/stdpopsim/slim_engine.py#L263-L272

[2019-12-09 08:20] grahamgower commented on #260
Great @apragsdale! Do you think #258 could be dealt with similarly?

[2019-12-09 08:24] gtsambos commented on #269
Sure - but if only implemented as a function, it's harder to extract the exact demographic parameters used in a given sim. I think it would be more natural for these parameters to be attributes of a particular model instance that are simulated from methods in the model class. In your code above for example, these parameters can be retrieved from `my Model Class. N0`, whereas in the function implem

[2019-12-09 08:43] gtsambos commented on #269
Maybe a better way to explain it in @jeromekelleher's comment:

In a world where the catalog models have random rather than fixed parameter values, they basically just become another example of a generic model.

[2019-12-09 08:55] jeromekelleher commented on #260
Thanks @apragsdale, this sounds great. Perhaps it would make sense to make it a method of DemographyDebugger?

[2019-12-09 08:55] gtsambos commented on #269
Oh, I somehow didn't see that big pull request @grahamgower. Sorry if this was unhelpful to hear only after doing all that work 😞

[2019-12-09 08:58] jeromekelleher commented on #291
Thanks @fbaumdicker!

[2019-12-09 09:06] jeromekelleher commented on #269
I don't think there's any difference here between getting the attributes from a super class or from an instance @gtsambos, it's the same variables that you'd be accessing. To do things properly, you'd need to think carefully about how to arrange the relevant variables to make them accessible for generating random values. These would look quite different to the classes that we currently have (which

[2019-12-09 09:09] jeromekelleher commented on #293
Great, thanks @andrewkern, we have generation time sorted in #296

Any takers for A thal. population size citation?

[2019-12-09 09:12] jeromekelleher commented on #191
I disagree with including the Generic models in the catalog --- I think they are separate things. Genetic models are not "in" the catalog, because the catalog consists of species and published demographic models for them. The generics are only accessible through the Python API, so it's appropriate that they're only documented in the Python API.

It would also complicate the code for generating the

[2019-12-09 09:14] jeromekelleher commented on #289
SGTM @apragsdale. Anyone like to follow up these with a PR?

[2019-12-09 09:16] #217 closed

[2019-12-09 09:19] gtsambos commented on #269
I guess what I'm saying is that a class makes more sense to me when a number of different attributes or outputs might need to be bundled together in some way. In the catalog models as they currently stand, this isn't an issue -- the same demographic parameters hold regardless of the simulation run. This is also basically true for the generic models at the moment, where the users are inputting thei

[2019-12-09 09:27] gtsambos commented on #191
Yes; perhaps I could have been a bit clearer given what I now know about the catalog. My broader point was that the generic models would ideally be documented somewhere on a page, so that users can see that they exist, see how they differ and understand that they are an option that can be utilised. At present, I don't think it's obvious that users will know about them -- they will have to have stu

[2019-12-09 09:30] gtsambos commented on #191
Ie. they don't need to be in "the" model catalog, but they should be "catalogued" (catalogged?? 🤔 ) somewhere I think

[2019-12-09 09:48] jeromekelleher commented on #191
Good point --- perhaps we should include a "list of models" index somewhere?

[2019-12-09 09:49] jeromekelleher opened #298 "Rename GenericIM to IsolationWithMigration model"
More descriptive (what does IM mean?)

[2019-12-09 09:54] gtsambos opened #299 "Simulating model parameters from priors"
Inspired by the discussion in #269, I wanted to open up some discussion about the possibility of modifying the catalog models to give users the option of simulating the parameter values from prior distributions, rather than fixing the parameters from the point estimates in the cited manuscripts.

Here's what I wrote about it over there:

This is obviously going to be a bit of work (probably too mu

[2019-12-09 09:57] jeromekelleher commented on #269
The functions **return** an instance of one of these classes though, so it's really just a semantic difference. Generating models from prior distributions will need extra infrastructure and something that looks quite different to what we have now. We're deliberately not exposing the details of how catalog models are implemented internally so that we have the freedom to rearrange things as we like.

[2019-12-09 09:59] jeromekelleher commented on #299
This is a great idea, and would be a useful feature for many people I guess. It's definitely post 0.1.0 though :smile:

[2019-12-09 10:03] gtsambos commented on #191
yes -- I'll try to do it quickly with the other little fix tomorrow. It'll probably be easiest to make a separate page that links from `index.rst`, but if this list of models fits naturally somewhere else, lmk and I can put it there. Given that there are only 2 generic models at the moment, it'll be a pretty small page.

[2019-12-09 10:11] jeromekelleher commented on #191
We'd want to list all the species models too though, wouldn't we? We'd need another sphinx directive to do that though. This might be overboard.

How about we add a "Generic models" section to the end of the catalog page, and put a manual table in there linking to the generic models?

[2019-12-09 10:13] gtsambos commented on #299
make another issue tag for 'dreams and hopes' 🔮

I'm guessing that people who use this would typically want to run *multiple* simulations from the same demographic model. So, I guess a baby first step could be: adding a `--replicates` option to the CLI? I don't this would be too hard, as there's already [an option for this](https://msprime.readthedocs.io/en/stable/api.html#msprime.simulate) in msp

[2019-12-09 10:13] gtsambos commented on #269
Okay, I'm coming around -- that makes sense! :)

[2019-12-09 10:15] gtsambos commented on #191
Sounds good, I'll look into this. I don't think it's as important to list the species models because they're already documented in the catalog. The info I'd be adding would be the equivalent of this documentation for the generic models.

[2019-12-09 10:19] jeromekelleher commented on #299
That's awkward with the way we handle output though. In particular, we couldn't write the results to stdout. We would make ``--output-file`` mandatory if ``replicates`` is > 1 though. We'd have to have some way of numbering the output files too.

[2019-12-09 10:48] grahamgower commented on #269
If all models *are* classes, and parameters are required to be attributes (as for `N0`, `N1`, `T`, in `MyModelClass` below), then this sort of model abuse would be possible:
[code]

Although this kind of approach makes it hard to have a bound for one random variable depend on the value drawn for another.

[2019-12-09 10:56] grahamgower commented on #299
2. Often 95% confidence intervals are reported for inferred model parameters. Its not clear what shape such distributions should take, in general.
3. Oops. I already posted this nastiness on the other thread: https://github.com/popgensims/stdpopsim/issues/269#issuecomment-563177292

[2019-12-09 11:01] apragsdale commented on #289
Sounds good. Yeah I can handle the PR for it. I can push something in the next day or two.

[2019-12-09 11:01] jeromekelleher commented on #289
Great, thanks. All yours.

[2019-12-09 11:44] jeromekelleher opened #300 "Add unique IDs check for models etc to CI"
This will catch errors when people add new models.

[2019-12-09 11:53] jeromekelleher opened #301 "QC for Huber 3 Epoch model"
See #228 for references.

Initial model implemented in #270.

Who would like to take this on?

[2019-12-09 12:31] #269 closed

[2019-12-09 12:33] jeromekelleher opened #302 "Docstrings needed for Model attributes"
There's a number TODOs in the docstrings for the [Model](https://github.com/popgensims/stdpopsim/blob/master/stdpopsim/models.py#L146) class.

[2019-12-09 12:36] jeromekelleher opened #303 "Rename Model class to DemographicModel?"
The models.Model class may be a bit too general a name, since it's likely that we'll also have to work with different mutation models and perhaps selection models etc as well.

Rename it to DemographicModel so that the API will be forward compatible before 0.1.0 is released?

Also, should be change the CLI to use ``--demographic-model``, ``-d`` for similar reasons?

[2019-12-09 12:39] jeromekelleher opened #304 "Refactor QC module"
The QC module currently uses subclasses of Model to define the relevant demographic models. This is quite boilerplatey. Refactor to use something similar to the function approach in #275.

We should wait on the model ID scheme being finalised first in #122

Not necessary for shipping 0.1.0 since it's not part of the external API or behaviour.

[2019-12-09 12:44] jeromekelleher opened #305 "Automated model testing and QC status"
We should make it simpler for users to add new models, that automatically get put through basic tests.

Probably, each Model object should have a ``qc_complete`` attribute that defaults to False. If  ``qc_complete`` is True, the tests will ask the ``qc`` module for a model with the same ``species/id`` key, and check if it's identical (as we do now). Thus, all the model implementer needs to do is w

[2019-12-09 13:14] jeromekelleher opened #306 "Rename catalog/QC modules to use 3+3 ID scheme"
Currently the species specific modules in the catalog are named haphazardly. Rename these to use the standard species IDs.

Can be done post 0.1.0

[2019-12-09 13:15] jeromekelleher commented on #306
Ditto for test modules.

[2019-12-09 13:16] grahamgower commented on #303
This does seem inevitable...

[2019-12-09 13:53] jeromekelleher commented on #122
Having hacked around with this a bit, I have a counter proposal:

[code]

This gives IDs like ``OutOfAfrica_3G09`` and ``AncientEurasia_9K19``:
![Screenshot from 2019-12-09 13-41-38](https://user-images.githubusercontent.com/2664569/70440405-0763a000-1a8a-11ea-8be6-cb18a87ad9d8.png)

Here's some rationale:

1. We want the IDs to be valid identifiers in programming language X, so using hypens withi

[2019-12-09 14:01] agladstein commented on #175
Yes. Looks good.

[2019-12-09 14:01] #175 closed

[2019-12-09 14:07] agladstein commented on #242
Ok. Not a typo. Just not the correct mutation rate right now. I'll close this issue because it stems from https://github.com/popgensims/stdpopsim/issues/17

[2019-12-09 14:07] #242 closed

[2019-12-09 14:09] agladstein commented on #17
We should resolve this before submitting the manuscript. If we don't have mutation maps by the publication, at least use the latest published overall mutation rate.

[2019-12-09 14:18] agladstein commented on #272
I want to keep an eye on this.

[2019-12-09 14:20] agladstein commented on #195
I think that's fine for now. We can always add another tutorial later if there is feedback that it's not clear.

[2019-12-09 14:30] agladstein commented on #191
hmm... I'm afraid having another list of models might be confusing with the Catalog that already exists. I want to see what @gtsambos comes up with, then I'll give some input on if it seems more confusing.
But, I do agree, without having it stated somewhere that there ARE generic models they can use, it might take some digging to discover that.

[2019-12-09 14:40] petrelharp commented on #17
ping @carjed

[2019-12-09 15:18] ndukler commented on #301
I can do this today

[2019-12-09 15:19] ndukler commented on #199
Sorry, I've been busy with some of my other projects. I'll try to get it done today.

[2019-12-09 15:23] jeromekelleher commented on #301
Thanks @ndukler, all yours.

[2019-12-09 15:26] #300 closed

[2019-12-09 15:28] jeromekelleher commented on #17
A per-chromosome rate would be great. Let's no worry about maps, we can't do anything with them for now anyway (needs some upstream dev in msprime).

[2019-12-09 16:15] dschride commented on #122
Overall I think that sounds great. Personally I prefer camelCase to CamelCase because I find it slightly easier to type but that's just me--both are fine. I still think adding the second letter from the author name could help with both readability and reducing collisions, but maybe this is not essential.

Also, going back to the six-character species names, can we make those camelCase (or CamelCas

[2019-12-09 16:47] jeromekelleher commented on #122
I don't see how "3Gu09" is any more readable than "3G09" to be honest. How about we say, "if there are collisions, add more letters of the first author's surname"?

There's a good argument for making the species ids CamelCase for consistency all right if we go with this:
demographic models:

- HomSap/OutOfAfrica_3G09

Genetic maps:

- HomSap/HapMapII_GRCh37

Sorta works, doesn't it?

[2019-12-09 16:50] jeromekelleher commented on #123
Following from the discussion in #122, how about we have
[code]
which, happily, is what we have already for HapMapII_GRCh37.

[2019-12-09 17:17] jeromekelleher commented on #127
It looks like we're settling on IDs that should be descriptive (see #122), so for catalog members like DemographicModel and GeneticMap I propose the following general rules:

1. ID: A CamelCased descriptive name (long enough to be descriptive, but no longer), following by 0 or more further discriminating strings, separated by underscores. How many discriminating strings and the format depends on t

[2019-12-09 17:18] jeromekelleher commented on #127
We want to be quite prescriptive and specific on these rules so that we can test for them in CI; this will give consistency, and also make reviewer/maintainer's lives easier when working with new contributors.

[2019-12-09 17:39] jeromekelleher opened #309 "Rename --model/-m to --demographic-model -d in CLI"
Left over from #303 and #307

[2019-12-09 17:40] jeromekelleher commented on #303
Closed in #307.

[2019-12-09 17:40] #303 closed

[2019-12-09 18:10] jeromekelleher commented on #122
I've implemented this proposal in #310. Still open for discussion, please vent any/all opinions here!

[2019-12-09 19:12] andrewkern commented on #122
@jeromekelleher I think this looks good. I'm a strongly in favor of including the author initial as you have here.

[2019-12-09 19:14] dschride commented on #122
All sounds good. I was just thinking that to me Gu hints at Gutenkunst, while G = ?? But adding more as needed to avoid collisions is fine.

[2019-12-09 20:09] jeromekelleher commented on #122
@reedacartwright, any thoughts here?

[2019-12-09 22:20] reedacartwright commented on #122
I like the proposal in #310, and I'm willing to go one step further: Remove the population number from the ID unless it is to avoid model collisions (say when a paper has multiple models).

This would give us the ids: `OutOfAfrica_G09` and `OutOfAfrica_T12`.

Thoughts?

[2019-12-09 23:43] andrewkern commented on #299
just here to say i love the ENHANCEMENT label

[2019-12-10 00:16] gtsambos commented on #293
One of the researchers in my lab who did a postdoc on arabidopsis said it should be more like 10 000 rather than 1000, but like with the human data, it's a bit hard to find a non-population-specific estimate

[2019-12-10 00:25] gtsambos commented on #293
How about this one: (disclaimer: the person I consulted, Ashley Farlow, was an author on this paper)

See figure 4A for estimation of coalescence rates over time. It does look like 10^3 is a better estimate.

[2019-12-10 00:38] gtsambos commented on #293
Also, I was notified about this paper, which seems to use a bit more data and models a bigger range of arabidopsis populations than the ones currently in the catalog.

[2019-12-10 01:01] gtsambos commented on #299
I think if you were doing this you would probably be writing the output to a file anyway, and I think you could just make it so that if the user specifies an output parameter `foo.trees`, the replicates are called `foo.trees.1`, `foo.trees.2` etc

I didn't consider the fact that the msprime replicates function simulates replicates from the *same* parameter values every time, which is not what we w

[2019-12-10 02:27] andrewkern commented on #290
so i've got a good, old citation from the 70's for Ne ~13000 but the paper has no doi! https://www.ncbi.nlm.nih.gov/pubmed/4207116

can i put the html link to the paper instead of a doi?

[2019-12-10 02:29] andrewkern commented on #290
we could also cite Kreitman (1983) who estimated Ne to be ~3x10^6 from Adh data. I prefer the former citation though as it's a classic, genome-wide estimate that wasn't from DNA sequence data.

[2019-12-10 03:07] apragsdale commented on #260
Yes, I think that makes sense to make it a method of the DemographyDebugger. Then I suppose I should open a PR on the msprime repo for that? Sorry in advance things will be a bit slower for me this week - traveling and visiting some family and friends.

[2019-12-10 03:37] #293 closed

[2019-12-10 04:01] dschride commented on #122
I would vote to leave this in, otherwise when you do have collisions you get some models with the number and one without and this is determined by the order in which they are added. I don't think we want our names affected by historical stuff like this.

[2019-12-10 08:22] #298 closed

[2019-12-10 08:24] jeromekelleher commented on #260
Yes, I think it makes sense to do it on the msprime side. There's no hurry with this, it's a more long-term feature --- things will work without it. Enjoy your trip @apragsdale!

[2019-12-10 08:33] jeromekelleher commented on #293
Thanks for chasing this @gtsambos, this is perfect.

[2019-12-10 08:40] jeromekelleher commented on #290
Crud, no doi is a PITA (our bibtex system depends on it).

Also, isn't a it a bit worrying that one is 10^4 and the other is 10^6?

[2019-12-10 08:42] jeromekelleher commented on #122
I'm with @dschride here --- we already have multiple models from the same paper and it's anyway useful information being communicated.

[2019-12-10 15:03] jeromekelleher opened #317 "Add mutation_rate_citation and recombination_rate_citation to Genome"
As discussed in #316, we have no way to register citations for mutation rate and recombination rate estimates.

Adding attributes ``mutation_rate_citation`` and ``recombination_rate_citation`` to the Genome object seems like the logical thing to do. We would need to think about how to use these citations when generating the list of citations as well.

[2019-12-10 15:18] apragsdale commented on #17
I didn't see this issue - there's been a lot of activity lately!

Per chromosome rates would be a nice feature to have, though I think the default behavior should be to use a constant genome-wide rate. I think the default simulations should be as simple as possible, and give users options to add complexity (such as variable mutation rates across the genome).

[2019-12-10 16:09] jeromekelleher commented on #17
Totally agree we should keep things as simple as possible, but we do force the user to choose a particular chromosome (first listed, by default). Doesn't it make sense to get the mutation rate for that chrom then? That's what we do recomb rate.

[2019-12-10 16:24] apragsdale commented on #17
Yeah, that does make sense to get mutation and recombination rates for each chromosome since we force users to pick a chromosome.

I guess I was thinking of the situation: if I want to simulate under a model, but just simulate say 100 1Mb chunks with some default genome-wide mutation rate, can I do that as it's currently constructed?

[2019-12-10 16:26] jeromekelleher commented on #17
Not with the CLI, but you can with the Python API.

[2019-12-10 17:53] jeromekelleher commented on #123
This has been OK'd by the group, so we can go ahead and make this change.

[2019-12-10 17:54] jeromekelleher commented on #122
We've agreed to go ahead with this scheme. I'm going to leave this open until we have documented the ID scheme in the developer docs.

[2019-12-10 17:59] jeromekelleher opened #318 "Change species ID scheme to CamelCase"
Following the standardisation of demographic model IDs in #122/#310, we decided to change the species ID scheme to CamelCase, e.g. HomSap, DroMel, etc.

This should be mostly a search and replace, but we will need to update the catalog generation code to convert the IDs to lowercase when generating labels (see the ``get_demographic_model_id`` function), as Sphinx only allows lowercase section labe

[2019-12-10 18:02] jeromekelleher opened #319 "Add "sampling time" column to catalog model tables"
As discussed on call --- we need to make it clear what time the samples for a particular population are drawn at.

This is done by updating the ``docs/_ext/speciescatalog.py`` file.

[2019-12-10 18:20] jeromekelleher opened #320 "Reconsider "sampling population" terminology"
We're using ``sampling_time=None`` currently to denote populations that are never sampled from. In reality we should be able to sample from any population, it's mainly just a case of what time thoses samples should be at. This gets complicated though, since someone may want to sample at multiple times from the same population. Then, we can just use the standard msprime API for creating samples.

S

[2019-12-10 19:25] #199 closed

[2019-12-10 19:29] noscode commented on #272
I can help with that

[2019-12-10 19:37] jeromekelleher commented on #272
That would be great, thanks @noscode!

When you're adding the tables, it's good to build the docs locally (see [here](https://stdpopsim.readthedocs.io/en/latest/development.html#documentation)) so you can see the parameter tables rendered in the catalog like [this one](https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_homsap_models_americanadmixture_4b11)

[2019-12-10 19:51] ndukler commented on #320
I agree. We can even put together a tutorial on how to customize sampling.

[2019-12-11 06:14] andrewkern commented on #290
closed by https://github.com/popgensims/stdpopsim/pull/321

[2019-12-11 06:14] #290 closed

[2019-12-11 08:05] jeromekelleher commented on #127
Nobody is objecting to the name/id rules above, so I think we can go ahead and implement them. Any takers?

[2019-12-11 08:06] jeromekelleher commented on #123
Any takers on this one? Will need a bit of detective work to find out the assembly for some of the maps I'd expect.

[2019-12-11 08:07] jeromekelleher commented on #318
Any takers? This is a straightforward change.

[2019-12-11 14:21] andrewkern commented on #318
okay i got this

[2019-12-12 03:41] gtsambos commented on #235
closed by #310

[2019-12-12 03:41] #235 closed

[2019-12-12 04:47] andrewkern commented on #318
closed by https://github.com/popgensims/stdpopsim/pull/324

[2019-12-12 04:47] #318 closed

[2019-12-12 04:48] andrewkern commented on #273
closed by https://github.com/popgensims/stdpopsim/pull/313

[2019-12-12 04:48] #273 closed

[2019-12-12 05:36] #216 closed

[2019-12-12 14:52] andrewkern commented on #122
going to assign myself to this. i'll take a stab at updating the docs today

[2019-12-13 08:34] #122 closed

[2019-12-13 14:02] grahamgower commented on #317
I'll take care of this.

[2019-12-14 11:35] jeromekelleher commented on #317
Was this closed in #323?

[2019-12-14 11:41] #123 closed

[2019-12-14 11:55] jeromekelleher commented on #309
Closed in #327

[2019-12-14 11:55] #309 closed

[2019-12-14 12:43] jeromekelleher opened #329 "util.is_valid_species_name only supports two words"
Need to update the regex to support more than two words, since species can have more than two words in them.

[2019-12-14 12:49] jeromekelleher opened #330 "Restrictions species.common_name?"
What restrictions can we put on the species common name (see #127 for discussion)? It's good to formalise this to make the process for adding to the catalog as systematic as possible.

[2019-12-14 15:08] jeromekelleher opened #332 "Define requirements for Population IDs in DemographicModels and enforce"
Presumably should be
- A valid identifier in Python
- Be descriptive
- Be unique within model.

Should it be CamelCase also for consistency with Species, DemographicModel, etc?

[2019-12-15 07:33] grahamgower commented on #317
Yep.

[2019-12-15 14:18] ndukler commented on #301
We can close this now @jeromekelleher

[2019-12-15 14:20] ndukler commented on #228
We can close this @andrewkern

[2019-12-15 14:21] ndukler commented on #46
I agree we can close this

[2019-12-15 14:56] noscode commented on #272
See PR#[133](https://github.com/popgensims/stdpopsim/pull/333)

[2019-12-15 17:57] #228 closed

[2019-12-15 17:57] #301 closed

[2019-12-15 17:58] jeromekelleher commented on #301
Can you mention the PR where this was closed for information please @ndukler?

[2019-12-15 17:58] #317 closed

[2019-12-15 21:59] ndukler commented on #301
PR #312

[2019-12-16 04:59] andrewkern commented on #332
we will also need to add this to the naming convention section in the docs of course.

[2019-12-16 05:02] andrewkern commented on #155
I'm afraid there is little detail as to how the `SouthMiddleAtlas_1D17` model was arrived at. The person we need here is @arundurvasula.

I can add a bit more detail about the Huber Models to the docs

[2019-12-16 17:54] andrewkern commented on #329
you are thinking of being able to include subspecies here? `name` is meant to capture the binomial nomenclature no?

[2019-12-16 18:27] andrewkern opened #335 "collect all maps at one URL?"
i think it's time to think about a more permanent home for all of our maps. does anyone have any good suggestions as to where we might home these data?

[2019-12-16 21:32] #46 closed

[2019-12-16 21:32] andrewkern commented on #46
i closed this but feel free to reopen

[2019-12-17 08:52] jeromekelleher commented on #329
I dunno, TBH. Is it always strictly two words?

[2019-12-17 08:54] jeromekelleher commented on #335
How about [here](https://aws.amazon.com/opendata/public-datasets/)? I emailed one of the people in charge of it a while back and he said we'd be a pretty easy sell.

[2019-12-17 08:55] #127 closed

[2019-12-17 10:15] #319 closed

[2019-12-17 10:18] jeromekelleher opened #336 "Update documentation with new IDs"
The tutorial and catalog section contain examples that are now out of date.

[2019-12-17 12:26] grahamgower commented on #329
Two words for species binomials is correct, but hyphens need to be accepted. Multi-word species epithets exist for historical reasons, and in modern usage it's recommended to hyphenate them.

[2019-12-17 12:33] jeromekelleher commented on #272
Closed in #333

[2019-12-17 12:33] #272 closed

[2019-12-17 12:34] jeromekelleher commented on #336
Need to wait on the outcome of #337 as it updates genetic maps.

[2019-12-17 19:15] apragsdale commented on #292
Update - I pushed a PR to include generation time and pop size citation schemes.

As far as recombination maps: From the author of a recent orangutan study (doi:10.1016/j.cub.2017.09.047), I was sent a link to recombination maps that they inferred using LDhat for two orangutan species. However, these aren't maps that are in a public repository as far as I can tell (even though they didn't mind sha

[2019-12-17 20:03] #289 closed

[2019-12-17 20:04] #292 closed

[2019-12-17 20:10] jeromekelleher commented on #292
Thanks @apragsdale --- can you open a separate issue to track the genetic map problem please?

[2019-12-17 20:58] reedacartwright opened #339 "[Enhancement] Add error/noise processes to the simulation."
As this project moves forward, it might be helpful to have some standard ways to modify simulation output to add noise and error to the data. Some of these would require changing the simulation process itself. Others could be implemented as post-simulation modifications. E.g.

 - A rate of technical errors that cause variants to be mistyped or missing
 - A parameter to inject noise into the coales

[2019-12-17 22:16] andrewkern commented on #147
just checking in on this issue as we get ready to ship v0.1.0 ... @agladstein how are you feeling about these docs?

[2019-12-17 23:45] gtsambos commented on #339
See #299 for a bit of existing discussion about this.

I think this would be a useful change for msprime as a whole -- from memory I think @carjed was interested in this too??

[2019-12-17 23:46] gtsambos commented on #336
Yes, I spotted some things that need to be changed when I was writing my new tute -- ping me when #337 is done and I'll do the rest.

[2019-12-18 00:19] gtsambos opened #341 "Error: 'GeneticMap' object has no attribute 'name'"
The latest development version of stdpopsim is giving me errors when I try to use the --genetic-map ooption:

[code]

I think this is happening because of [this change](https://github.com/popsim-consortium/stdpopsim/commit/ffaee8179f713f95f8791891c29ab0a11159d409) -- haven't had time to investigate further.

[2019-12-18 06:12] apragsdale opened #342 "Pongo recombination map"
As of #338, pongo is more or less up and running. It is only missing a recombination map. In looking for a published map, I contacted the first author of a study that inferred maps using LDhat for both P. pygmaeus and P. abelii (doi: 10.1016/j.cub.2017.09.047), and he sent me a link to download them.

So we could include them if we want. Is there an issue with us making these maps publicly availab

[2019-12-18 06:15] andrewkern commented on #342
Would you mind asking the authors what they think? I'm actually just working on the changes to push the PonPyg documentation live

[2019-12-18 06:18] apragsdale commented on #342
Ok, I'll do that. It would be very nice to include them.

[2019-12-18 06:19] andrewkern commented on #342
and I'm going to push ahead with the documentation. should be ready for a PR in a minute and maybe you could review it for me?

[2019-12-18 08:28] jeromekelleher commented on #147
I'll do it -- it's a copy-paste from other docs.

[2019-12-18 08:32] #341 closed

[2019-12-18 08:36] jeromekelleher commented on #339
Adding support for error would be excellent, and really useful in benchmarking methods. Needs some careful thought about how to do it properly though I think.

I think this is a separate issue to #299 though @gtsambos, as that's about pulling parameters from a known distribution rather than adding noise to the output.

[2019-12-18 15:19] agladstein commented on #147
Once v0.1.0 is released on pip (and conda?), just update the installation docs!

[2019-12-18 17:59] jeromekelleher commented on #336
Thanks @gtsambos, but I'll take this. Basically ready to release now.

[2019-12-18 18:19] #147 closed

[2019-12-18 18:19] #294 closed

[2019-12-18 18:19] #336 closed

[2019-12-18 18:25] jeromekelleher opened #346 "Field lists don't look as good on RTD"
Field lists like the species properties are rendered differently locally to how they look on RTD. Specifically, the fields are output one per line with the local RTD theme, which is much better for what we want.

Can we force the RTD theme to look the same somehow?

[2019-12-18 18:30] jeromekelleher opened #347 "Add long_description for PyPI main page"
The landing page on [PyPI]( https://pypi.org/project/stdpopsim/) is bare. We need to update the long_description in setup.py to give some minimal documentation (basically: a quick description and a link to the docs).

[2019-12-18 19:13] arundurvasula commented on #155
Hi! Happy to help here! I expanded the description a bit:

Is there any other info anyone can think of to add?

[2019-12-18 19:33] jeromekelleher commented on #155
Can you review what's in [the catalog](https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_AraTha) for Arabadopsis, and open a PR to update please @arundurvasula ? We want the same level of detail as we have for the human models, ideally.

[2019-12-18 20:38] jeromekelleher opened #348 "Conda package/installation instructions"
A conda package is in development: https://github.com/conda-forge/staged-recipes/pull/10464

This should get merged and turned into a fully-fledged package soon (but I'm not sure when; the conda-forge folks are **super** busy, and we shouldn't hassle them).

Once the conda-forge package exists, we can update the installation docs and close this issue.

[2019-12-18 23:55] gtsambos opened #349 "Change Python API so that species IDs are consistent with those in the CLI"
See this error I get in Python:
[code]

[2019-12-19 00:00] gtsambos commented on #349
Ah nvm, this was because of a conflict between the pip-installed and python development version. Sorry!

[2019-12-19 00:00] #349 closed

[2019-12-19 00:04] andrewkern commented on #335
yeah that looks great to me. they have a deadline coming up on 12/31. Should we go for it?

[2019-12-19 00:05] andrewkern commented on #330
I'm gonna close this because I think we decided programmatic standards on common names will be a losing battle

[2019-12-19 00:05] #330 closed

[2019-12-19 00:09] gtsambos commented on #336
Thanks @jeromekelleher -- I think you might forgotten a few small changes (mostly to do with the fact that ``--models`` is now ``--demographic-models`` in the CLI). Have made a pull request (#350) to fix this up.

[2019-12-19 00:17] gtsambos commented on #346
Mine looks the same? (left side is the RTD version, right side is my local version)
Maybe it's something to do with the local versions of sphinx packages installed on your machine?

![Screen Shot 2019-12-19 at 11 15 10 am](https://user-images.githubusercontent.com/17755074/71134029-e13fbc00-2250-11ea-879a-0c08e59bac2e.png)

[2019-12-19 00:19] gtsambos commented on #346
![Screen Shot 2019-12-19 at 11 19 21 am](https://user-images.githubusercontent.com/17755074/71134206-6fb43d80-2251-11ea-9f0a-0beab991635c.png)

[2019-12-19 01:17] ndukler commented on #335
Started work on a document that fills out some of the fields that require a paragraph form response here: https://docs.google.com/document/d/1JVUDVb39jKEoX80Hjpl7XEtN6j6rWuwylE9K3s0cQeY/edit?usp=sharing

[2019-12-19 01:18] ndukler commented on #335
Application here: https://application.opendata.aws/

[2019-12-19 01:20] ndukler commented on #335
I'll try to fill it out more tomorrow

[2019-12-19 04:42] petrelharp commented on #254
Yes - compared to the coalescent calculation. (the Ewens sampling formula)

[2019-12-19 04:51] petrelharp commented on #263
Well, SLiM *uses* the metadata. The best place to see exactly what is set, currently, is in the SLiM manual (section 25.4, titled "SLiM additions to the .trees file format"; see example below), but it's on the list to [write it out in the pyslim docs](https://github.com/tskit-dev/pyslim/issues/50).  Metadata fields for mutations, nodes, individuals, and populations are all used to record structure

[2019-12-19 07:46] grahamgower commented on #263
Thanks @petrelharp, I was mostly thinking about the human readable population labels. But I didn't know if there was anything else that should be done to improve consistency between the msprime and SLiM tree sequences.

[2019-12-19 08:15] jeromekelleher commented on #348
And we have a [conda package](https://anaconda.org/conda-forge/stdpopsim)!

The feedstock is here: https://github.com/conda-forge/stdpopsim-feedstock

Would some conda users (@agladstein, @gtsambos?) mind trying this out to see how it goes? @ndukler, I seem to remember you're a windows user. Any chance you could try this package out on Windows?

[2019-12-19 08:17] jeromekelleher commented on #335
I'm checking out for the holidays today, so I won't have time to do this. Very happy for others to follow it up though.

[2019-12-19 08:20] jeromekelleher commented on #346
Ah, thanks @gtsambos. Looks like I have an older version of sphinx-rtd-theme on my machine. Hmmm.

[2019-12-19 15:34] agladstein commented on #348
It installed and imported! Both API and CLI. (on a mac)
I'm still planning to go back through the RTD and tutorials and while I do that I can make sure that both the pip and conda versions work as expected.

[2019-12-19 15:38] andrewkern commented on #348
sounds like we can update the `analysis` repo install instructions too

[2019-12-19 16:37] ndukler commented on #335
I can handle most of this but I think it makes sense for either @andrewkern or @jeromekelleher to be the actual corresponding individual. What do you think of the text so far @andrewkern ?

[2019-12-19 16:42] andrewkern commented on #335
happy to work on it today with you @ndukler

[2019-12-19 17:15] petrelharp commented on #263
Human-readable labels would be great. Adding those would require an addition to slim, though, and some work keeping the file format backwards compatible. This seems like a minor annoyance, but something to keep in mind in the future. I can't think of anything else here; should we close this?

[2019-12-19 17:40] grahamgower commented on #263
Are you suggesting this can't just be added with tskit or pyslim?

[2019-12-19 17:44] ndukler commented on #335
I think I've filled out the entire form on the googledoc.

[2019-12-19 19:09] andrewkern opened #354 "PonPyg is wrong ID"
Genome we have is actually PonAbe. This is a bug in first release, but only the identifier / name is affected.

[2019-12-19 19:11] jeromekelleher commented on #354
Ideal thing to do would be to fix PonPyg and add another species for PonAbe

[2019-12-19 19:57] ndukler commented on #335
Any idea what the data-set license should be? @andrewkern @petrelharp ?

[2019-12-19 20:01] andrewkern commented on #335
this is all not our data so unclear to me? the only thing with possible restrictions I imagine is decode

[2019-12-19 20:18] ndukler commented on #335
They seem to provide it all here (https://www.decode.com/addendum/) with no limitations?

[2019-12-19 20:19] jeromekelleher commented on #354
Simplest fix would be to temporarily remove Pongo and push out a quick release. We can figure out the right thing to do afterwards. Having a multispecies model does break our assumptions about how the whole thing is set up, so we should consider it carefully before committing to supporting something.

[2019-12-19 20:26] andrewkern commented on #335
great so let's proceed with a completely open license

[2019-12-19 20:27] andrewkern commented on #354
agreed

[2019-12-19 20:38] petrelharp commented on #263
Is "this" human-readable labels for populations? If so then - yes, you *can* modify the metadata... *but* if you do, the tree sequence won't bee a valid "SLiM tree sequence" any more (which you can e.g. load back into SLiM). And, I don't think we want to do that.

[2019-12-19 21:12] dschride commented on #354
Well, there are species, and then there are _species_.

[2019-12-19 23:19] apragsdale commented on #354
I agree with Jerome that we should have two different species defined, in that each has their own genome attributes. Will need to think about how to share demographic models between them.

Sorry that I made a mess of the pongo species.. I kind of arbitrarily picked which to use for chromosome lengths, and I'm waiting still to hear back about whether we can include the two recombination maps for th

[2019-12-19 23:48] andrewkern commented on #354
no worries @apragsdale-- easy enough to hint at Pongo being next in the manuscript.

[2019-12-20 07:52] grahamgower commented on #263
Well that's unfortunate. As population labels are not likely to be resolved as part of stdpopsim, I'll close this issue.

[2019-12-20 07:52] #263 closed

[2019-12-20 16:10] ndukler commented on #335
@andrewkern it's complete if you'd like to make some suggestions on the googledoc

[2019-12-20 17:17] andrewkern commented on #335
@ndukler this looks great! i've made a pass and made a few quick edits. If you can submit it for me that would be amazing!!

[2019-12-20 20:55] agladstein commented on #274
I'm currently having this issue.
What install instructions should fix this (if this is fixed)?

[2019-12-20 21:14] agladstein commented on #346
Looks fine to me on RTD. @jeromekelleher you can probably close this.

[2019-12-20 21:16] agladstein commented on #332
Looks like that is included in the docs now.
https://stdpopsim.readthedocs.io/en/latest/development.html#naming-conventions

[2019-12-20 21:21] agladstein commented on #208
Could we add a link to the README?

Now it says:
[code]

[2019-12-20 21:22] agladstein commented on #207
Anyone know if this can be closed?

[2019-12-20 21:28] agladstein commented on #162
@ndukler still have this on your TODO list?
I do think this is vital section to have in the docs (before model review section).

[2019-12-20 21:30] agladstein commented on #139
Should we add any more tutorials? Or is this good for now? There is currently an empty space under https://stdpopsim.readthedocs.io/en/latest/tutorial.html#running-a-prexisting-model

[2019-12-20 22:45] andrewkern commented on #346
I'm gonna close this. Works on a whole bunch of systems.

[2019-12-20 22:45] #346 closed

[2019-12-20 23:05] ndukler commented on #335
So I submitted it awhile ago. Did you get an email?

[2019-12-20 23:24] andrewkern commented on #335
nope

[2019-12-21 00:29] ndukler commented on #335
Hmm, I'll resubmit

[2019-12-21 01:28] ndukler commented on #335
Actually I'm gonna hold off for a few days. Tell me if they email you @andrewkern . Not sure how they'd react to two submissions. I gave them your U. Oregon email.

[2019-12-21 03:49] dschride commented on #208
I remember when 3.1 million SNPs was A LOT of SNPs.

[2019-12-21 06:07] andrewkern commented on #335
okay Noah thanks

[2019-12-21 07:48] grahamgower commented on #207
I think there are a few outstanding `Genome.recombination_rate_citations` and `Genome.mutation_rate_citations` entries that need to be filled.

[2019-12-21 16:00] andrewkern commented on #207
it would be great to get of list of these together so that people can knock them out easily

[2019-12-21 16:20] grahamgower commented on #207
`mutation_rate_citations` needed for arabidopsis and e_coli.
`recombination_rate_citations` needed for all species.

A species with both entries should look something like this:
[code]

I think most of the sources should be easily found. Either its written as a comment in the catalog file (e.g. arabidopsis), or the recombination rate comes from one of the genetic maps (e.g. humans).

[2019-12-21 16:22] grahamgower commented on #207
And then its just a matter of confirming that you see a "recombination rate" and/or "mutation rate" tag listed for the citation when you run a simulation that uses it.

[2019-12-21 16:35] andrewkern opened #355 "`mutation_rate_citations` needed for arabidopsis and e_coli."
`mutation_rate_citations` needed for arabidopsis and e_coli.
`recombination_rate_citations` needed for all species.

A species with both entries should look something like this:
[code]

I think most of the sources should be easily found. Either its written as a comment in the catalog file (e.g. arabidopsis), or the recombination rate comes from one of the genetic maps (e.g. humans).

_Originally p

[2019-12-22 02:11] juanjo75es opened #357 ""unexpected keyword argument 'kw_only'""
When I try to run any example I always get that error. For example if I run
`stdpopsim HomSap -c chr22 -o foo.ts 2`
I get:

[2019-12-22 03:27] andrewkern commented on #357
strange. can you post a bit of info about your python install? did you use the pip install?

[2019-12-22 05:22] gtsambos commented on #348
It worked for me also, but see #356

[2019-12-22 05:36] gtsambos commented on #348
Hmm, actually, I tested this in a new virtual environment and ran into some problems. Everything installed fine, but when I tried to run it I got this error:

[code]

[2019-12-22 06:20] andrewkern commented on #348
@gtsambos can you show us output from `conda list`?

[2019-12-22 07:35] gtsambos commented on #348
I just broke a few things trying to reproduce this error, then it worked again once I fixed them 😅 🤷‍♂  I might not be the best person to test this, as I don't use conda much. Will try again later and report back!

[2019-12-22 09:27] gtsambos commented on #357
Thanks @juanjo75es! Can you see if you still have this problem after manually upgrading the `attrs` package?
Eg. if you use pip,

[code]
@andrewkern , @jeromekelleher: I think this is to do with [this](https://github.com/python-attrs/attrs/pull/281), but the latest version of `attrs` should have fixed this.

[2019-12-22 14:18] andrewkern opened #359 "add citations for genome assemblies"
Deanna Church noted on twitter (https://twitter.com/deannachurch/status/1208752315483574272?s=20) that we are not outputting assembly citations. We should definitely add that. We will need to make a new slot in the Species class I figure?

[2019-12-22 14:25] andrewkern commented on #359
actually i take that back. the new `assembly_citation` should probably go here https://github.com/popsim-consortium/stdpopsim/blob/e2e76fb1f6987233e1f4c1d6eedb0ae0bcdb1f41/stdpopsim/genomes.py#L29

[2019-12-22 20:58] #357 closed

[2019-12-22 23:37] gtsambos opened #361 "Make it clear that random seeds are available in Python API"
Can you specify a random seed for simulations that are run with the Python API?

If not, we should add this!!
If so, we should document it better.

[2019-12-22 23:57] gtsambos commented on #361
okay, after some digging, I can see that we can do this (at least, for the default msprime engine) by passing a `seed` option into the `simulate` method.

At present, it isn't showing up in the displayed API because it isn't an attribute of the overarching `Engine` superclass, but an attribute of the individual engines (eg. `_Msprime`). Is there perhaps an argument that this *should* be an attribu

[2019-12-23 00:16] juanjo75es opened #362 "exporting to vcf"
I am trying to convert a simulation to fasta files. First I export the result to vcf, then I try to manipulate it with bcftools but it seems there is version compatibility problem.
If I run that:
`bcftools call -m -O z foo2.vcf > foo2.2.vcf.gz`
I get this error:

And if I run that
`vcfutils.pl vcf2fq foo2.vcf > foo2.fq`
I get

I wonder if that is an issue or I am doing something wrong.

[2019-12-23 02:17] gtsambos commented on #362
Hi @juanjo75es, I think this is probably an issue for [tskit](https://github.com/tskit-dev/tskit) rather than for stdpopsim -- when you converted the tree sequence file to a vcf, did you use the `write_vcf` method (documented [here](https://tskit.readthedocs.io/en/latest/python-api.html#tskit.TreeSequence.write_vcf))? If so, did you run it with any of the extra arguments? Did you specify a  `ploid

[2019-12-23 07:57] grahamgower commented on #361
Good point @gtsambos . Certainly there's an argument for making `seed` a fixed parameter by including it in the superclass, but I don't think its necessary to make that decision yet. I think the easiest way forward here is as you suggest: remove the `_` and add some docstrings for each engine's `simulate()` method. There will always be engine specific parameters - e.g. it shouldn't take much effor

[2019-12-23 12:27] juanjo75es commented on #362
Hi @gtsambos, I used the command line:
`tskit vcf foo2.ts > foo2.vcf`
I see now it's not related with stdpopsim...
Thanks, I will look into the documentation of tskit.

[2019-12-23 12:27] #362 closed

[2019-12-23 21:54] gtsambos commented on #274
Are you getting the error that Jerome posted above, or another one?

[2019-12-23 22:04] gtsambos commented on #274
Have you installed sphinxcontrib-commandoutput or whatever it's called? There are more things in the development requirements now so might need to install them again

[2019-12-24 01:25] agladstein commented on #274
yes, it's the same error posted above.
I just reinstalled according to the instructions we have up. https://stdpopsim.readthedocs.io/en/latest/development.html#installation

[2019-12-24 06:49] petrelharp commented on #274
Huh, they built fine for me, after I installed sphinxcontrib-commandoutput.

[2019-12-24 16:21] agladstein commented on #274
`sphinxcontrib-programoutput`? yes, it's in the requirements/development.txt

[2019-12-31 22:41] #359 closed

[2020-01-02 16:04] jeromekelleher commented on #354
Yeah, no worries @apragsdale, this is a small detail easily fixed.

[2020-01-02 16:08] jeromekelleher commented on #139
I think we can close this now. Any more tutorials we need can go into specific issues.

[2020-01-02 16:08] #139 closed

[2020-01-02 16:10] jeromekelleher commented on #348
This is a Python-only package, so we shouldn't specify any versions for numpy. We should pin msprime all right though --- the next version will fix this.

I'm going to close this issue as I think @gtsambos's problems were due to general conda borkage (sadly common).

[2020-01-02 16:10] #348 closed

[2020-01-02 16:13] jeromekelleher commented on #274
I think the issue you have might be that the ``stdpopsim`` binary isn't available in your PATH @agladstein. Can you check that please?

[2020-01-02 16:13] #332 closed

[2020-01-02 16:19] jeromekelleher commented on #208
The issue is that the text needs to make sense both in HTML and on the terminal command line @agladstein, so embedding links doesn't work. I don't think there's any point in putting in hyperlinks into the help text output, as it breaks the text layout and they're rarely clickable anyway.

The right solution is to make it so we can have restructured text in the ``description`` fields which gets  pa

[2020-01-02 16:53] jeromekelleher opened #365 "Remove PonPyg from catalog temporarily"
To quickly resolve the issues around how we manage the PonPyg/PonAbe issue (#354) and how we manage multi species models, I think we should remove PonPyg from the catalog temporarily.

With this, and having sorted the packaging issues in #364 and #357 we can push out a quick release and then take our time dealing with this tricky problem.

[2020-01-02 16:59] jeromekelleher opened #366 "Dependency pinning"
Keeping this issue for future reference:

We pin msprime at >= 0.7.1 because we need the metadata features introduced in that release (done in #364 and #356)

We pin attrs at >=18.2.0 because of a problem with keyword only args (reported in #357).

Pinned in the conda recipe here: https://github.com/conda-forge/stdpopsim-feedstock/pull/1

If we need to pin other dependencies we should up this list

[2020-01-02 16:59] #366 closed

[2020-01-02 17:19] #365 closed

[2020-01-02 17:35] agladstein commented on #274
I think it should be in my PATH.
I have
[code]

and when I'm in a virtual env
[code]

If I explicitly add it to my path within the virtual env:
[code]

[2020-01-02 17:40] agladstein commented on #208
makes sense.

[2020-01-02 17:47] jeromekelleher commented on #274
Ah, OK --- so ``sphinxcontrib-programoutput`` isn't installed even though it's in ``requirements/development.txt``. This must be an issue with your local setup, as it's working fine for others I think.

[2020-01-02 18:11] agladstein commented on #274
it says it's installed when I install it manually with `pip`.
I wonder if it's because when I'm in the virtual env with `requirements/development.txt` installed and have `stdpopsim` in the path, it's the wrong `stdpopsim` (i.e. the one I installed from `python -m pip install stdpopsim --user`).

[2020-01-02 18:12] #347 closed

[2020-01-02 18:13] jeromekelleher opened #369 "Fix Appveyor builds"
Since the organisation name changed the Appveyor builds are broken. Will probably need to set them up again. Check the URL for badge in the README also.

[2020-01-02 18:14] agladstein commented on #274
Yes, that was it. I had to build the development version of `stdpopsim` in the virtual environment so it wouldn't use the other version.

[2020-01-02 19:43] andrewkern opened #370 "can we close the doc project?"
this one? https://github.com/popsim-consortium/stdpopsim/projects/3

I think it's set at this point

[2020-01-02 23:43] andrewkern opened #371 "MultiSpeciesModel class?"
hey all- I've been thinking about https://github.com/popsim-consortium/stdpopsim/issues/354 a bit and the complication of having multi-species models in `stdpopsim`.

I propose that we implement a new class, MultiSpeciesModel, that would have one or more species associated with it, along with a demographic model. mutation rates and genetic maps could be shared between the species modeled. How do f

[2020-01-03 00:54] apragsdale commented on #371
I was just thinking about this with this PR (#363). Do we need to define a new class for this feature? Would it make more sense to just have multi-species models defined as functions that can then be imported for each species that needs it, and then added to that species using `_species.add_demographic_model(_loaded_ model)'? I'm not sure exactly why a class would be needed, but I may be misunders

[2020-01-03 10:14] jeromekelleher commented on #370
Done

[2020-01-03 10:14] #370 closed

[2020-01-03 10:17] jeromekelleher commented on #371
Multi-species model class seems complicated to me, and I'm not sure what we'd gain from it. @apragsdale's idea seems like a good one. I think this is a good agenda item for the next call, let's get the conversation going about what we're trying to model here, etc.

[2020-01-06 16:06] ndukler commented on #335
I just re-submitted the form. I mean to do it before the deadline but it got lost in the shuffle. Next deadline is March 31st if the last one didn't go through. Apologies for the screw-up.

[2020-01-06 18:12] andrewkern commented on #335
thanks @ndukler

[2020-01-07 19:14] andrewkern opened #373 "QC for PapuansOutOfAfrica_10J19 model"
opening this issue from merge of https://github.com/popsim-consortium/stdpopsim/pull/372

Jacobs et al doi is https://doi.org/10.1016/j.cell.2019.02.035

[2020-01-08 07:28] grahamgower commented on #373
Thanks @andrewkern.

The population indices for QCing can be found here:
https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_homsap_models_papuansoutofafrica_10j19

Most model parameters are taken from Jacobs et al., Table S5 and Figure S5, but a few were found in the supplement text (section S10.i and S10.h, pgs. 30/45 & 31/45).

[2020-01-08 08:37] grahamgower opened #374 "document the QC process for adding a species"
I want to add a new species (dog), but didn't see any documentation for the species QC process.

[2020-01-08 09:22] grahamgower opened #376 "some unit tests are unhelpful"
I'm curious as to the value of certain tests found in the species test files. E.g. in `test_homo_sapiens.py`:
[code]

And
[code]

These exist for each of the species. As far as I can see, they only add maintenance burden, and are unlikely to catch any real bugs. I am in favour of removing these types of tests.

[2020-01-08 09:26] grahamgower commented on #376
And to fan the smoke on this potential flame war, I'm going to leave this here:
https://rbcs-us.com/documents/Why-Most-Unit-Testing-is-Waste.pdf

[2020-01-08 13:46] grahamgower opened #378 "HomSap/AmericanAdmixture_4B11 is incompatible with discrete generations"
The Browning et al. 2011 American Admixture demographic model has faithfully reproduced a quirk of the originally published model---a small time delta has been added to events to ensure ordering. This works fine if time is in real valued coalescent units, but is not appropriate with integral valued generations in SLiM. In particular, the admixture proportions requested below will multiply to produ

[2020-01-09 19:41] andrewkern commented on #376
I agree it's a bit of a maintenance burden, but a very small one and so I could take it or leave it. @jeromekelleher what's your take?

[2020-01-09 23:45] andrewkern commented on #335
i'm wondering if another option might be to host the maps on zenodo and then use their helper to download: https://zenodo.org/record/1261813#.Xhe6-OsnY7w

[2020-01-10 05:56] gtsambos opened #381 "random_seed doesn't fix the simulation output"
Note the output from the notebooks below:

![Screen Shot 2020-01-10 at 4 53 34 pm](https://user-images.githubusercontent.com/17755074/72129343-00ea8000-33ca-11ea-9c24-f71b1c7c0be2.png)

(I've never had this problem with msprime before, so I'm assuming it's internal to stdpopsim?)

[2020-01-10 06:35] grahamgower commented on #381
I think the parameter should be `seed`, instead of random_seed.

[2020-01-10 10:39] jeromekelleher commented on #335
Good idea to use Zenodo, I guess the sizes of the maps are small enough to fit there.

I had a quick look at the tool for downloading, and I don't think it'll help. It's only a CLI and not a Python API, and it's not as robust as what we have now, IMO.

Any idea on when we'll hear about the Amazon thing @ndukler?

[2020-01-10 10:47] jeromekelleher commented on #376
I see the point here @grahamgower, and I'm OK with removing if there's a consensus. Here's my take:

- I think ``test_basic_attributes(self):`` is useful because it gives us an insurance policy against people typoing these very important constants in the future. Suppose someone did a large refactor of the code, moving stuff all over the place and by accident added a zero the end of a ``population_

[2020-01-10 10:52] jeromekelleher commented on #378
Hmmm, sounds quirky all right. FWIW, msprime does guarantee that events happen in the order they are supplied, even if they are at exactly the same time value. I don't see any reason for the time deltas, since we're assuming nothing happens in between anyway (right?)

[2020-01-10 10:56] jeromekelleher commented on #374
This is important all right, and we need to systematise it. Propose this as an agenda item for Tuesday's call.

[2020-01-10 12:57] grahamgower opened #382 "[slim-engine-dev] document the internals of the SLiM engine"
The SLiM engine is large and getting larger. We need some developer documentation that describes how the backwards-time msprime API is mapped to forwards-time SliM code.

[2020-01-10 13:12] grahamgower commented on #373
I occurs to me that maybe no one wants to QC this because its big and will be time consuming. So I'll offer an incentive: if you QC this model, I promise to QC a future model of your choice.

[2020-01-13 04:35] gtsambos commented on #381
oops, thanks @grahamgower 😅

[2020-01-13 04:35] #381 closed

[2020-01-13 19:45] ndukler commented on #335
Depends on which submission went through. But no specific idea.

[2020-01-13 19:46] ndukler commented on #335
Sorry for being bit slow on responding these days, I've got some other deadlines so I'll have to put the popsim stuff on hold for a month or so unless there's something small that I have time for on a weekend.

[2020-01-13 20:43] andrewkern commented on #335
just heard from Amazon-- we are in. Will forward the email to you two.

[2020-01-14 15:12] ndukler commented on #378
When I did the QC implementation I originally implemented it without the deltas and, to my memory, the order was correct. However, the original implementation by the paper's authors, and thus the port of that code over to stdpopsim used the deltas. We agreed to go with that at the time since it exactly matched the original implementation even if there were no real consequences. There should be no

[2020-01-14 15:13] ndukler commented on #373
I'll do it this weekend. I've just been a bit bogged down with my other work recently.

[2020-01-14 16:04] grahamgower commented on #378
Maybe I'm confused. Are the proportions given in the MassMigration events required to be different to the desired admixture proportions listed in the comments? I don't really understand how the desired proportions of {1/6, 2/6, 3/6} are reached.

[2020-01-14 16:08] grahamgower commented on #378
Is this correct: `proportion=2.0/5.0`? Should it actually be `2.0/6.0`?

[2020-01-14 16:49] ndukler commented on #378
Yes, that should be different because they are applied sequentially. Them together in the order they are applied to get the numbers for the admixture proportions.

[2020-01-14 17:50] jeromekelleher opened #383 "Handling of sex chromosomes"
In the meeting 2020-01-14 we discuss the current (mis)handling of sex chromosomes. We're not handling these properly at the moment in the shipped software, so we need to do something about it. Options discussed:

1. Remove the X chromosome from the species definition so people can't use it
2. Print out a big warning when people use the X chromosome in stdpopsim
3. Update the code so that we do a r

[2020-01-14 17:53] jeromekelleher opened #384 "Warn when user runs simulations of x chromosome"
When the user runs a simulation of the X chromosome, we should emit a warning. Probably the best thing to do is to have an ``autosome`` boolean attribute we associate with each chromosome in the genome definitions, and then we ``warnings.warn()`` when a simulation is attempted where ``autosome`` is False.

This should be done reasonably quickly and be pushed into a release so we are not misleading

[2020-01-14 18:01] jeromekelleher opened #385 "Associate species with upstream genome assemblies and IDs"
As discussed in the meeting 2020-01-14,  currently species genome data is hand-curated in a haphazard manner. It would be much better if we pulled information about chromosomes and their lengths from an upstream resource like UCSC or Ensembl.

The current proposal is that each species should have a list of associated genome assemblies, which have the ID of the species assembly and derive the genom

[2020-01-14 23:26] petrelharp commented on #383
Proposal was, for coalescent simulations:

- provide a parameter `p` which is the proportion of reproductive adults that are male
- multiply recomb rate on the X by 2/3
- multiply Ne by 4 p (1-p) (since Ne with Nm males and Nf females is 4 Nm Nf / (Nm + Nf)

[2020-01-15 00:29] reedacartwright commented on #383
I would add two more things to implement when needed.
 - Z and W chromosomes
 - Haplodiploidy

[2020-01-15 00:53] reedacartwright commented on #383
This is what I got for p = 1/2.

X-chromosome coalescent rate is 2 / (3 Ne).

(2 / 3 Ne) / (1 / (2 Ne) is 4/3.  So Ne_X = 3/4 Ne_A.

[2020-01-15 12:47] grahamgower commented on #385
How about including a copy of the assembly report, and extracting chromsome lengths, etc. from that? The reports are nice tab separated files. I didn't see an obvious API for finding the file from an assembly name, so it might remain a manual process to navigate to the NCBI assembly (e.g. for CanFam3.1: https://www.ncbi.nlm.nih.gov/assembly/GCF_000002285.3/), then
click through to the assembly rep

[2020-01-15 16:48] grahamgower commented on #378
I'll try to be as detailed as I can here, to explain why I think this model is problematic with SLiM. To recap the model, we have:
[code]
and
[code]

So backwards in time, the first event is to take 1/6 of ADMIX, and merge with AFR (1/6 African). Then, 2/5 of the remainder (1-1/6 = 5/6) of ADMIX is merged into EUR (2/5 * 5/6 = 2/6 European). Then, all of the remainder (1-1/6-2/6=3/6) of ADMIX is m

[2020-01-15 17:29] petrelharp commented on #383
Whoops - good point - I forgot to reweight by sex.

[2020-01-16 09:51] jeromekelleher commented on #385
That could be a good option.

[2020-01-16 14:25] noscode commented on #373
I have almost done it. I have some questions though:
1) Time of Neanderthal Altai and Neanderthal Introgressing split event - I found in the Table S5A 3375 generations, but in implemented model there is 2058. It seems to be sampling time of DenA population.
2)

`    # Fig. 4B, and S10.h p. 30/45
    T_Den1_Papuan_mig = 29.8e3 / generation_time
    T_Den2_Papuan_mig = 45.7e3 / generation_time`

I h

[2020-01-16 15:14] grahamgower commented on #373
Awesome, thanks @noscode!

Yep, that looks wrong. I'll send a pull request changing that.

Hmm... Yes. Strictly speaking, the model described in Table S5 and Fig. S5 (fully described in S10.i, pg. 30--32) was implemented with a single time for the introgression of both Denisovan D1 and D2. They use this model to infer the admixture proportions of D1 and D2, assuming a total of 4% Denisovan ancestr

[2020-01-16 15:33] noscode commented on #373
That is very interesting question. I have not noticed this different times as I am trying to defeat test between qc model and yours :). I think that different times looks better.

I am not sure, may be I can just make changes in my qc PR? Anyway you have created another one.

[2020-01-16 15:39] grahamgower commented on #373
I think its best if your QC doesn't touch the catalog model. If you're happy to use the two different introgression times, then feel free to submit your PR. If you rebased once #386 is merged, the tests  should pass.

[2020-01-16 16:00] noscode commented on #373
Okay I will wait. Test failure looks like a a bug actually.

[2020-01-16 16:18] noscode commented on #373
Oh wait, I  forgot about one more thing. You mixed up populations right after 1334 line:

`-            matrix_index=(pop["Papuan"], pop["Ghost"])),`
`+            matrix_index=(pop["CHB"], pop["Ghost"])),`

`-            matrix_index=(pop["Ghost"], pop["Papuan"])),`
`+            matrix_index=(pop["Ghost"], pop["CHB"])),`

[2020-01-16 16:18] jeromekelleher commented on #373
Just wanted to say here: it's fantastic to see the QC process  working so well! Thanks @noscode and @grahamgower!

[2020-01-16 23:48] arundurvasula commented on #155
Hi Jerome, getting this done now. Do I need to rebuild the docs before sending in a pull request? I edited the documentation in the file `stdpopsim/catalog/arabidopsis_thaliana.py`.

[2020-01-17 05:57] andrewkern commented on #155
hey @arundurvasula- yes that should work, as long as it's sympatico with https://github.com/popsim-consortium/stdpopsim/blob/master/docs/catalog.rst

[2020-01-17 09:03] jeromekelleher commented on #155
It's good to build the docs locally so you can see how it renders @arundurvasula. There's a little documentation on doing this [here](https://stdpopsim.readthedocs.io/en/latest/development.html#documentation). If it's not working for you, feel free to open a PR and we can give guidance there.

[2020-01-17 12:38] noscode commented on #373
See PR#[387](https://github.com/popsim-consortium/stdpopsim/pull/387).

[2020-01-17 15:46] jeromekelleher opened #388 "[slim-engine-dev] Packaging for SLiM"
Giving a reliable user experience with SLiM will be very difficult (and will lead to **lots** of support noise) unless we have a reliable way of installing it. Making a conda-forge package seems like the best option for this, so we can pull in SLiM automatically in our conda package.

An initial version is here: https://github.com/conda-forge/staged-recipes/pull/10613

It seems like getting a pack

[2020-01-21 11:13] grahamgower commented on #373
Thanks @noscode. I owe you one QC.

This issue can be closed now.

[2020-01-21 12:29] noscode commented on #373
That's sweet, thank you, @grahamgower!

[2020-01-21 14:11] #373 closed

[2020-01-23 21:52] arundurvasula opened #390 "Building documentation locally"
To build the docs locally, I needed to install the following packages `pip install sphinx sphinx-argparse sphinxcontrib-programoutput sphinx-issues sphinx_rtd_theme`

Could be useful to add this to the documentation about contributing documentation?

[2020-01-23 21:55] andrewkern commented on #390
hey @arundurvasula-- list is all included in the `requirements/development.txt` and documented in the dev docs [here](https://stdpopsim.readthedocs.io/en/latest/development.html#installation) i believe.

[2020-01-23 21:56] arundurvasula commented on #390
Ahhh ok must have missed that. Thanks!

[2020-01-23 21:56] #390 closed

[2020-01-29 12:46] grahamgower commented on #385
There is a tab-separated table for mapping species names/ids to assembly accessions in `eukaryotes.txt` here:
`ftp://ftp.ncbi.nlm.nih.gov/genomes/GENOME_REPORTS/`

There are tables with more complete info, which also lists the "assembly name" (eg. `TAIR10.1`) and ftp path for the assemblies. But these files are much bigger. 50 mb for refseq and 160 mb for genbank.
`ftp://ftp.ncbi.nlm.nih.gov/genom

[2020-01-29 20:30] ckyriazis opened #391 "References for BGS models"
Here are some DFE inference papers to get the BGS modeling conversation started. Please feel free to add any that I have missed!

Keightley & Eyre Walker 2007 (humans and drosophila) https://www.genetics.org/content/177/4/2251

Boyko 2008 (humans) https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000083

Torgerson 2009 (non coding loci in humans) https://journals.plos.org/plo

[2020-01-30 03:12] hyl317 opened #392 "Use msprime's wirght-fisher model (model='dtwf') for simulation"
Based on this preprint, https://www.biorxiv.org/content/10.1101/674440v1.full.pdf, it is better to simulate large sample/large chromosome region using the wright-fisher model in msprime. Could such functionality be provided in stdpopsim as well? (Correct me if it's already there, maybe I just missed it from the API). Thx!

[2020-01-30 08:12] jeromekelleher commented on #392
Definitely, and it I think it's a pretty straightforward addition to have ``--engine=msprime-dtwf``, or similar. @grahamgower, have you thoughts on how to do this?

We should also consider a hybrid model while we're doing this, where we do dtwf for some number of generations and switch to the standard Hudson model afterwards.

[2020-01-30 08:32] grahamgower commented on #392
It should be really easy to add it as an engine. E.g. something like below.
It should probably accept an additional parameter indicating the generation
to switch to the Hudson model. And possibly the msprime engine classes
should be moved to an msprime_engine.py file.

-G

diff --git a/stdpopsim/engines.py b/stdpopsim/engines.py
index 7a7cc2f..ec3c869 100644
--- a/stdpopsim/engines.py
+++ b/stdpop

[2020-01-30 11:07] jeromekelleher commented on #392
Or, perhaps it should be a "--model" option to the msprime engine? We can also imagine supporting the SMC models in stdpopsim at some point, if that turns out to be the only reasonably way to simulate drosophila chromosomes.

Agreed that we should have an mspirme_engine module.

[2020-01-30 11:21] grahamgower commented on #392
Yep, that would work too. Then it also needs a flexible way of specifying
msprime.SimulationModelChange event(s) with the CLI.

If certain species and/or demographic models behave best with a specific
engine (or engine parameters), perhaps we need to provide a hint of some
sort for this. E.g. to print out the recommended configuration, or set the
default engine instead of having a global default e

[2020-02-03 10:32] hyanwong opened #394 "Incorrect version pinning for attrs"
On a fresh install on OS X 10.14, I can't seem to type `import stdpopsim` in a Python 3.7 console: see the error message at the end of the output below.

[code]

[2020-02-03 10:44] jeromekelleher commented on #394
Odd. Can you run ``pip install --upgrade attrs`` and try again please? We might have gotten the version pinning wrong and 18.2.0 isn't new enough.

[2020-02-03 11:00] hyanwong commented on #394
Yes, when I upgrade attrs to the latest (19.3) rather than 18.2.0 which I had installed, it works. I guess you want versions > 19?

[2020-02-03 11:23] hyanwong opened #395 "Inconsistency in growth rate docs for HomSap"
In the [catalog docs](https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_homsap_models_outofafrica_3g09) for the `OutOfAfrica_3G09` model, there is:

[code]

which (after some digging) I find to be in *percentages*, so that the real `msprime` parameters are [0.004 and 0.0055](https://github.com/popsim-consortium/stdpopsim/blob/349ecca46a70989750c507f0017634786634c61f/stdpopsim/cat

[2020-02-03 11:38] jeromekelleher commented on #394
Yes, it looks like we need >= 19.0. I've updated this as a bug.

[2020-02-03 11:39] jeromekelleher commented on #394
It would be very helpful if someone could try out version 19.0 of attrs and check.

[2020-02-03 11:41] jeromekelleher commented on #394
Reported upstream on the conda-forge package also, which will need to be fixed.

[2020-02-03 11:53] hyanwong commented on #394
On my system, the only relevant versions listed by pip are `18.1.0, 18.2.0, 19.1.0, 19.2.0, 19.3.0`. I can confirm that the bug occurs with 18.2.0, but not with 19.1.0 upwards

[2020-02-03 11:55] jeromekelleher commented on #394
Great, thanks. Let's pin  >=19.1.0 then.

[2020-02-03 11:59] hyanwong opened #396 "Clarify generation time use (default vs model specific?)"
At the top of the [catalog for H sap](https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_HomSap), the docs say ```Generation time: 30 (Tremblay and Vezina, 2000)```, so on first reading, I assumed that the models below used this as a generation time. It's only after more detailed examination of the models that I realised this is something like a *default* Generation time, and spec

[2020-02-03 13:54] jeromekelleher opened #397 "[slim-engine-dev] Use conda package on OSX"
SLiM now has a [conda package](https://anaconda.org/conda-forge/slim). Update the TravisCI config to install it from conda-forge.

There won't be a Windows package for SLiM for a good long while, so let's ``unittest.skip`` the SLiM engine unit tests on windows.

[2020-02-03 13:55] jeromekelleher commented on #397
I don't think it's worth changing the CircleCI config to use the conda package, as this would get quite complicated and would basically require a rewrite of the Circle setup.

[2020-02-10 11:11] #394 closed

[2020-02-10 15:23] grahamgower commented on #255
Closed by #353 and superceded by #397.

[2020-02-10 15:23] #255 closed

[2020-02-13 08:58] grahamgower commented on #258
Closed by #400.

[2020-02-13 08:58] #258 closed

[2020-02-13 08:58] grahamgower commented on #378
Closed by #400.

[2020-02-13 08:58] #378 closed

[2020-02-13 08:59] grahamgower commented on #261
Closed by #400.

[2020-02-13 08:59] #261 closed

[2020-02-13 09:00] grahamgower commented on #256
Closed by #400.

[2020-02-13 09:00] #256 closed

[2020-02-13 09:01] grahamgower commented on #397
Closed by #400.

[2020-02-13 09:02] grahamgower commented on #264
Closed by #400.

[2020-02-13 09:02] #264 closed

[2020-02-13 16:56] #397 closed

[2020-02-14 07:43] grahamgower opened #401 "Add option to use specific chrom region, and random region with given length"
For CLI parameters, I think the length should be `-L` and the chromosomal region should should be `-r chr:from-to` to match samtools, etc. It should be possible to specify, e.g `-L 1000 -r chr1`.

[2020-02-17 09:44] grahamgower commented on #401
Not sure why I thought that we should add `-r`, when we already have `-c`. I'll use `-c`.

[2020-02-18 12:37] jeromekelleher commented on #401
I think it would be better to have ``--start`` and ``--end`` to specify the region to be simulated precisely. Parsing the samtools regionspec is a pain, and more recent protocols (e.g. [htsget](https://academic.oup.com/bioinformatics/article/35/1/119/5040320)) use start and end coordinates.

[2020-02-18 16:35] #392 closed

[2020-02-18 16:35] #361 closed

[2020-02-19 08:38] grahamgower opened #404 "merge slim-engine-dev into master"
I don't think there's much more that needs to be done for merging. There are some very small merge conflicts. Moving the slim specific CLI parsing from slim_engine.py into cli.py will create additional conflicts, so I'm happy to do that as part of the merge commit.

Anything else that you think is missing @jeromekelleher?

[2020-02-19 08:50] grahamgower commented on #391
So the main things this needs are an exon model and a distribution of fitness effects? Is there anything else this requires?

The DFE should be straightforward to add into the slim engine. Is it expected that we'll use exon positions from a given species annotation, or have a parameterized exon model (i.e. generate exon positions from a distribution)? The former will require a framework in stdpops

[2020-02-19 09:19] grahamgower opened #405 "DroMel chrM is simulated using recombination rate > 0"
[code]

[2020-02-19 09:33] grahamgower opened #406 "Support for simulating mitochondria"
MT should be added for all species (so far only exists for DroMel). It should have its own mutation rate, and zero recombination rate. See also #405.

[2020-02-19 10:42] jeromekelleher commented on #405
Good catch @grahamgower, this is clearly a bug.

[2020-02-19 10:49] jeromekelleher commented on #404
I think it's ready to go @grahamgower. There's probably some polishing we need to do docs wise, but let's do them as follow-ups on master and get the big branch merged.

I'd like to rebase the slim-dev branch and make it a standard PR on master (so it will look like a standard (very big, with lots of commits) PR in the history). Should I do this, or would it be better if you made a copy of the sli

[2020-02-19 10:52] grahamgower commented on #404
I can do the slim-dev rebase (once i fix the recapitation pr and that's merged), and will leave the final pr to master for you.

[2020-02-19 12:02] jeromekelleher commented on #404
OK, ping me when it's ready to go so.

[2020-02-19 18:09] jeromekelleher commented on #404
I had a go at rebasing the slim-dev branch and made a mess of it. Would you mind making a copy of the branch, rebasing it against upstream/master and opening a PR please @grahamgower? Once that's merged we can then delete the dev branch.

[2020-02-19 18:23] grahamgower commented on #404
Ah, shit, sorry. I just merged without rebase before. And github has been buggy all afternoon too... Uggh..

[2020-02-19 19:39] dschride commented on #391
I think we would eventually want the flexibility to take an annotation that has more than one sequence type (e.g. CDS vs. UTR vs. intron, etc, rather than just exon vs non-exon). Then each sequence type (GenomicElementType in SLiM) could have its own DFE (or mixture of DFEs, or MutationTypes in SLiM).

[2020-02-20 08:41] #384 closed

[2020-02-20 08:51] jeromekelleher opened #410 "Badges in README point to popgensims"
The badges in the README weren't updated after we changed the GitHub team to popsim-consortium. Need to go through and fix.

[2020-02-20 08:52] jeromekelleher opened #411 "Appveyor setup points to popgensims"
The Appveyor configuration is currently broken as it points to popgensims. Needs to be updated.

[2020-02-20 08:53] jeromekelleher commented on #411
Dupe of #369.

[2020-02-20 08:53] #411 closed

[2020-03-17 17:19] jeromekelleher commented on #388
There is now a conda package for SLiM: https://anaconda.org/conda-forge/slim

[2020-03-17 17:19] #388 closed

[2020-03-17 17:23] jeromekelleher commented on #385
Putting this in to the next release milestone for now as it would be nice to cover. We can remove it if we end up with too much to do.

[2020-03-17 17:24] jeromekelleher commented on #382
Is this covered @grahamgower, or do we need a follow up PR to improve the docs?

[2020-03-17 17:25] jeromekelleher commented on #376
I'm going to close this one for now as there's not been any updates. Feel free to reopen if someone wants to pursue.

[2020-03-17 17:25] #376 closed

[2020-03-17 17:27] jeromekelleher commented on #335
What's the status here @andrewkern/@ndukler? Can we upload some maps to AWS and change our code?

[2020-03-17 17:31] jeromekelleher commented on #207
I think we can close this now. We can open issues for specific things that are missing as we see them.

[2020-03-17 17:31] #207 closed

[2020-03-17 17:32] jeromekelleher commented on #204
Has this been done @ndukler? Should be an easy enough change if not?

[2020-03-17 17:33] grahamgower commented on #382
I think its mostly covered in the header of the slim_engine.py file. If its insufficient or found to be unclear, we can open a new issue when/if that becomes apparent.

[2020-03-17 17:33] #382 closed

[2020-03-17 17:34] jeromekelleher commented on #201
We definitely want this now, as stdpopsim has a conda package (hooray!). Should be easy enough to update @carjed's initial notebook to do a simple simulation and (say) compute a site frequency spectrum using tskit, and plot with matplotlib/seaborn (say)?

[2020-03-17 17:35] jeromekelleher commented on #155
Bumping this thread: has the issue been resolved?

[2020-03-17 17:38] jeromekelleher opened #414 "Minor restructuring of tutorial needed"
One of the review comments is that the tutorial is slightly confusing. Looking at the overall structure I think this is true -- the sectioning is a bit weird (we have an empty section in the Python API bit) and there's not really much of a logical progression.

Should be done after PR #340 is merged.

[2020-03-17 17:41] jeromekelleher commented on #162
See also #374

[2020-03-17 17:43] jeromekelleher opened #415 "Link to Wiki for model discussion"
Prompted by reviewer comments and discussed in the meeting 17/03, we decided to explore linking out to a Wiki to allow people to put in more detailed documentation of population models etc.

I'll look into this and report back.

[2020-03-17 17:44] jeromekelleher commented on #149
On the call 17/03 we discussed adding these to the Wiki (#415)

[2020-03-17 17:48] jeromekelleher commented on #117
Superceded by #402

[2020-03-17 17:48] #117 closed

[2020-03-17 17:48] agladstein commented on #201
Yes, no problem. I will get on it.

[2020-03-17 17:48] jeromekelleher commented on #17
Closing this - I think we've covered humans.

[2020-03-17 17:48] #17 closed

[2020-03-17 17:53] jeromekelleher opened #416 "Update getting involved docs to use inclusive language"
From @dschride:

[2020-03-17 17:56] jeromekelleher opened #417 "Improve github initial user experience"
We can make the github user experience more friendly

- Improve the docs in the README.md (Hello! thanks for dropping by, here are some helpful links to the documentation)
- Add a CONTRIBUTING.md file (which would basically just link to the relevant place in the documentation)
- Add a [first interaction](https://github.com/marketplace/actions/first-interaction) github action which will point users

[2020-03-17 18:06] jeromekelleher opened #418 "Statistical checks for SLiM engine"
We want to do a validation plot for the manuscript (https://github.com/popsim-consortium/manuscript/issues/150) but we also want to have some simple automated validation scripts we can do here. I'm imagining a much simpler version of msprime's verification.py statistical tests, we compare QQ-plots of tree sequence statistics when running a representative sample of models through both engines.

@gr

[2020-03-17 18:09] jeromekelleher commented on #418
Some discussion on whether migration rates need to be scaled or not on the call, so we should definitely include models with migration.

[2020-03-17 18:21] grahamgower commented on #417
Maybe we could have more "good first issue" tags? Is it possible to give non-admins permission to add such tags (I can't currently)?

[2020-03-17 18:43] agladstein commented on #414
I can work on this

[2020-03-17 18:51] jeromekelleher commented on #417
Good idea. Anyone know if we can let ``popgensims/all`` add labels etc? I've not understood GitHub's most recent permissions model.

[2020-03-17 18:52] grahamgower commented on #418
I think we should start by doing validation step-by-step on simple models. Something like these:
1. `PiecewiseConstantSize()` - single population.
2. `IsolationWithMigration()` - two populations with migration.
3. OutOfAfrica_3G09 - three populations with migration, and non-zero `growth_rate`.

And probably two more complex models.
1. AmericanAdmixture_4B11 - this confused me for a good while, and

[2020-03-17 18:55] jeromekelleher commented on #418
Sounds good @grahamgower.  We should also consider using branch length stats to get rid of some noise, or maybe look directly at some tree sequence summaries (number of trees, number of edges, number of nodes).

No idea; @petrelharp, any thoughts here?

[2020-03-17 19:01] agladstein commented on #155
Looks like this was resolved in
https://github.com/popsim-consortium/stdpopsim/pull/389

[2020-03-17 19:07] jeromekelleher commented on #155
Great, thanks @agladstein.

[2020-03-17 19:07] #155 closed

[2020-03-17 21:22] andrewkern commented on #418
i think any/all of the [branch stats in tskit](https://tskit.readthedocs.io/en/latest/stats.html#available-statistics) would be completely appropriate here.

[2020-03-17 21:23] ndukler commented on #335
Sure, if I get the credentials for the AWS service I can look into uploading all of our resources by the end of the week

[2020-03-17 21:25] ndukler commented on #204
It hasn't been done yet, I'll have it done by the end of the week

[2020-03-17 21:29] andrewkern commented on #418
in addition it would be good to summarize patterns of LD, perhaps by looking at the decay in LD with distance. we could use scikit-allel for that.

[2020-03-17 21:31] andrewkern commented on #335
just sent you two email... i think i blew it and we missed the deadline to upload!!

[2020-03-18 09:10] jeromekelleher commented on #418
Tskit also computes LD: https://tskit.readthedocs.io/en/latest/python-api.html#linkage-disequilibrium

[2020-03-18 09:57] #259 closed

[2020-03-18 10:01] grahamgower opened #419 "the SLiM engine should print some details in the "Simulation information""
As raised during @andrewkern's review of the SLiM engine in #409.
[code]
Maybe there are other relevant things to include too.

[2020-03-18 10:19] grahamgower opened #420 "Decide how we should handle `burn in` in the SLiM engine"
The SLiM engine currently supports using recapitation, or not. When recapitation is disabled, we wait until all individuals have a common ancestor after the start of the simulation, and then we wait an additional `10*N` generations. N is taken to be the maximum population size of the populations that exist at the start of the simulation (all current models only have one). We currently have separat

[2020-03-18 10:38] grahamgower commented on #404
#409 merged.

[2020-03-18 10:38] #404 closed

[2020-03-18 13:25] Chris1221 commented on #417
The docs seem to indicate that you can give "triage" permissions on an individual/repository basis to manage issues without write access:

https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

[2020-03-18 14:44] jeromekelleher commented on #417
Thanks @Chris1221, I think I've figured it out. Everyone in stdpopsim/all should have triage rights now for this repo. @grahamgower, can you update labels now?

[2020-03-18 14:58] grahamgower commented on #417
Yep, that's done the trick. I now see the little cog to add "Labels", as well as for "Assignees" and "Milestone".

[2020-03-18 15:45] hyanwong opened #422 "Recombination map metadata - which reference build?"
I can access the recombination map for a species (e.g. HomSap) using e.g.

[code]

But this map is presumably tied to a particular human genome reference build (I see that for HomSap there are two possibilities: https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_HomSap_genetic_maps). Might it be possible to add metadata to the recombination map so that it is at least possible to f

[2020-03-18 16:09] grahamgower commented on #422
By default you'll get a uniform recombination map, with rate corresponding to the chromosome in question. To get one of the recombination maps you've linked to, one needs to specifically request it with the `genetic_map` argument to get_contig().

But I admit, your point still remains. The recombination rate for a uniform map came from somewhere, and there is currently no way to inspect this. (FYI

[2020-03-18 16:43] hyanwong commented on #422
Ah, I didn't realise that the default map was uniform. I think that probably backs up my point that it would be good to be able to inspect the maps for provenance of some description. Actually, I see that information *is* present once you've figured out how to get a non-uniform map (I had to work this out by trial and error, it's not obvious). Perhaps this could be documented somewhere?

[code]

[2020-03-18 16:47] hyanwong commented on #422
Also, I can't work out how to programmatically list the genetic maps available for a species. It looks like `stdpopsim.get_species("HomSap").genetic_maps` is an array, whereas I would expect it to be a Python dict, whose keys are the genetic map IDs. Failing that, something like `stdpopsim.get_species("HomSap").list_genetic_map_ids()` would be useful.

[2020-03-18 16:57] grahamgower opened #423 "Add docstring for `Species.genetic_maps`."
As pointed out in #422, the genetic_maps attribute for species is undocumented.

[2020-03-18 17:00] grahamgower commented on #422
The `Species.genetic_maps` appears to be missing a docstring, I've started a new issue for that. There is also a CLI option to list the available maps, eg. `stdpopsim HomSap --help-genetic-maps
`. Probably a dictionary also makes sense for this as you've suggested, but we aren't overflowing with large numbers of genetic maps for any species (I think HomSap is the only species with more than one).

[2020-03-18 17:12] grahamgower commented on #422
Oh, and here's an id list.
[code]

[2020-03-18 17:17] jeromekelleher commented on #422
See also #385 - we want to improve the linkage of species definitions with upstream genome builds.

[2020-03-18 17:19] grahamgower commented on #422
And #198.

[2020-03-18 17:20] grahamgower commented on #423
In #198 @jeromekelleher says that this undocumented on purpose.

[2020-03-18 17:27] jeromekelleher commented on #423
Hmmm, tricky. The bad thing about documenting things is that you're then stuck with them forever. I'm not sure that the Python API is mature enough for this yet. However, changing ``genetic_maps`` to a dict mapping IDs to the maps seems like a logical enough thing (not sure why it's a list now).

[2020-03-18 17:40] hyanwong commented on #422
Ah, it's in the `id` property! I hadn't thought of that. Sorry.

[2020-03-18 18:36] ndukler opened #424 "Clean up remote resources handling/caching"
As I'm writing up the AWS documentation its reminding me of a few organizational things I wanted to get done to make it easier down the line and I was wondering what people thought of them.
- Reorganize the cache file structure (and the parallel AWS file structure) to be the following:
  - species <--- six character id
    - assembly_1 <-- (e.g. hg37, hg38, etc.)
      - chromInfo.txt <-- contains

[2020-03-18 19:26] jeromekelleher commented on #424
Overall file structure looks just right to me.

[2020-03-19 02:06] ndukler opened #425 "Tests throwing errors on windows"
I'm getting a decent number of errors when I run the test suite on windows 10. I've attached the output I get to this issue.
[test_error_log.txt](https://github.com/popsim-consortium/stdpopsim/files/4352300/test_error_log.txt)

[2020-03-19 08:29] grahamgower commented on #425
The `test_all_engines` failure looks like the slim executable can't be found during version checking. And `test_tar_path_traversal_attack` is failing to create a symlink---googling suggests  symlinks need admin privileges on windows.

The first two failures might be related. They're probably more difficult to figure out without sitting down at a windows system.

[2020-03-19 08:31] jeromekelleher commented on #425
Thanks @ndukler, we'll get these sorted out once we get Appveyor working again in #421.

[2020-03-19 08:32] jeromekelleher commented on #425
Probably we'll just unittest.skip() most issues though.

[2020-03-19 11:01] grahamgower opened #427 "Use a temp directory instead of temp files in the SLiM engine"
The SLiM engine currently opens a temp file, closes it, then reopens it. This works fine on mac/linux but will fail on windows. The unit tests get around this problem by using a temp directory instead, which seems to work fine on windows. At the moment there's no windows build for SLiM, so this is not a high priority.

[2020-03-19 11:56] #369 closed

[2020-03-19 11:57] jeromekelleher commented on #425
Can you try this again with the latest updates @ndukler? We should have fixed most of the issues now.

[2020-03-19 14:52] ndukler commented on #425
Ok, so I re-ran the tests on the new version in a console that had admin privileges and got the attached error log.
[test_error_log_2.txt](https://github.com/popsim-consortium/stdpopsim/files/4355184/test_error_log_2.txt)

[2020-03-19 14:57] jeromekelleher commented on #425
OK, great, looks like we're down to one error. It's a weird one though. What version of Python are you on?

[2020-03-19 14:59] ndukler commented on #425
Python: 3.7.1
Conda: 4.8.3

[2020-03-19 14:59] ndukler commented on #425
python -m nose tests

[2020-03-19 15:01] grahamgower commented on #425
Can you try ` python -m nose -s tests`?

[2020-03-19 15:03] ndukler commented on #425
I just did and it produced no errors. That being said it's still writing warnings:

Warning: recombination map not found for chromosome: 'chr22' on map: 'HapMapII_GRCh37', substituting a flat map with chromosome recombination rate 1.4445022767788226e-08

UserWarning: Non-autosomal simulations are not yet supported. See https://github.com/popsim-consortium/stdpopsim/issues/383 and https://github.co

[2020-03-19 15:04] ndukler commented on #425
We also need to update the devdocs with the new test command if it is required.

[2020-03-19 15:05] ndukler commented on #425
This is good enough for me to keep working though as I can easily tell which errors are due to my code now :)

[2020-03-19 15:20] grahamgower commented on #425
Great! The dev docs should definitely mention using `-s`. I've never had the tests pass without it.

[2020-03-19 15:26] ndukler commented on #425
Ok, I'll close this if there are no objections?

[2020-03-19 15:31] ndukler commented on #204
So this is going to require augmenting all the qc models as none of them actually implement populations objects and as such have no actual sampling times. I think this should be pretty straightforward as all sampling times are either `0` or `None` right now but I'll mention if something comes up.

[2020-03-19 15:57] jeromekelleher commented on #425
This is a bug, I didn't realise it. I'll open an issue.

[2020-03-19 15:57] #425 closed

[2020-03-19 15:58] jeromekelleher opened #428 "Tests fail without specifying "-s""
See #425. We should be able to run nose in any way we like.

[2020-03-19 16:12] ndukler commented on #204
Also this leads to the interesting feature where the `get_samples()` function doesn't work on the qc models.

[2020-03-19 16:29] jeromekelleher commented on #204
How so?

[2020-03-19 16:38] ndukler commented on #204
It requires populations to retrieve the sampling times and coughs up an error because there it cant find the attribute:

[code]

[2020-03-19 16:39] ndukler commented on #204
Do we want to add a default vector of populations at model creation or something to avoid this? It doesn't show up in testing because we never sample from the qc models.

[2020-03-19 17:27] jeromekelleher commented on #204
Right, I see. We probably want a default list of populations all right.

[2020-03-19 18:23] ndukler commented on #204
Ok, so I've done everything but we actually  do have  a disagreement in sampling times for the `_papuans_10j19` model between the qc and production. The last four populations are non-sampling and the production model and 0 in the qc model. The 0 is clearly not the desired answer as they are archaic populations so I will set them to `None` for now unless there is any reason not to ?

[2020-03-19 20:14] jeromekelleher commented on #415
I've turned on the wiki and populated it with a few stub pages. I'm not sure it's *quite* what we're looking for, tbh. It's going to be a lot of work filling out all these pages (although I'm sure we could automate adding stub pages) and it's all quite... static.

Here's an example page: https://github.com/popsim-consortium/stdpopsim/wiki/HomSap-demographic_models-OutOfAfrica_3G09

I'm not sure wh

[2020-03-19 23:48] ndukler commented on #415
I can edit it, but I agree, this is a significant undertaking in it's own right. It feels almost like it should be a partner project with a full group committed to it.

[2020-03-20 09:19] #428 closed

[2020-03-20 16:48] grahamgower commented on #418
It might need to be scikit-allel. I get this error when trying to use tskit's r2_array.
`_tskit.LibraryError: Only infinite sites mutations are supported for this operation`

[2020-03-20 17:47] jeromekelleher commented on #418
You're right, tskit's current LD calculation is very limited. Easier to use scikit-allel than to enforce the requirements.

[2020-03-20 18:06] agladstein commented on #201
Logistics question - should I just create a new branch for this and let https://github.com/popsim-consortium/stdpopsim/pull/49 die?

[2020-03-20 18:41] andrewkern commented on #201
sounds reasonable to me @agladstein

[2020-03-23 09:09] jeromekelleher commented on #201
Well I'd like to see @carjed get some credit for this, so it would be nice to keep his commit in the history. Logistically, I guess we'll need to let PR #49 die since @agladstein can't write to it. The simplest thing would be to create a new branch on your fork @agladstein, then to cherry-pick @carjed's commit onto that branch. Then you can add your own commits on top of that.

How does that sound

[2020-03-23 09:26] jeromekelleher opened #433 "Format code with Black?"
Anyone object if we start using [Black](https://black.readthedocs.io/en/stable/) for code formatting?

We moved over recently for [tskit](https://github.com/tskit-dev/tskit) and it's wonderful. No more decisions about how to format code, it's just done for you.

Having a clear and unambiguous policy about coding style is also an important part of being developer friendly, I think.

[2020-03-23 09:54] grahamgower commented on #433
Yeah, sound like a great idea. There are some cases where the output is a bit ugly, but I guess we can live with that.

[2020-03-23 13:34] grahamgower opened #434 "SLiM tree sequences have higher num_sites than msprime"
See validation plots ending in "_slim2.pdf": https://github.com/popsim-consortium/stdpopsim/pull/431#issuecomment-602589125
The _slim2.pdf comparisons are for slim simulations without recapitation and without rescaling time.

[2020-03-23 13:40] grahamgower opened #435 "SLiM simulations with migration and time rescaling don't match msprime"
See validation plots: https://github.com/popsim-consortium/stdpopsim/pull/431#issuecomment-602589125

`twopop_asymmetric_migration_msprime1__twopop_asymmetric_migration_slim1.pdf` is a slim simulation with recapitation and time scaling by a factor of 10.
`twopop_asymmetric_migration_msprime1__twopop_asymmetric_migration_slim2.pdf` is a slim simulation without recaptitation and without time scaling

[2020-03-23 16:19] grahamgower commented on #435
On the PopSim call last week, Ilan suggested that migration rates should be scaled. The linked pull request #436 does just this. It's difficult to evaluate with such a high migration rate as the one I previously set in the validation script, so I've dropped the migration rate there to 0.001.

Attached are some validation plots (for a migration rate of 0.001), without multiplying migration rates by

[2020-03-23 18:11] andrewkern commented on #433
fine by me but any tips on how to use it? do you just set up a pre-commit hook?

[2020-03-23 19:33] jeromekelleher commented on #433
Yeah, we've got it set up using [pre-commit](https://pre-commit.com/) for tskit and it's awesome. Can easily check a bunch of other stuff too.

[2020-03-24 09:00] grahamgower opened #437 "SLiM engine doesn't pass Ne or migration_rates to `ts.recapitate()`."
It's not immediately clear to me what the call to `ts.recapitate()` should look like in the slim engine, but I'm pretty sure its wrong right now.

* What should `Ne` be in our case, where we likely have a single ancestral population at time `ts.slim_generation`? Should it be the size of that ancestral population at time `ts.slim_generation`? How are the values in `population_configurations` used,

[2020-03-24 13:03] petrelharp commented on #437
The arguments to recapitate are just as to `msprime.simulate`, but let's not worry about multiple ancestral pops for the moment if we don't have any need for it. So, we should just be able to pass `Ne` and the recomb map. Ne is the diploid pop size of the ancestral population.

[2020-03-24 13:46] petrelharp commented on #418
If we are just using WF models in SLiM then it should all match msprime quite well... With small sample sizes anyhow.

[2020-03-25 09:06] #435 closed

[2020-03-25 09:31] #437 closed

[2020-03-25 10:31] grahamgower opened #439 "Too many roots after #438 when recapitating a truncated recombination map."
[code]

I'm not entirely sure what's going on here, but it seems to be caused by using the truncated recombination map from #438. Setting `recombination_rate=recomb_map.mean_recombination_rate` for recapitation does not exhibit this problem.

[2020-03-25 10:53] grahamgower opened #441 "When msprime 1.0 is released, we should use discrete recombination maps"
Also for the slim engine, see #438 and #439.

[2020-03-25 13:48] grahamgower opened #443 "AncientEurasia_9K19: QQ plots comparing SLiM and msprime differ"
See #442. Validation plots attached here too.

[AncientEurasia_9K19_msprime1__AncientEurasia_9K19_slim1.pdf](https://github.com/popsim-consortium/stdpopsim/files/4381230/AncientEurasia_9K19_msprime1__AncientEurasia_9K19_slim1.pdf)

[2020-03-25 13:56] grahamgower opened #444 "Time-scaled SLiM simulations have systematically fewer num_nodes and num_edges"
See #442.

This is probably expected for time-scaled discrete-generation simulations, but we should satisfy ourselves that there isn't another underlying problem here. And is this problematic in general?

[2020-03-25 14:04] grahamgower opened #445 "Choose sane defaults for SLiM engine"
The SLiM engine supports enabling/disabling recapitation. Time can be scaled, or not. At the moment, the defaults are to do recaptitation and scale time by a factor of 10. Are these defaults appropriate?

Also see #420, #444.

It would be great to get some wider feedback on this and #420 from @popsim-consortium/all

[2020-03-25 14:22] petrelharp commented on #445
I strongly vote for a default scaling factor of 1.0. One of the biggest points of SLiM is doing selection, and rescaling does not give equivalent results for selection. We don't want to confuse people here.

I do think doing recapitation by default is a good idea!

[2020-03-25 14:34] #262 closed

[2020-03-25 14:58] grahamgower commented on #445
Just so we're all informed, it takes 3 minutes to run a 250 kb OutOfAfrica_3G09 simulation with a scaling factor of 1.0, and under 2 seconds with a scaling factor of 10.0.
[code]

[2020-03-25 15:00] grahamgower commented on #445
@petrelharp Can you elaborate on the differences with regard to selection? Is this all kinds of selection (positive, negative, single locus, QTL, etc)? What kind of non-equivalence? Do you have any references you can point me at?

[2020-03-25 15:00] RyanGutenkunst commented on #445
I strongly vote that the default be 1.0, but that it be made **very** easily changeable and that extensively documented. The appropriate scaling is going to vary dramatically depending on organism and computational resources. For example, humans can probably be done scaling by 1.0, but nothing at scale could be done with Drosophila without major scaling.

In our experience, even if scaling isn't p

[2020-03-25 15:14] petrelharp commented on #445
Yep - there are no population genetic equivalences under rescaling when it comes to any kind of selection, so far as I am aware. The SLiM manual does a pretty good job of mentioning the various issues. For instance, rescaling by Q=10 is like replacing ten loci with small effect with a single locus with ten times the effect; and clearly many small effect loci are different than one large effect loc

[2020-03-25 16:10] RyanGutenkunst commented on #445
My intuition is shaped by the diffusion approach, where for single loci and pairs of loci the rescaling with population size is mathematically exact. So in the regimes covered by those approaches, there isn't any difference with rescaling. The semi-empirical question is how much rescaling matters for your particular parameter regime and statistical approach.

I agree, but I would add language emph

[2020-03-25 16:12] jeromekelleher commented on #445
Sounds to me like the only debate here is "how much documentation do we need to write" and the everyone is saying "lots"!

[2020-03-25 16:14] #439 closed

[2020-03-25 16:24] petrelharp commented on #445
Oh, good point - so, for pairs of loci under with s of order 1/N that are not near 0 or 1, the approximation should be good. Even for these, the boundary behavior isn't guaranteed to be the same under rescaling, though.

[2020-03-25 23:10] andrewkern commented on #445
So i've been in contact with Graham and he is onboard for us to explore this as part of our revision. I'd like to see a few scaling factors for each model and a comparison of summary stats to msprime and runtime

[2020-03-26 17:11] jradrion commented on #420
I second the idea of using `--slim-burnin X`, where `--slim-burnin 0` means disable the burn, with the default being 10N gens.

I don't have a strong opinion on point 2, but your plan sounds perfectly reasonable to me.

[2020-03-26 17:19] petrelharp commented on #420
Recapitation and burn-in are separate things - one is SLiM simulation time, one is msprime - so, I don't see how we can really eliminate an option, here, unless we want to have it *always* do recapitation?  (Note, though if we check for coalescence we don't need to recapitate unless we have ancestral samples.)

As for coalescence checking: I don't think we need it, really. A default burn-in of 10N

[2020-03-26 19:27] grahamgower commented on #420
Always doing recapitation seems like an appealing choice actually. In this case, we also remove the check for coalescence. The user can then only specify a within-slim burn-in period. Is there any reason to have 10N generations of burn in by default in this case? Is 0 burn-in time + recapitation considered harmful for some reason?

[2020-03-26 22:08] petrelharp commented on #420
Well, if recapitation is just as good, why are we using SLiM in the first place? It kinda defeats the purpose.

[2020-03-26 22:31] andrewkern commented on #420
agree and i think we might want to show in the paper how doing recap might lead you astray, just to demonstrate the point

[2020-03-27 07:46] grahamgower commented on #420
Ok... I'm still a little confused. So I'll just start submitting PRs to change the defaults and you can correct any misconceptions I have then. :)

[2020-03-27 08:02] grahamgower opened #449 "SLiM engine ends the simulation one generation later than needed"
I did this deliberately, but now I can't remember why. Probably it should be fixed.

[2020-03-27 15:07] grahamgower commented on #443
Fixed by #446.

[2020-03-27 15:07] #443 closed

[2020-03-27 20:03] agladstein opened #451 "docs: manuscript citation"
Add biorxiv manuscript citation to read the docs https://stdpopsim.readthedocs.io/en/latest/introduction.html#citations

And maybe link to manuscript in README

[2020-03-27 20:06] grahamgower commented on #451
Good idea. Probably this citation should be printed on stdout when doing simulations too.

[2020-03-27 22:07] agladstein commented on #201
I'm just about done with this, but I've encountered something confusing with the sfs.
Could someone please take a look at https://mybinder.org/v2/gh/agladstein/stdpopsim/binder?filepath=stdpopsim_api_example.ipynb
 (the active notebook in binder)

basically, if I follow @gtsambos way with simplifying I get one thing, and if I do what @petrelharp suggested in https://github.com/popsim-consortium/st

[2020-03-27 23:49] petrelharp commented on #201
They are both right! The only differences are in the fixed/absent categories. For instance:
[code]
Simplification gets rid of extra stuff, so it removes the mutations which are either shared by all the YRI samples (58 of these above) or by none of them (2705 of these).  Does this make sense?

[2020-03-28 20:40] agladstein opened #454 "add binder link to docs"
related to https://github.com/popsim-consortium/stdpopsim/issues/201

Add binder link to RTD. Probably very beginning of tutorial section. Maybe also end of intro section.

[2020-03-30 00:18] gtsambos commented on #201
sorry @agladstein, just getting around to looking at this now -- I can't open the binder? But looks like you have it figured it out now anyway. I'd still be keen to see what you've done though :)

[2020-03-30 00:51] agladstein commented on #201
ah! sorry there is a typo in that link.
https://mybinder.org/v2/gh/agladstein/stdpopsim/binder?filepath=stdpopsim_example.ipynb

[2020-03-30 08:45] #201 closed

[2020-03-30 09:33] #420 closed

[2020-03-30 12:10] grahamgower commented on #445
Thanks for the feedback everyone! New defaults were merged with #450.

[2020-03-30 12:10] #445 closed

[2020-03-30 12:10] grahamgower commented on #449
Fixed with #450.

[2020-03-30 12:10] #449 closed

[2020-03-31 08:07] grahamgower commented on #418
The attached msprime/slim QQ plots should be up to date with git HEAD. (See validation.py for details on what slim1, slim2, etc. means).

[Africa_1T12_msprime1__Africa_1T12_slim1.pdf](https://github.com/popsim-consortium/stdpopsim/files/4407521/Africa_1T12_msprime1__Africa_1T12_slim1.pdf)
[AmericanAdmixture_4B11_msprime1__AmericanAdmixture_4B11_slim1.pdf](https://github.com/popsim-consortium/stdpo

[2020-03-31 08:10] grahamgower commented on #434
I think this has been resolved with the last rounds of changes. Not sure which specific thing helped, but I no longer see this artifact in https://github.com/popsim-consortium/stdpopsim/issues/418#issuecomment-606468748

[2020-03-31 08:16] jeromekelleher commented on #434
Great, thanks @grahamgower. Closing.

[2020-03-31 08:16] #434 closed

[2020-03-31 15:35] petrelharp commented on #418
Damn, that's very nice. I say we put all those in a directory in the manuscript repo?

And, I don't see anything worrisome - do you? We don't expect `num_sites` to match, since SLiM retains some monomorphic sites. Same with `num_nodes` and `num_edges` if it's not simplified. (but these are simplified, right?)

[2020-03-31 15:39] andrewkern commented on #418
can this be the first topic of conversation on the call in 20min?

[2020-03-31 16:06] petrelharp commented on #444
Are these simplified?

[2020-03-31 16:31] petrelharp opened #455 "add warning when using Q != 1"
Proposed rough text:

[2020-03-31 16:32] petrelharp commented on #444
By 'time-scaled', you mean Q != 1?

[2020-03-31 16:34] grahamgower commented on #444
Simplified, yes: https://github.com/popsim-consortium/stdpopsim/blob/master/stdpopsim/slim_engine.py#L533-L541

And yes, I mean Q>1 (Q=10 in the cases I looked at).

[2020-03-31 16:45] jeromekelleher commented on #455
Can we turn this warning off then with `--quiet`? Having an option that always writes out warning text when you use it is pretty obnoxious.

[2020-03-31 16:49] petrelharp commented on #444
Well, fewer nodes would imply fewer edges, since each node has to be connected to the other ones. And I think fewer nodes makes sense - with fewer individuals, there will be more re-use of nodes, even with the same amount of coalescence. Imagine taking the set of marginal trees; with no rescaling and a very big population imagine that every node in every marginal tree is distinct; but as the total

[2020-03-31 16:58] jeromekelleher commented on #444
Makes sense to me - the trees are what matter at the end of the day.

[2020-03-31 16:59] petrelharp commented on #444
And this is kinda tricky - because presumably the *trees* are good (marginally), but there's more correlation between trees along the sequence than you'd expect, somehow.

[2020-03-31 18:07] petrelharp commented on #444
More re-using of nodes between non-adjacent trees was what I was thinking. Since density of recombinations on the trees is scaled to be the same, mean edge length and number of trees should be (almost?) the same.  But this is hard to think about.

[2020-03-31 18:14] jeromekelleher commented on #444
That's interesting, I'm curious to take a look now. Can you point me to a set of plots from a SLiM simulation with Q=1 and Q>1 for comparison please @grahamgower? I've gotten a bit lost with all the ones that are going around.

[2020-03-31 18:20] grahamgower commented on #444
In the latest validation plots (in #418), all the `slim1` simulations are with the new defaults. Ie. Q=1, burn_in=10. `onepop_*_slim2` is with burn_in=0, `onepop_*_slim3` is with Q=10. `twopop_*slim2` is with burn_in=0 and Q=10. Sorry, the slim2/slim3 numbers are a little inconsistent between onepop and twopop models, so maybe just look at the onepop models.

[2020-03-31 18:27] grahamgower commented on #444
What are the implications here for tree sequence inference from empirical data? Presumably num_nodes and num_edges are non-identifiable, given genotype data?

[2020-03-31 18:55] petrelharp commented on #444
Huh, my explanation of why more nodes => more edges doesn't agree with why I said there should be more nodes. =)

I think there's no obvious way to infer them, but different numbers does imply some differences in correlations along the genome that should in principle be detectable (although depending on what's going on, might be quite hard?))

[2020-03-31 18:58] grahamgower commented on #265
Requests for sample sizes greater than N/Q currently do not give an error (but you only get N/Q
individuals back).

[code]

[2020-03-31 19:01] grahamgower commented on #444
I wonder if a neutral network can identify the difference between Q=1 and Q=10 from genotypes alone...

[2020-03-31 21:40] andrewkern commented on #455
can we change the phrase "of lots of selection" to "of selection"?

[2020-03-31 21:45] andrewkern commented on #444
yes this is really interesting to think about- the size of the containing genealogy is shrinking, even if the parameters are scaled up. maybe this would show up in patterns of LD across genomes? would we perhaps expect longer range correlations to persist?

[2020-03-31 22:23] petrelharp commented on #455
Please edit, this is a terrible first draft.

[2020-04-01 01:52] dschride commented on #444
Oops, clicked the wrong button!

But what I meant to do was ask if whether this "sharing of nodes" problem is really just another way of saying that N is no longer >> n?

[2020-04-01 07:01] grahamgower commented on #444
It's certainly an artifact of discretisation. I reckon there's an analogy here with sampling theory in signal processing (https://en.wikipedia.org/wiki/Nyquist%E2%80%93Shannon_sampling_theorem), if we think of the discrete generations as a sampling of continuous-time events. So our continuous-time "signal" has frequency at time `t` corresponding to the frequency of (coalescent, recombination) even

[2020-04-01 07:04] grahamgower commented on #444
This also predicts that we should be able to do more aggressive scaling in the deep past, where events are less frequent.

[2020-04-01 09:12] jeromekelleher commented on #444
Here's the ts properties for onepop_bottleneck_msprime1__onepop_bottleneck_slim3 (Q=10):

![Screenshot from 2020-04-01 10-10-11](https://user-images.githubusercontent.com/2664569/78120002-2d2dff80-7401-11ea-8461-37360d45c8f9.png)

[2020-04-01 09:21] jeromekelleher commented on #444
I'm just going to state the obvious here:

- num_trees and num_sites are have the same distribution, and therefore the total branch lengths of the trees are the same (since recombinations and mutations fall proportional to branch lengths)
- We have systematically fewer nodes and edges in the SLiM sims. Probably the simplest explanation for this is that the SLiM sims have lots of non-binary nodes.

[2020-04-01 12:12] grahamgower commented on #444
Q=1 (slim1) versus Q=10 (slim3).
![node_arity](https://user-images.githubusercontent.com/8665077/78135712-a2f69300-7422-11ea-8adf-dd1a8b1fc9af.png)

[2020-04-01 12:17] jeromekelleher commented on #444
Nice, thanks @grahamgower! So, trees get increasingly more starlike for Q > 1. That's a pretty simple and clear conclusion, right?

[2020-04-01 12:22] grahamgower commented on #444
Yeah. But they're not going to get much more starlike unless the (scaled) population size is small. So, for drosophila with Q=1000, nodes with more than 2 children are still going to be very uncommon.

[2020-04-01 13:11] jeromekelleher commented on #444
Right. I'm sure there's some coalescent theory we can draw on there, this is basically the n << N assumption as @dschride said above.

[2020-04-01 13:26] grahamgower commented on #418
Is there anything else folks want to see here, or can this issue be closed?

[2020-04-01 13:27] grahamgower opened #456 "SLiM engine can't do DroMel/OutOfAfrica_2L06"
With `--slim-scaling-factor 1000`, SLiM runs out of memory on my 16gb laptop. Probably the `simplificationRatio`/`simplificationInterval` needs some fine tuning; currently we use the SLiM defaults.
[code]

With `--slim-scaling-factor 10000`, we generate invalid code (looks like the population size has been scaled down to zero).
[code]

[2020-04-01 13:32] grahamgower commented on #444
Well I'm quite satisfied that this is not something to be "fixed" in the slim engine. Unless anyone has anything to add, I think this issue can be closed.

[2020-04-01 13:36] jeromekelleher commented on #444
Agreed. The only question really is how we present this in the manuscript, but perhaps we should move the discussion over there then.

[2020-04-01 13:36] jeromekelleher commented on #418
I'm happy to close.

[2020-04-01 13:37] grahamgower commented on #257
Superceded by #418.

[2020-04-01 13:37] #257 closed

[2020-04-01 14:54] andrewkern commented on #444
sure let's move it there. we should also be sure to remember to note this in the documentation somewhere

[2020-04-01 14:55] dschride commented on #444
You may be on to something here. Anyone know if something like this has been done before? But yeah, let's close and discuss elsewhere.

[2020-04-01 15:20] grahamgower opened #457 "User documentation for slim engine"
We need a couple of simple examples using the CLI, setting `--slim-scaling-factor`, and a big warning/discussion about some of the caveats discussed in #444 and #445. Probably the CLI warning one gets when using a scaling factor (see #455) should point at this section of the documentation.

[2020-04-01 15:56] petrelharp commented on #444
This is interesting! But I'm not sure - I think the relevant thing is the number of distinct ancestors, and since ancestral blocks break up into smaller chunks as you go back, this number can actually increase for a while before it decreases, I think?

[2020-04-02 07:17] grahamgower commented on #444
To answer my own thought bubble, I did 5000 simulations of both onepop_bottleneck_slim1 (Q=1) and onepop_bottleneck_slim3 (Q=10) and tried to distinguish genotype matrixes from the two sets using an exchangable CNN architecture similar to that of Chan et al. (https://arxiv.org/abs/1802.06153). I only tried a few different hyperparameters, but the network was unable to learn, always stuck at 50% ac

[2020-04-02 07:18] #444 closed

[2020-04-02 07:19] #418 closed

[2020-04-02 16:22] petrelharp opened #458 "Write tutorials for a "pre-existing model" and the SLiM engine"
I'm on this, and doing a general pass through the tutorial: will post a PR later today. I hope no-one else is working on this at the same time, except maybe #340?

[2020-04-03 05:09] petrelharp opened #459 "generic models have no `generation_time`, so can't be run with the slim engine"
For instance:
[code]
produces
[code]
Maybe the call to `PiecewiseConstantSize( )` needs another argument, `species`, so it can inherit properties like `generation_time`? Or, maybe we just need a `generation_time` argument to either `PiecewiseConstantSize( )` or `_SLiMEngine.simulate( )`?

[2020-04-03 06:00] grahamgower commented on #459
I've just been setting that property of the model manually (like `cli.py` does when no demographic model is requested). Not sure what the best solution here is.

[2020-04-03 06:20] grahamgower commented on #458
I had a couple of thoughts that I wanted to mention here...
 * Using `-vv` on the CLI will increase verbosity to level 2, triggering the slim script to print out each registered event. This might be useful to users when scaling, to confirm that the coarsness of the simulation is not obviously crazy. Perhaps unintuitively, `-vv` can be combined with `--quiet`.
* When I started writing the slim engi

[2020-04-03 07:45] jeromekelleher commented on #459
What do you set the value to @grahamgower? Perhaps we should make ``generation_time`` an attribute that is shared by all models, and is None by default. Therefore, if ``generation_time`` doesn't make sense but the engine has to set it, the engine can make the choice?

[2020-04-03 07:48] grahamgower commented on #459
I set `model.generation_time = species.generation_time`. Certainly, we could move that into the slim engine's `simulate()` method.

[2020-04-03 07:48] grahamgower commented on #459
Oh, actually, we can't. The engine doesn't get the species object.

[2020-04-03 07:53] jeromekelleher commented on #459
I guess having the species as an optional second argument to ``PiecewiseConstantSize`` and other generic models is the best thing to do. Can you see any drawbacks?

[2020-04-03 08:15] grahamgower commented on #459
How about having `generation_time` as the argument to `PiecewiseConstantSize` instead? It could default to 1, but it might be better to insist on a value being provided.

[2020-04-03 09:27] jeromekelleher commented on #459
Yeah, that sounds sensible. We should make the engines consistent though, if we add a generation time argument we'd want to make sure that the msprime engine is using it also.

[2020-04-03 09:39] grahamgower commented on #459
How about something like this (no engine changes)?

[code]

[2020-04-03 10:49] jeromekelleher commented on #459
I dunno about the warning - why not just make it a mandatory argument? Every warning you add means more tests have to be written, more corner cases to think about.

But the point remains about the msprime engine - it appears that this isn't using the generation_time while the slim engine is?

[2020-04-03 11:14] grahamgower commented on #459
Sure, I agree that the argument should be mandatory. And yes, msprime doesn't use the generation_time, but the slim engine does. The slim engine uses the generation_time to write time to the script in years, in an attempt to make the script more standalone.

[2020-04-03 12:57] jeromekelleher commented on #459
The script is still standalone if the output is in units of generations, isn't it? Seem artificial to force a generation time to me. On the other hand, maybe all the output from stdpopsim should be in years for consistency.

[2020-04-03 13:19] grahamgower commented on #459
I can only think in terms of years, so I wrote the engine to output times in years to the slim script. The generation time is also included in the slim script to then convert from years to generations. So, if a user generates a slim script, it's easy to change the generation time in the stanza at the top of the script. It would, of course, be possible to change this behaviour so that times are wri

[2020-04-03 13:51] jeromekelleher commented on #459
@petrelharp, have you any thoughts here. Would it be better to write the slim script in generations rather than years, given that the output is in generations?

[2020-04-03 14:45] petrelharp commented on #458
Ah, I haven't paid attention to the CLI portion of the tutorial. I'll have a go at a SLiM/CLI portion next.

What are the biggest gotchas? I was imagining that people would have to read the pyslim documentation (which I recently improved, and should link to here), but if there's only one population you're trying to recapitate it's pretty straight forward, I thought?

[2020-04-03 14:51] grahamgower commented on #458
Two additional things come to mind:
 * It requires non-standard simplification. To permit temporal sampling of individuals, I chose to make all sampling done by "remembering" individuals.
 * Node times need to be scaled to match the value of Q within the SLiMulation, so that the pre- and post- recapitation parts of the trees have the same units of time.

[2020-04-03 15:02] petrelharp commented on #458
That seems like the right use of "remembering"!  Well, just plain simplify won't get rid of any remembered individuals, at least, and the [`simplify_remembered`](https://github.com/popsim-consortium/stdpopsim/blob/ba517491e341fb307d423a8ecdbae0ca33c22ad7/stdpopsim/slim_engine.py#L533) would be easy enough to put in an example somewhere.

Oh, right. That is trickier. Maybe we can expose [the releva

[2020-04-03 15:11] andrewkern commented on #459
I think this is a simple way to go that will by default give equivalent output between engines, but allows the user to change `generation_time` if they wish.

[2020-04-03 15:14] grahamgower commented on #458
Yeah, exposing some post-slim helper function(s) is definitely a good idea. Maybe there could be something like a `_SLiMEngine.recap_factory()` that takes the same args as `simulate()`, but returns a function that can be called on a tree sequence to do all the necessary post-SLiM bits?

[2020-04-03 15:15] petrelharp commented on #459
Well, I definately think we should output in the same time units from both SLiM and msprime. What else are we using `generation_time` for? Nothing, it looks lke from a quick grep.

 I'm generally in favor of returning things in real units, and "years" seems somewhat more real than "generations"... but, I'm not so sure in this case, because actual generation times are not that well known, so return

[2020-04-03 15:17] petrelharp commented on #459
It seems maybe better to pass the species in to the generic model than just passing in generation time, since there may be other properties it'd be useful to get out of species in the future?

[2020-04-03 15:18] petrelharp commented on #458
Or, just a single function `.recapitate_and_rescale( )`?

[2020-04-03 15:18] andrewkern commented on #459
yes when we get to non-WF models all bets are off here and I think we should punt on those design choices at the moment.

[2020-04-03 17:43] jradrion opened #463 "error running AncientEurasia_9K19 with Q=100"
just trying to wrap my head around the behaviour of the  `slim-scaling-factor`; when I run the following command:

`stdpopsim -e slim --slim-scaling-factor 100 HomSap -c chr22 -g HapMapII_GRCh37 -d AncientEurasia_9K19 12 12 12 12 12 12 12 12`

I get the following error:

[code]
I'm assuming that this due to the `slim-scaling-factor` being too high, and not necessarily that it is simply greater tha

[2020-04-03 17:51] grahamgower commented on #463
If you run it with `-vv`, you'll get a listing of the slim callbacks as they happen.

[code]

Looks like population `p7` got too small. SLiM removes populations when they have zero size, hence the error.

[2020-04-03 18:10] jradrion commented on #463
Ahh, I see. Once again, thanks @grahamgower!

[2020-04-03 18:10] #463 closed

[2020-04-04 07:47] grahamgower opened #464 "different number of samples from slim and msprime engines"
SLiM simulates diploid individuals, so for a requested sample size `n`, this corresponds to `n/2` individuals; except when `n` is odd, `(n+1)/2` individuals are simulated instead because we can't simulate half an individual. Msprime simulates haploids, which don't explicitly correspond to individuals, so you get `n` haploids. See the examples below. I think this behaviour is correct, but possibly

[2020-04-04 14:26] petrelharp commented on #464
I think this is a good; but a warning would be a good idea.

[2020-04-04 17:15] petrelharp commented on #458
After we do this we should update the tutorial to give an example of how to do this.

[2020-04-04 17:16] petrelharp commented on #414
Hopefully, #460 fixes this? I'd appreciate someone looking at the big picture though.

[2020-04-04 17:17] petrelharp commented on #457
This will be closed by #460.

[2020-04-04 17:18] petrelharp commented on #456
If we just did a sanity check on the population sizes would that fix this problem? I'd say we should probably throw a warning if any pop sizes are smaller than 100, and an error if smaller than, say, 2? or, 10?

[2020-04-06 04:43] grahamgower opened #466 "add a `dryrun` flag to the slim script for unit testing the slim engine"
The generated SLiM script should check for this flag at the end of the first generation and exit if the flag is set. This flag may be set by stdpopsim unit tests for quickly checking the validity of the generated SLiM code.

[2020-04-06 11:18] jeromekelleher commented on #466
We already have a ``--dry-run`` option:

https://github.com/popsim-consortium/stdpopsim/blob/e3bc9a67c27551115894da039716f7db6353edbb/stdpopsim/cli.py#L344-L346

[2020-04-06 11:25] grahamgower commented on #466
Yep. I probably wont reuse the name `dryrun`. I was just using it here as a analogy with the existing flag. This can be implemented without exposing anything new to the CLI or the Python API.

[2020-04-06 11:26] grahamgower commented on #466
Although, maybe it should be connected to the `--dry-run` CLI parameter....?

[2020-04-06 11:47] jeromekelleher commented on #466
Might as well connect to the existing parameter unless it's doing something dramatically different, right?

[2020-04-06 13:20] agladstein commented on #414
I think it's improved in https://github.com/popsim-consortium/stdpopsim/pull/460, but still think it should be changed a bit.

I think it makes sense to have the overall structure:
- Running stdpopsim with the command-line interface (CLI)
- Running stdpopsim with the Python interface
- Example analyses with stdpopsim

[2020-04-06 14:20] agladstein commented on #415
I think we decided to hold off on this.

[2020-04-06 14:22] agladstein opened #467 "env broken"
Looks like maybe the environment is broken. Need to investigate.

I get an error when trying to use Slim
[code]

This is true for me both locally with pip install and in the binder, which uses the environment.yml

[2020-04-06 15:14] grahamgower commented on #467
Just when you use the slim engine? Can you post the error message you're getting?

The environment.yml file doesn't mention slim nor pyslim. Maybe these need to be added?

[2020-04-06 15:47] agladstein commented on #467
This is the error from Binder, which uses environment.yml.
[code]

Yes, I would think so.

When I install with dev instructions, looks like slim is an option, but it still doesn't work:
[code]

What is appveyor.yml? because, pslim is mentioned in there, but not in any of the requirements files in requirements directory.

[2020-04-06 16:09] jeromekelleher commented on #415
yes, closing for now.

[2020-04-06 16:09] #415 closed

[2020-04-06 16:12] jeromekelleher commented on #467
Appveyor.yml is the config file for our Windows CI testing. The environment is complicated because SLiM doesn't work on windows, so we have to make exceptions for it on the different platforms (annoyingly).

Probably the simplest thing is to add ``slim`` to the environment.yml file? Note pyslim isn't available on conda yet either and needs to be installed with pip.

[2020-04-06 16:20] agladstein commented on #467
Can someone add this to the installation section of the docs?

[2020-04-06 20:06] agladstein commented on #457
Should this be closed?

[2020-04-06 20:06] agladstein commented on #414
Reminder to add response to reviewers.

[2020-04-06 20:06] #414 closed

[2020-04-06 22:07] andrewkern commented on #457
closing

[2020-04-06 22:07] #457 closed

[2020-04-06 23:36] petrelharp opened #468 "readthedocs build failing due to prerequisites"
Here's what's going on: does anyone know how to fix this?
![Screenshot from 2020-04-06 16-35-38](https://user-images.githubusercontent.com/1046249/78614899-cb1c3280-7824-11ea-805a-eaea0a44cfc8.png)

It looks like it's [been failing for a while](https://readthedocs.org/projects/stdpopsim/builds/). The last passing commit was [this one](https://readthedocs.org/projects/stdpopsim/builds/), and the fi

[2020-04-06 23:49] petrelharp commented on #468
[The docs](https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html#use-pip-when-possible) suggest using `pip` instead of `conda`, but give no guidance on how to do this?

[2020-04-07 00:41] petrelharp commented on #468
Well, some flailing around over in #469 didn't get me anywhere. Switching to pip failed to install msprime because of not being able to find `gsl`. And we need to actually install stdpopsim for autodoc to work, and for stdpopsim we need msprime.

Not sure what to do: maybe whatever `msprime` does, but what's different about that is not clear to me.

[2020-04-07 07:15] jeromekelleher commented on #468
It used to work before, and I've been hoping it would sort itself out (you get a fair amount of transient failures with conda, unfortunately). We have to use conda because we want to run msprime. This is different to the docs for msprime because we don't actually need to run msprime there, and the low-level module is never built.

I don't really know how to fix this, other than try to figure out w

[2020-04-07 07:19] jeromekelleher commented on #468
I guess a place to start is to try and figure out why our conda env is using so much memory. One possibility is that we're not being specific enough with our versioning and the solver is doing lots of work because of this.

Would it be possible for a conda user to try out this command:
[code]

and report back on how much memory it uses please? We could then try pinning all the package versions and

[2020-04-07 07:35] grahamgower commented on #468
[code]
(`/usr/bin/time` has been patched on this system, and I have confirm the `maxresident` value is in the correct units)

[code]

[2020-04-07 07:38] jeromekelleher commented on #468
Thanks @grahamgower! So, is that ~650M max resident? Not a huge amount, but not small either I guess.

[2020-04-07 07:41] grahamgower commented on #468
Yeah, 650 mb doesn't seem high enough to cause failure to me. Here's the package list.
[code]

[2020-04-07 07:44] jeromekelleher commented on #468
Would you mind checking if that comes down at all if you pin each of our packages at these versions? It's plausible RTD has a 500M upper bound on memory.

[2020-04-07 07:45] grahamgower commented on #468
Do you mean just adding `==1.2.3` (or whatever) at the end of each line in `requirements/rtd-conda-environment.yml`?

[2020-04-07 07:51] grahamgower commented on #468
I just tried that and got basically the same result.
[code]

[2020-04-07 07:56] jeromekelleher commented on #468
Yes, that's what I meant, thanks @grahamgower. Well, I'm stumped then - any ideas?

[2020-04-07 08:00] grahamgower commented on #468
Pin everything (diff below)?
[code]

[code]

[2020-04-07 08:29] grahamgower commented on #468
How about doing the conda bits in separate stages? E.g. I tried:

[code]
And then
[code]

Sorry, I really don't understand the rtd and yml integration stuff enough to propose a diff.

[2020-04-07 08:30] grahamgower commented on #468
Of course, using older versions should also lower memory (e.g. due to fewer dependencies). So maybe pinning python 3.6 would be an even better starting point.

[2020-04-07 08:53] jeromekelleher commented on #468
Pinning python 3.6 is a good idea. It probably was when conda-forge added 3.8 that this started breaking... I'll try it out on @petrelharp's branch

[2020-04-07 10:13] jeromekelleher commented on #468
Well, I've tried all the combinations of  pinning package versions and we're still running out of memory. I don't really know what to do at this point. We can

- Ask RTD to increase our VM build size (2G is the maximum, apparently)
- Drop sphinxcontrib-programoutput and go back to the old non-conda way of doing it where we mock out msprime's compiled module.

Thoughts?

[2020-04-07 10:14] jeromekelleher commented on #468
Others have hit this problem, see eg https://github.com/readthedocs/readthedocs.org/issues/5328

[2020-04-07 10:16] grahamgower commented on #468
Can't we install a minimal conda (e.g. just python) and then install more packages in a separate step? That way the peak memory usage is ~ 320mb.

[2020-04-07 10:20] jeromekelleher commented on #468
You don't get much control with conda on rtd AFAIK, just the ability to specify the environment file: https://docs.readthedocs.io/en/stable/config-file/v2.html#conda

[2020-04-07 10:24] grahamgower commented on #468
Ok. What about installing a minimal conda with gsl (the bit that couldn't be pip installed successfully), and then pip installing the rest?

[2020-04-07 10:40] jeromekelleher commented on #468
Can you specify pip in the env file? It's one-or-the-other with RTD.

[2020-04-07 10:51] grahamgower commented on #468
No idea. But isn't that what is being done in the `environment.yml` file?

(To digress: I think there needs to be a list of all these `{environment,appveyor,.travis,requirements/rtd-conda-environment}.yml` files somewhere and a short note explaining what they each are for.)

[2020-04-07 11:58] jeromekelleher commented on #468
Yes, good call.

[2020-04-07 13:38] jeromekelleher commented on #468
OK, I've boiled it down to just installing the msprime package at a pinned version and it's still failing. I don't know WTF conda is doing to use so much memory here.

[2020-04-07 13:38] jeromekelleher commented on #468
Progress over in #470. Latest failure [here](https://readthedocs.org/api/v2/build/10784868.txt)

[2020-04-07 13:59] grahamgower commented on #468
In my offline tests, I noticed that if I called `conda env create` with stdpopsim's toplevel folder as my working directory, it seemed to parse the `environment.yml` file despite this not being explicitly used in the conda command. (I say "it seemed to" because I got a warning about "pip being used in the environment but not requested as a dependency", which went away when I called `conda env crea

[2020-04-07 14:26] grahamgower commented on #468
Maybe using a conda metachanel is a solution? https://github.com/regro/conda-metachannel

[2020-04-07 14:41] petrelharp commented on #468
I think it's time to email rtd or file an issue.

[2020-04-08 20:50] petrelharp commented on #468
Whoah I rebuilt it and it worked!!

[2020-04-09 00:22] andrewkern commented on #468
how?

[2020-04-09 02:04] petrelharp commented on #468
Well, @grahamgower pinned the sphinx version - maybe that fixed it - but also apparently RTD can be unpredictable that way - maybe I happened to click at a low-load time.

[2020-04-09 08:26] jeromekelleher commented on #468
Yep, it's [working now](https://readthedocs.org/projects/stdpopsim/builds/10795887/). I'm guessing RTD must have increased our memory limit - we tried pinning all sorts of stuff in #518 and nothing worked. Hopefully this will stick!

[2020-04-14 16:43] petrelharp commented on #162
This would be nice to do before the paper comes out - even a sketchy version. Who knows how to do this - @ndukler? @ckyriazis? @grahamgower @apragsdale? Any volunteers?

[2020-04-14 19:57] apragsdale commented on #162
I pick this up over the next few days.

[2020-04-14 20:02] agladstein commented on #162
And I can definitely review to see if it makes sense.

[2020-04-16 17:25] grahamgower commented on #458
I think #460 and #465 have covered this. Can it be closed?

[2020-04-17 06:00] grahamgower opened #473 "Behaviour of `-v`, `-q`, and the use of print(), logging or warnings"
I think there's some room for confusion regarding the `-v` and `-q` CLI parameters. And it would also be nice to have a policy/guidelines on the use of `print()`, `logging`, or `warnings` in different cases. Without a clear policy, these are likely to become less coherent over time when more terminal messages get added.

At the CLI, one can request verbose output by using `-v`/`--verbosity` before

[2020-04-17 07:33] jeromekelleher commented on #473
Yep, good call. Perhaps we should use logging for everything? It's the only way to have consistent behaviour I think.

[2020-04-17 07:51] grahamgower commented on #473
I do like the idea of setting `logger.captureWarnings(True)`. Maybe we could also tweak the LOG_FORMAT though? For `write_simulation_summary()` and `write_citations()` I don't think we'll want anything prepended to the output.

[2020-04-17 07:55] jeromekelleher commented on #473
Sure, tweak away. Consider the current log format an early proposal.

[2020-04-17 08:57] #464 closed

[2020-04-17 15:04] #466 closed

[2020-04-17 17:35] #458 closed

[2020-04-18 19:38] petrelharp opened #479 "Expand generic models (eg, stepping stone model)"
A reviewer suggested we do this, and I don't think we have to do it before resubmitting, but it'd be a good thing to do.

[2020-04-18 21:40] petrelharp opened #480 "Add a section to the docs on "adding to stdpopsim""
It'd be nice to collect all these things in one place? Right now we only have a section on adding demographic models under Development, I think.  Other topics include:

- adding a new species
- adding a new recombination map
- adding a new generic model
- writing tests for new additions.

Even short checklists would be helpful.

[2020-04-18 21:45] petrelharp opened #481 "make section on generic models in the catalog?"
A reviewer suggests that

I think this is a good idea: any objections?

[2020-04-18 23:43] apragsdale commented on #480
This evening I've been working on a section "Adding a new demographic model" (see #162) that for now I've slotted between the GitHub workflow and Model review process sections in the development docs. It does make sense to have all the different ways of contributing collected together in there.

We could even add

- adding to/improving the existing documentation

to that list :)

[2020-04-20 14:46] jeromekelleher commented on #481
We went back and forth on this. We ended up putting the Zigzag in under humans as that was how it was originally defined. I don't have a strong opinion either way.

[2020-04-21 07:16] #459 closed

[2020-04-21 07:29] jeromekelleher commented on #468
And this is [failing again](https://readthedocs.org/projects/stdpopsim/builds/10879949/). Sigh.

[2020-04-21 07:39] jeromekelleher commented on #468
Trying to figure out what the correct channel to ask for more memory is. refs

https://github.com/readthedocs/readthedocs.org/issues/4573
https://github.com/readthedocs/readthedocs.org/issues/5215
https://github.com/readthedocs/readthedocs.org/issues/6446

It looks like they do have a way of running these high-resource builds, but there's no documented way of applying for it.

I think the path of

[2020-04-21 08:30] grahamgower commented on #456
I've added warnings and errors with #478. The warning applies to fewer than 50 diploid individuals, and an error is raised if the population size will become zero. Similarly, a sample size cannot be requested that is larger than the population size at the time of sampling.

@petrelharp, do you think there's anything to be done about memory consumption? I guess tuning the `simplificationInterval` i

[2020-04-21 16:53] petrelharp commented on #456
Yes, but not here. It's possible that a different simplificationInterval scheme would be better, but I don't know what it is, and if anyone does figure it out then we should get it into SLiM itself.  (The biggest thing I'm aware of to decrease memory consumption involves changing the tree sequence recording code so it doesn't have to sort the tables and thus make a copy of them, but that'll be a b

[2020-04-22 06:11] grahamgower opened #484 "Steal sphinx configuration ideas from python.org"
I've noticed that on python.org, code blocks often have a ">>>" button which toggles visibility of the interactive prompt (e.g. see code blocks [here](https://docs.python.org/3/tutorial/introduction.html#numbers)). As far as I can tell, python.org are just using sphinx like we are, so there must be a way to configure this. So far I didn't stumble upon the correct search terms to figure it out, so

[2020-04-22 07:02] grahamgower commented on #484
The `>>>` button for code blocks is part of https://github.com/python/python-docs-theme. The easiest way for us to get it, would be to use this theme (it's an additional dependency, but only for developers and rtd). Alternately, the relevant code is a short [javascript file](https://github.com/python/python-docs-theme/blob/master/python_docs_theme/static/copybutton.js) that could be copied into ou

[2020-04-22 07:48] grahamgower commented on #468
This stuff is all still very confusing to me (mostly due to lack of documentation from rtd regarding, well, anything), but I've been looking through @petrelharp's attempt to switch from conda to pip. I think this is on the right track. The changes [here](https://github.com/popsim-consortium/stdpopsim/pull/469/files/f845b4e6f566a73c6cb3da1a689dfa661e9f22b4..5b1ba9fc3324e70f002e0f4488f57e5bfcd35812)

[2020-04-22 08:42] jeromekelleher commented on #468
Building a manylinux binary wheel for msprime sounds easier than working around the lack of GSL on RTD to be honest @grahamgower - I've spent a fair bit of time fiddling with this in the past.

@molpopgen, you've been through the wars here - any thoughts?

[2020-04-22 08:51] #473 closed

[2020-04-22 08:54] jeromekelleher commented on #484
It's a nice feature, but I quite like the rtd theme and I'm sure the catalog rendering would break under a different theme.

Since we're removing the ``>>>`` bits anyway, is there much to be gained?

[2020-04-22 08:59] grahamgower commented on #484
I think the `>>>` aids readability. But not being able to copy/paste is a total pain. I can see other projects that have cake and are eating it too, which gives me cake envy!

I found this too:
https://github.com/readthedocs/sphinx_rtd_theme/issues/167
So it should be workable by copy/pasting the `copybutton.js` and adding a line or two into `conf.py`.

[2020-04-22 09:24] grahamgower commented on #484
Minimal working diff below. I only tried converting one of the examples in `tutorial.rst`, but it works splendidly.
[code]

[2020-04-22 10:15] grahamgower commented on #456
Ok, thanks @petrelharp. I'm happy that any simplificationInterval changes are outside the scope of stdpopsim. #478 has been merged, so I'm going to close this.

[2020-04-22 10:15] #456 closed

[2020-04-22 10:17] grahamgower commented on #265
Resolved with #478.

[2020-04-22 10:17] #265 closed

[2020-04-22 11:08] grahamgower commented on #260
Was an issue opened for this on the msprime repo? I don't see anything obvious there.

I'd like to close this issue if the fix is going to happen in an external repository.

[2020-04-22 13:03] molpopgen commented on #468
That was my issue that @grahamgower linked to in fact....

The out of memory thing has two causes:  one is that using conda to install dependencies takes a good bit of RAM, and more dependencies means more RAM.  The second cause is random-ish, and due to issues in the RTD infrastructure, some of which have been fixed recently.  The randomness is why @petrelharp was able to manually rebuild and it

[2020-04-22 14:33] jeromekelleher commented on #260
No, I don't think we did. @apragsdale, would you mind following this up and creating an issue on msprime please?

[2020-04-22 14:37] jeromekelleher commented on #468
I think there's been some recent improvements in wheel infrastructure that make putting libraries into the wheel more feasible. I haven't kept up though, and this is a discussion for the msprime repo really. It would be a nice thing to do for 1.0 though, would really help people with installation problems (even if it is inherently icky).

[2020-04-22 14:44] grahamgower commented on #468
According to the [rtd docs](https://docs.readthedocs.io/en/stable/builds.html), they currently have a 1 GB limit. I note that the most recent rtd build passed, so the previous failure must have been a transient one. I think we will continue to experience random failures, because conda's memory usage is non-deterministic. Eg. I just tried `for i in $(seq 5) ; do /usr/bin/time conda env create -n fo

[2020-04-22 15:11] molpopgen commented on #468
This is a good idea.  Try pulling in the conda gcc alias instead of a specific version, too.  See here: https://docs.conda.io/projects/conda-build/en/latest/resources/compiler-tools.html

[2020-04-22 15:57] jeromekelleher commented on #468
Would you mind doing a PR for your changes @grahamgower? We can merge and try it out for a bit. Since the failures are transient this might do the trick.

[2020-04-22 17:45] jeromekelleher commented on #468
#485 and #486 seem to have fixed things for now. Let's see how it goes.

[2020-04-22 17:45] #468 closed

[2020-04-22 17:57] apragsdale commented on #260
Yes, really sorry, I had forgotten about this whole thing... I think I wrote up some function in the DemoraphyDebugger to return whether lineages can be found in each deme during epochs defined by times of events from the list of `demographic_events`. I'll try to find that code and open a PR in the msprime repo now.

[2020-04-22 18:18] grahamgower commented on #468
If problems remain, one last thing we could try is detecting installation from rtd in the `setup.py` (e.g.  `"readthedocs.org" in os.getcwd()`) and in this case add `"sphinx-argparse", sphinx-issues", "sphinxcontrib-programoutput"` to `install_requires`. Then we could get away with not having conda install python at all, saving around 200 MB ram. Its nasty, but should work.

[2020-04-22 22:47] apragsdale commented on #260
Ok, took a stab at this.. This feature of the DemographyDebugger is in this PR (https://github.com/tskit-dev/msprime/pull/969#issue-407583630).

Let me know what you think, or if it needs something different (or if there are mistakes).

[2020-04-23 16:08] agladstein commented on #481
there is this hanging PR https://github.com/popsim-consortium/stdpopsim/pull/351

[2020-04-23 16:12] agladstein commented on #480
I think that's a good idea.

[2020-04-23 16:27] agladstein commented on #162
I believe this can be closed now by the PR https://github.com/popsim-consortium/stdpopsim/pull/482

I'm going to try adding a new model according to these directions! So, I may also make a PR to edit the directions a bit or make an issue with some questions.

[2020-04-23 16:27] #162 closed

[2020-04-23 16:35] agladstein opened #488 "github alerts"
Hey, I'm just wondering if anyone knows if there is a way to get alerts from GitHub of certain types of issues.
For example, say you are a new person and want to get involved, can you set it up so you get a ping every time there is an issue tagged as "good first issue".
Or say you want to be active in the model QC processes, can you get a ping every time there is a new model issue?
I know you can

[2020-04-23 16:53] jeromekelleher commented on #488
Good idea, but no, I don't know. You can filter things a bit, but not that level of granularity AFAIK

[2020-04-23 17:20] agladstein commented on #488
If there is a way to do this, we should add it to the docs. I'll do a little bit of digging on this. Would be nice...

If not, MAYBE we could have a list somewhere of community members who want to pinged for certain things, that you can add yourself to and take off of. That way when someone makes an issue or PR they have an idea of who to ping (if anyone wants to be pinged). That may be a good use

[2020-04-23 18:47] #454 closed

[2020-04-24 10:08] #451 closed

[2020-04-24 14:29] grahamgower commented on #451
I'm not sure. I guess as long as it gets tracked through the doi it won't matter much either away. What do others think?

[2020-04-24 20:41] agladstein opened #491 "questions on adding new model"
Partly because I want to check that the adding new model docs make sense, and partly because I want to add a model, I'm trying to add a model.

One thing that I'm confused about is once I've written a demographic model function, how is it incorporated into `stdpopsim`?  Do I need to build something or??

I've added a function to the `stdpopsim/catalog/homo_sapiens.py`, but the new model I've added

[2020-04-24 20:57] agladstein commented on #491
I also don't understand how to write the unit test. Where does it go? What does it entail?

[2020-04-25 13:59] grahamgower commented on #491
After defining your model function, there needs to be a call like `_species.add_demographic_model(_your_model_func_here())`. This registers your model in the catalog for the `_species` defined in that catalog file. The `_species` is defined towards the top of the file. In case you've already done this, and it's still not showing up, then maybe it's easiest if you just open a PR with your current c

[2020-04-25 14:02] grahamgower opened #492 "HomSap/OutOfAfrica_3G09 needs QCing"
Someone this model has not yet been QCed!

[2020-04-25 14:04] grahamgower opened #493 "HomSap/Zigzag_1S14 needs QCing"
...

[2020-04-26 19:51] agladstein commented on #491
I added a draft PR. Can you take a look and let me know what I'm missing?

[2020-04-26 19:55] agladstein opened #495 "Clarify/varify adding model docs"
https://github.com/popsim-consortium/stdpopsim/pull/482 made good progress on Adding Model docs. I'm working on adding a new model now and adding to the docs what I think needs to be clarified.

Related to https://github.com/popsim-consortium/stdpopsim/issues/491

[2020-04-26 19:58] agladstein commented on #305
Any idea on what the timeframe of this is? I was confused about the model testing - not much is currently written in the docs about it (from https://github.com/popsim-consortium/stdpopsim/pull/482)

I'm just wondering if I should elaborate on what the current process is for https://github.com/popsim-consortium/stdpopsim/issues/495, or if it makes more sense to wait for this issue to be sorted out.

[2020-04-26 22:39] apragsdale commented on #492
Surprising that this wasn't QC'd at any point.. I can pretty quickly get PRs for this QC and the ZigZag model (#493) as PRs.

[2020-04-27 05:02] grahamgower commented on #305
I don't think it will be too much work, so I'll try to get a PR submitted for this issue by the end of the week.

[2020-04-27 05:36] grahamgower commented on #491
Another thing that could cause this, is if the changes aren't propagated to where `import stdpopsim` is importing from. E.g. you have stdpopsim installed via pip, so that gets imported rather than the stdpopsim in your cloned git repository. The dev docs suggest using a virtual environment. https://stdpopsim.readthedocs.io/en/latest/development.html#using-a-virtual-environment

Maybe you can check

[2020-04-27 14:37] agladstein commented on #491
Okay, I was already in a virtual environment that I had made following the [docs](https://stdpopsim.readthedocs.io/en/latest/development.html#using-a-virtual-environment), but I guess I needed to install it again after making changes. I just did
[code]
and now it works.

So, does that sound right? In order to get imports to work from any changes to functions/modules you need to install in the dev

[2020-04-27 14:49] grahamgower commented on #491
Doesn't that just install the dependencies, not the (stdpopsim) package itself? I don't do dev work in a virtual environment, so really don't really know what's going on here. But if it works now, great!

[2020-04-27 15:03] agladstein commented on #491
I have no idea... but those virtual env instructions don't say anything else about installing stdpopsim package... so, it must?

Does anyone else know? @jeromekelleher @apragsdale @petrelharp
This should be a reproducible process. I think we can assume that people submitting models aren't going to be pip/python packaging experts.

[2020-04-27 15:17] petrelharp commented on #491
I am not (yet?) a virtual environment person either. @jradrion?

[2020-04-27 18:47] jradrion commented on #491
I would think you'd need to reinstall `stdpopsim` via either `python setup.py install` or `python setup.py develop --user` in your cloned directory to get your changes to work regardless of whether you are using a virtual environment or not. If you had previously installed `stdpopsim` via pip you might want to uninstall via pip first.

`python3 -m pip install -r requirements/development.txt`
shoul

[2020-04-27 19:47] apragsdale opened #497 "Only run slim tests if installed"
What do people think about setting a flag for running the tests to _not_ test the slim engine if slim is not installed? Maybe something in `test_slim_engine.py` that tries to import slim/pyslim and skips those tests if failed, or alternatively have a flag that runs tests as normal using `python3 -m nose tests` but skips slim tests if we run `python3 -m nose tests --no_slim`.

[2020-04-28 02:58] agladstein commented on #491
At least in the virtual environment, I think that you do not need to do `python setup.py install` or `python setup.py develop --user` to get your changes to work. It should happen automatically because in the dev environment, you should just be using the source code directly not a package.

I think my environment was messed up because I had previous installed `stdpopsim`. Deleting the virtual env

[2020-04-28 06:02] grahamgower commented on #497
Hmm... I'm not sure about that. Is it a problem to have slim as a developer requirement? And the failing tests just add noise, right?

[2020-04-28 07:24] apragsdale commented on #497
I suppose that's not a problem. It should probably be in the requirements.txt file in that case. If you don't have slim installed though, there is a lot of scrolling and flipping through pages of failed tests to check by eye that there are no non-slim failures.

[2020-04-28 07:44] grahamgower opened #499 "Add warning when using a non-QCed model"
#496 has shown that we really can't trust non-QCed models. So we definitely want a *caveat emptor*-type warning if a user runs a model before it get's QCed. Related to #304 and #305.

[2020-04-28 07:53] grahamgower commented on #491
Also beware that the current working directory will be in the Python import path. So if you open an interactive python session (or run a script) while in the top-level folder of the cloned repository, then the you'll import the package from your currently checked out branch. Whenever I have any uncertainty, I find the easiest thing to do is check the location of the import'd package in an interact

[2020-04-28 15:53] apragsdale commented on #497
Is there a problem with adding slim to the required packages in `development.txt`, as in here: #500?

[2020-04-28 18:55] agladstein commented on #488
Should look into new notifications view with filtering.

[2020-04-28 18:59] agladstein opened #501 "how to implement models that have different species parameters"
In general how should we deal with published models that have parameter estimates that do not match up with species values in stdpopsim.

Concrete example is mutation rate. Parameters in paper could be inferred with a different mutation rate than is used in stdpopsim. mutation rate can effect time estimates and other parameters.

[2020-04-28 19:13] apragsdale commented on #501
I agree with the general idea from the call that demographic parameters, if given in physical units in the published paper, should be implemented exactly as reported (as in, we do not do any rescaling). Any rescaling we do I think would just cause confusion for users ("why don't the model parameters match what I expect from the paper??") and issues with backward compatibility if we update a specie

[2020-04-28 19:58] agladstein commented on #501
I like option 2.

[2020-04-29 01:27] apragsdale commented on #342
Picking this back up -- I'd like to get the Pongo species(es) sorted out (and finally resolve PR #363), including getting the two recombination maps cached in our map repository.

Do we now have an independent location to store recombination maps (did this get resolved in #335), and is there information about what format these need to be in? Even if the storage isn't sorted out yet, I can reformat

[2020-04-29 05:37] grahamgower commented on #342
I don't know about the repository, but the file format is described here: https://msprime.readthedocs.io/en/stable/api.html#msprime.RecombinationMap.read_hapmap

[2020-04-29 13:25] jeromekelleher commented on #497
Slim is awkward here @apragsdale as it's not a Python package. We can't really automate installing it in general, I'm afraid (or at least, we most definitely don't want to try!).

I'm not overly keen on making the unit tests conditional on SLiM being installed. It would be very easy to make a mistake in CI configuration and then to discover that the SLiM tests hadn't been running for 6 months.

It

[2020-04-29 16:12] #491 closed

[2020-04-29 16:16] agladstein opened #503 "parameter priors in demographic models"
Any thoughts on adding a new feature that defines demographic models with priors instead of parameter estimates? This would help with reproducing studies that priors for simulations.

[2020-04-29 16:25] apragsdale commented on #497
Understood. Yeah, it's not ideal and a bit annoying, since it's in external package that has to be installed and maintained separately (and might not even ever be used by some developer/user, except for running the tests), but that's a good point about the CI configuration.

I think I had just tested that pull request using `conda`, so didn't realize it wouldn't be on pypi. Gonna close this then.

[2020-04-29 16:25] #497 closed

[2020-04-29 18:02] #495 closed

[2020-04-30 07:11] grahamgower opened #505 "add a section in the docs about CI and RTD integration"
There's lots of continuous integration (CI) bits. It would be useful to have a couple of paragraphs in the docs abut this stuff. Readthedocs (RTD) isn't CI, but it would be reasonable to to include it as well, given how it's integrated with the repository. Things to mention include:
 * which services are being used.
 * how they differ from each other (and/or what they test)
 * how they're configur

[2020-04-30 08:12] jeromekelleher commented on #503
I can imagine defining a distribution for each of the parameters in the models, which we then sample from when running simulations. Would this do it?

[2020-04-30 09:54] grahamgower commented on #503
I think this is a duplicate of #299.

[2020-04-30 10:00] jeromekelleher commented on #503
Agreed.

[2020-04-30 10:00] #503 closed

[2020-04-30 10:16] grahamgower commented on #335
Hey @ndukler, @andrewkern, can either of you give an update about this? @apragsdale needs to upload the Pongo map files somewhere so we can merge #363.

[2020-04-30 14:03] agladstein commented on #212
What do you mean?

[2020-04-30 14:15] agladstein opened #506 "QC issue format docs"
I think it'd be helpful for new model contributors to have a fill in the blank form on the docs for what the model QC issue. Right now, [docs](https://stdpopsim.readthedocs.io/en/latest/development.html#demographic-model-review-process) are a bit loose on this.

I'll make a PR based on the model QC issues that have been submitted.

[2020-04-30 14:41] agladstein commented on #506
Can someone with permission create a "model QC" label? Thanks!
Then we can label model QC issues and filter them!

And, if we do that, we can have a model QC issue template! I think that's the way to go!

https://help.github.com/en/github/managing-your-work-on-github/creating-a-label
https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

@jer

[2020-04-30 14:53] jeromekelleher commented on #506
Done! Great idea for Model QC template - want to have a go? You should be able to just create them and open a PR.

[2020-04-30 14:53] jeromekelleher commented on #506
How's the colo(u)r for the "Model QC" label? Feel free to suggest another.

[2020-04-30 15:06] agladstein commented on #506
LGTM :)

I don't think I have permission to. I don't have the settings option
<img width="1257" alt="Screen Shot 2020-04-30 at 11 01 21 AM" src="https://user-images.githubusercontent.com/26617086/80726425-5b6f2f80-8ad2-11ea-9a1a-21c7b2b4451a.png">

But, I was thinking something like this (that's what I was going to put in the docs):

**Issue Title:**
[code]
**Issue comment:**
[code]

[2020-04-30 15:10] agladstein commented on #506
speaking of permissions... you could give me permission real quick while I do that and then take it away haha
Or someone else can spend 5 min doing that.

[2020-04-30 16:13] #492 closed

[2020-04-30 20:36] #493 closed

[2020-04-30 21:01] agladstein commented on #506
Okay, see about https://github.com/popsim-consortium/stdpopsim/pull/507!

[2020-05-01 07:48] jeromekelleher commented on #506
Merged - how does it look?

[2020-05-01 14:56] agladstein commented on #506
Seems good to me.
Now if you click "New Issue", you'll see an option for a Model QC template issue.
Someone else should see what they think. maybe @apragsdale @gtsambos @ndukler?

[2020-05-01 16:22] jeromekelleher commented on #506
Cool!

[2020-05-01 18:43] agladstein opened #510 "issue templates"
Any other issue templates we want to include?
So far we have
- Model QC https://github.com/popsim-consortium/stdpopsim/pull/507
- bug report https://github.com/popsim-consortium/stdpopsim/pull/509

Feature request?
maybe something like usage help? for when someone is having issues using stdpopsim, but it's not necessarily a bug.

[2020-05-01 19:00] agladstein opened #511 "QC for AshkSub_7G19 (human)"
**PR for new model:** https://github.com/popsim-consortium/stdpopsim/pull/494
**Original paper:** https://doi.org/10.1093/molbev/msz047
**Parameter values:** Supp Table S3 and Supp Fig S3 of Gladstein and Hammer 2019
**Population indices:** `YRI, CHB, CEU, M, J, WA, EA = 0, 1, 2, 3, 4, 5, 6`

**Potential issues that might lead to differences between the model implementations:**
The model parameter

[2020-05-01 19:28] petrelharp commented on #510
There is a feature request in #509 also.

[2020-05-01 20:18] agladstein commented on #510
Oh great! I didn't notice.

[2020-05-01 21:43] eps28 opened #512 "SLiM engine"
Hi, I've been using SLiM through the SLiMgui but I'm now looking to take advantage of the demographic models already implemented in stdpopsim. I have tried to run stdpopsim with the SLiM engine both from the command line and Python interface but can't get it to work. I keep getting the error that SLiM is not a valid choice of engine and that I should be using msprime instead. If there's any guidan

[2020-05-01 22:18] petrelharp commented on #512
Hm, sorry to hear it is giving you trouble. Could you post which version of stdpopsim you are using (with `stdpopsim.__version__`), the code you ran, and the error?

[2020-05-01 23:08] eps28 commented on #512
Thanks for getting back so quickly,
I am using version 0.1.1
Using Python interface:
Code:

Error message:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Applications/anaconda3/lib/python3.7/site-packages/stdpopsim/engines.py", line 27, in get_engine
    raise ValueError(f"Simulation engine '{id}' not registered")
ValueError: Simulation engine 'slim' not register

[2020-05-02 07:03] grahamgower commented on #512
Hi @eps28, thanks for your interest in using stdpopsim with the slim engine! The slim engine has only recently been integrated into stdpopsim, and has not yet made it's way into a stdpopsim release (0.1.1 is the latest released version). So right now your choices are, either to wait for the next release, or [use the development version from the git repository](https://stdpopsim.readthedocs.io/en/l

[2020-05-02 18:05] grahamgower commented on #499
We should also have a warning in the catalog docs for non-QCed models. Actually, the developer docs regarding the QC process currently implies: non-QCed models are not connected to the CLI, and don't appear in the catalog documentation. This is clearly not the case. I don't think it's necessary for the non-QCed models to be avoided in the CLI or the catalog docs, but wanted to check in case others

[2020-05-04 07:38] jeromekelleher commented on #510
I think 3 is probably good? We don't want people opening "general support query" issues, and I think bug report and feature request probably cover things we want on the issue tracker.

[2020-05-04 13:55] #510 closed

[2020-05-04 18:41] grahamgower commented on #512
I'm going to close this issue, @eps28. Feel free to reopen it if you don't feel that this has been resolved.

[2020-05-04 18:41] #512 closed

[2020-05-05 00:43] apragsdale commented on #335
Just to bump this again, is there any news about recombination map storage? Otherwise, would I be able to get some maps uploaded to their current location for the time being?

[2020-05-05 00:54] ndukler commented on #335
Apologies for missing the earlier message. It is in fact all up and we should work on transitioning the code over to use the new storage. To see the  documentation go [here](https://registry.opendata.aws/) and search stdpopsim. That being said I think @andrewkern would have to upload the new data although I could do it if he hasn't changed the credentials.

[2020-05-05 01:07] ndukler commented on #335
Ok, I still have access and can add it in if you send me the file. I'll set aside tomorrow for working on this and the other stdpopsim stuff I've dropped.

[2020-05-05 01:10] ndukler commented on #335
@jeromekelleher Do you just want the URLs or do we want to use the BOTO package for handling downloads from the S3 bucket?

[2020-05-05 02:03] apragsdale commented on #335
Awesome, thanks @ndukler! They aren't too large, but about 200 Mb combined. I'll put them in a dropbox folder I can share with you, if that works. Really appreciate it, and let me know if I can help in any other way with it.

[2020-05-05 07:31] jeromekelleher commented on #335
I'd prefer to do plain https downloads if we can. Let me know when you've uploaded the files and I'll take a look to see what we can do. (Better to minimise the number of dependencies, if we can.)

[2020-05-05 13:57] andrewkern commented on #335
@ndukler do you need me to do uploads? i can do this today

[2020-05-05 14:11] ndukler commented on #335
I can do it @andrewkern :)

[2020-05-05 16:25] jeromekelleher opened #515 "``download-genetic-maps`` cli broken"
[code]

[2020-05-05 16:49] jeromekelleher commented on #515
I was going to sort this one out quickly @grahamgower, but it's not obvious how to fix it now that I look. We can add a ``--quiet`` flag at the top level parser (but it's not obvious how this maps to the current quiet/verbose semantics). As I looked at it it's not really clear to me what the quiet/verbose semantics actually are right now.

What do you think we should do here?

[2020-05-06 06:21] grahamgower commented on #515
At the moment, we have -v at the toplevel and -q on the subparser, and the two are not interchangable. Should we just add --verbose and --quiet to the toplevel parser and all subparsers, to cover every combination? That seems messy, but I'm not sure there's another solution which also maintains backwards compatibility.

[2020-05-06 06:23] grahamgower commented on #515
Stackoverflow, you life saver... :) https://stackoverflow.com/questions/46962065/add-top-level-argparse-arguments-after-subparser-args

[2020-05-06 08:06] jeromekelleher commented on #515
I think it's probably simpler to put -q and -v as top-level options, with the following interpretation. We have a ``verbosity`` variable that defaults to 1. Adding a "-v" increments that. Setting "-q" (which is mutually exclusive to "-v") sets ``verbosity`` = 0.

Verbosity = 0 means : Log level = ERROR
Verbosity = 1 means : Log level = WARNING
Verbosity = 2 means : Log level = INFO
Verbosity = 3 m

[2020-05-06 09:18] grahamgower commented on #515
That sounds very reasonable. Currently it's possible to simultaneously use -v and -q; are you suggesting to "fix" that in a backwards-incompatible manner? (if so, I vote yes to that change)

[2020-05-06 09:19] grahamgower commented on #515
Also, the docs probably use -v as a subcommand parameter.

[2020-05-06 09:52] jeromekelleher commented on #515
Yes, let's make these breaking changes while we can.

[2020-05-06 14:39] apragsdale commented on #354
Fixed with #363.

[2020-05-06 14:39] #354 closed

[2020-05-06 14:39] apragsdale commented on #342
Maps now included from PR #363

[2020-05-06 14:39] #342 closed

[2020-05-06 14:40] apragsdale commented on #335
Is this all sorted now, and can be closed?

[2020-05-06 15:12] jeromekelleher commented on #335
I think we can. We need some documentation on how this process actually works though - @ndukler, could you update the dev docs with a short section on how someone goes about uploading these maps? I think our bus-factor is quite high at the moment on this one!

[2020-05-06 17:11] ndukler opened #516 "URGENT: Non zero migration rates after population merges"
The issue that was brought up in #496 with regard to non-zero migration rates after population mass migrations is in other models as well. It wasn't caught by QC because it wasn't understood to make a difference. I'm fixing this now in the production models but someone else will have to fix the QC models

[2020-05-06 17:18] apragsdale commented on #516
Oh no! Good catch, and I'm glad you thought to look at the other models for this issue. That hadn't occurred to me. I'll have a close look through the QC models to independently try to find any with this problem.

[2020-05-06 17:24] ndukler commented on #516
So far I have only seen it once so fingers crossed. I think it's actually one of mine ...

[2020-05-06 17:37] ndukler commented on #335
Uh right now the process is send the maps to Andy or I and we click buttons and drag and drop into AWS. The problem is that this requires private credentials so it's not really something that can be done by the general developer base. Also, on the note of updating the devdocs I think we also need to update the QC section to remove the bits about the CLI and add a bit about the automated testing?

[2020-05-06 17:39] andrewkern commented on #335
this is less than ideal...

[2020-05-06 18:15] petrelharp commented on #335
We can at least say that "Andy Kern needs to do this"?

[2020-05-06 18:16] petrelharp commented on #516
Ack!! Good catch!

[2020-05-06 18:22] jeromekelleher commented on #516
Jeez, good catch @ndukler!

[2020-05-06 18:39] jeromekelleher commented on #335
+1 on what Peter says - it doesn't have to be ideal, we just need to document what we actually do.

Yes, good call - can you open an issue to track please?

[2020-05-07 07:21] #305 closed

[2020-05-07 07:23] grahamgower commented on #335
This was updated as part of #513. If there's anything still outstanding, please open a new issue.

[2020-05-08 14:24] ndukler commented on #516
Did you finish your sweep of the QC models @apragsdale? If you did, I'll submit my fix and we can compare.

[2020-05-08 14:33] apragsdale commented on #516
I have not. I'll do that this afternoon.

[2020-05-08 15:44] ndukler opened #517 "Update devdocs to detail data upload to AWS"
What the title says. (Reminder to self to do this)

[2020-05-08 16:57] apragsdale opened #518 "Tests no longer pass with msprime update"
There was a recent change (this week) to msprime dev branch that removes an argument to `get_ll_representation` (this commit: https://github.com/tskit-dev/msprime/commit/cd522e3361d21a93d7ed6c8323a8dbb065630481#diff-3af8c5bda4976d0bd25e9e5754497a74). This now breaks the tests, so that all model equivalency tests fail with `TypeError: get_ll_representation() takes 1 positional argument but 2 were g

[2020-05-08 17:07] apragsdale opened #519 "Inaccurate parameterization of the Browning America model"
Demographic events in the Browning model have timings that are are artificially offset (T_event+0.0001, T_event+0.0002, etc), which I don't think is correct. If this is to ensure that events occur in a specific order, that should be handled just by the order of events in the `demographic_events` list.

[2020-05-08 17:08] petrelharp commented on #518
Recording somehow which version(s) of software this works with should do it?

[2020-05-08 17:23] apragsdale commented on #518
I guess more generally (for example when msprime 1.0 is released), do we just wait to see what breaks and fix it then? Just wondering if there is a plan in place to stay on top of updates.

[2020-05-08 17:26] apragsdale commented on #516
Ok, I only found one other case of old migration rates not being set to zero, in the homo sapiens Tennessen 2 pop. If you want to submit your fix, we can make sure that everything lines up now.

[2020-05-08 17:29] petrelharp commented on #516
Are any of the other models in the paper affected?

[2020-05-08 17:31] apragsdale commented on #516
I don't believe so.

[2020-05-08 17:43] ndukler commented on #516
I found the same

[2020-05-08 17:51] ndukler commented on #519
Yeah, we ran through this when it was first implemented. The reason that we did it this way was that this was how the model was implemented in the original paper and we wanted to be as faithful to that as possible. See discussion in #62 .

[2020-05-08 18:01] apragsdale commented on #519
Oh weird! I thought we added that.. ok, going to close this then, sorry about that.

[2020-05-08 18:01] #519 closed

[2020-05-09 09:27] grahamgower commented on #518
We'll likely move to depending on `msprime >= 1.0` shortly after 1.0 is released, because there are some new features that we want to make use of (notably to resolve issues #260, #401, and #441). The simplest scenario is that stdpopsim releases before msprime 1.0 is released will only require msprime 0.7.4, and stdpopsim releases afterwards will require msprime 1.0.

I think we should make a best

[2020-05-09 14:58] grahamgower commented on #410
Well, travis is still not playing ball. Clicking through to the [travis builds](https://travis-ci.org/github/popsim-consortium/stdpopsim) shows successes, but the badge still is unknown.  @jeromekelleher, maybe there's something in your travis dashboard that needs poking, as per:
https://stackoverflow.com/a/48632145

[2020-05-11 09:41] #306 closed

[2020-05-11 09:55] jeromekelleher commented on #516
Great work guys, thanks for going through this. Can we close this issue now?

[2020-05-11 09:59] jeromekelleher commented on #518
I hadn't realised that stdpopsim was using these internal msprime APIs. Hmm.

[2020-05-11 10:06] jeromekelleher commented on #518
Great catch @apragsdale, I think it's probably simplest to change this on the msprime side. I forgot that we were using these msprime APIs here when I was refactoring.

[2020-05-11 10:11] jeromekelleher commented on #410
Thanks @grahamgower. Fixed now, I just needed to turn on the branch builds.

[2020-05-11 10:11] #410 closed

[2020-05-11 10:21] #499 closed

[2020-05-11 12:58] ndukler commented on #516
Sure

[2020-05-11 14:10] #516 closed

[2020-05-11 14:24] petrelharp commented on #518
If they're internal (which is what I thought?) then we shouldn't be using them?

[2020-05-11 14:39] jeromekelleher commented on #518
We're using them for the tricky problem of comparing models to each other, which is core functionality for QC. Probably this should be brought into msprime, removing the need to write this trick code in stdpopsim (and hence having to much about with low-level stuff like this).

[2020-05-12 17:08] grahamgower commented on #204
Was this fully taken care of in #429? Can it be closed now?

[2020-05-12 17:09] grahamgower commented on #385
Definitely one for after the next release. Be great to get @andrewkern working on it!

[2020-05-12 17:12] jeromekelleher commented on #385
Agreed - I've created the 0.1.3 milestone so we can kick these cans in there.

[2020-05-12 17:13] grahamgower commented on #405
Do we want to just yank out the mito, or add a recombination rate field to the `_chromosome_data` "table" like other species have?

[2020-05-12 17:19] jeromekelleher commented on #405
I guess we should be consistent with other species - what have we done for humans at the moment?

[2020-05-12 17:21] grahamgower commented on #335
Closing this as it's all been taken care of now, except the docs which has its own ticket over at #517.

[2020-05-12 17:21] #335 closed

[2020-05-12 17:24] grahamgower commented on #405
I think DroMel is the only species with mito represented.

[2020-05-12 17:25] grahamgower commented on #405
Even if we fix the recombination rate, the mutation rate will still be the autosomal mutation rate. So I'm in favour of removing the mutation rate until we have mutation maps or at least per-chromosome mutation rates.

[2020-05-12 18:16] jeromekelleher commented on #405
Let's just drop the MT chromosome entirely then.

[2020-05-12 18:32] ndukler commented on #204
Yep

[2020-05-12 18:35] #204 closed

[2020-05-12 19:41] #405 closed

[2020-05-13 19:28] apragsdale opened #530 "Allow users to simulate under custom parameters"
It would be nice to be able to run simulations using different mutation or recombination rates than the defaults or options available for each species. Currently, running a simulation such as
[code]
works perfectly fine. But if I want to, say, double the mutation rate, I can't quite figure out how to do so. Setting `contig.mutation_rate = my_mut_rate` gives me a `FrozenInstanceError`, and the only

[2020-05-13 23:17] andrewkern opened #531 "Catalog order change in RTD?"
The tab organization of our critters in the catalog on RTD doesn't make any sense. Should we group by clade? Should we alphabetize?
![image](https://user-images.githubusercontent.com/7674197/81875546-58922700-9535-11ea-9832-4072f84c88c3.png)

This comes up again in the manuscript, where the ordering of species names mimics what is seen on RTD

[2020-05-14 02:24] andrewkern commented on #371
closing this out

[2020-05-14 02:24] #371 closed

[2020-05-14 03:31] petrelharp commented on #531
It should be in order from "worst" to "best".

[2020-05-14 03:44] andrewkern commented on #531
i second the motion to put the Brassica in the "best" slot

[2020-05-14 05:51] grahamgower commented on #530
Probably an easier way around this is make a new contig object. E.g.
[code]

But maybe we should change stdpopsim.Contig to not be frozen?

[2020-05-14 05:59] grahamgower commented on #530
Oh, and almost nothing in python is really immutable. You can mutate frozen attr classes using this hack:
[code]
But don't tell anyone I suggested that. :P

[2020-05-14 07:21] jeromekelleher commented on #530
Yeah, no good reason for us to make this frozen. We should just turn this off.

[2020-05-14 07:33] jeromekelleher commented on #531
Alphabetical seems like the least arbitrary choice here. It's an easy fix: https://github.com/popsim-consortium/stdpopsim/blob/master/docs/catalog.rst

[2020-05-14 15:09] petrelharp commented on #530
Once this gets sorted out, someone should document it. @apragsdale, since you're doing it already, want to throw a simple example together?

[2020-05-14 16:48] apragsdale commented on #530
Yes, I'm happy to @petrelharp. Though my current workaround doesn't do as Graham suggested, making these attributes non-frozen seems like a good idea.

This might be a good chance to also wrap in #501, where we want to allow simulations under the mutation rate that the model was inferred with. I think this shouldn't be hard to put together, because in the original papers for a given model, they sh

[2020-05-14 17:01] andrewkern commented on #531
bah would be an easy fix if it didn't throw weird errors when the order is switched.... getting a `(ERROR/3) Document may not end with a transition` error....

[2020-05-14 17:28] jeromekelleher commented on #531
Are you leaving space etc between the groups like there was before? Rst is finicky.

[2020-05-14 17:30] jeromekelleher commented on #530
I think just taking out ``frozen=True`` from the contig class is a good first step @apragsdale - the other stuff is complicated and I'd like to push it out until after the next release.

[2020-05-14 17:53] grahamgower commented on #530
There are currently three classes marked with `frozen=true` (Chromosome, Contig, and Engine). I can't really think of any reason they *need* to be frozen, so maybe they should all be unfrozen?

[2020-05-14 18:11] apragsdale commented on #530
Ok, @jeromekelleher, that sounds reasonable. That can be pushed off until after this next release, and we can just make this minor adjustment instead. I'll put together a PR that does that and also adds to the documentation how to simulate with your own mutation and recombination rates/map.

[2020-05-14 21:07] andrewkern commented on #531
yup positive... it's something about HomSap or PonAbe being the last entry... not sure what is different and very hard to get a error message out...

[2020-05-14 23:37] andrewkern commented on #531
ugh so something is going wrong for those two entries if they are last in the `catalog.rst` file. @petrelharp found a hack to fix things by adding another heading block past the last species such that
[code]
Perhaps a value is missing from HomSap and PonAbe that is throwing things off in rst generation?

[2020-05-15 07:19] jeromekelleher commented on #531
Closed in #532

[2020-05-15 07:19] #531 closed

[2020-05-15 13:15] #212 closed

[2020-05-17 11:43] jeromekelleher opened #533 "Problems with IM Model"
The [IM model](https://stdpopsim.readthedocs.io/en/latest/api.html#stdpopsim.IsolationWithMigration) has a few issues:

1. Currently the parameters are ``stdpopsim.IsolationWithMigration(NA, N1, N2, T, M12, M21)``, but the actual populations are 0 == pop1, 1 == pop2, 2 = ancestral pop. It would be less confusing if we had `stdpopsim.IsolationWithMigration(N0, N1, NA, T, M01, M10)`, and the populat

[2020-05-17 14:36] andrewkern commented on #533
so pull the generic models out of stdpopsim completely?

[2020-05-17 15:24] jeromekelleher commented on #533
No, I'd say we keep them as options in stdpopsim, but these would be basically calls to msprime functions.

[2020-05-17 16:47] apragsdale commented on #533
I think I'm to blame for the awkward implementation of the IM model. Sorry about that. But I do think it's important to keep the generic models in stdpopsim. I've already been using the ability to easily couple the multiple epoch or IM models with the contigs/maps/etc.

[2020-05-17 19:30] andrewkern commented on #533
+1. a couple of people have asked about this already

[2020-05-17 19:51] jeromekelleher commented on #533
Sure, let's keep them here. I just think it makes more sense to *define* them in msprime, as they are quite different to the bread-and-butter stdpopsim stuff.

[2020-05-20 06:47] grahamgower commented on #511
Is there a volunteer to QC @agladstein's model? I can probably do this, but won't be able to get to it for at least another week. Ping @popsim-consortium/all.

[2020-05-20 14:44] ndukler commented on #511
I'll do it before the end of the week

[2020-05-20 20:51] ndukler commented on #517
@grahamgower @jeromekelleher Is there somewhere in particular I should put this info? I don't see a natural spot in the documentation as it doesn't seem like there's a place where adding a new species/genetic map is documented.

[2020-05-21 06:07] grahamgower commented on #517
The "how to add a species" docs don't yet exist. Maybe you could add a placeholder title, with a "TODO", and add your bits as a subsection of this?

[2020-05-21 13:23] ndukler commented on #517
Sounds good!

[2020-05-23 16:22] ndukler commented on #517
I actually just decided to wrote the docs for implementing a new species. That being said as I've never actually done it they might need some refining.

[2020-05-23 16:50] ndukler commented on #517
I also really hate the sphinx `unexpected indentation` error message in the python code blocks. I cannot for the life of me figure out why it's unhappy and sometimes it just goes away after I do random stuff.

[2020-05-24 16:58] jeromekelleher opened #535 "Do not use msprime internal APIs for model comparison"
We currently used msprime internal APIs for comparing models. This has caused some problems (#518).

Msprime 1.0 should contain richer features for describing demographic models, including comparison functions. Use these APIs rather than  the ones defined here.

[2020-05-24 17:35] jeromekelleher commented on #518
Reverted the change to msprime in https://github.com/tskit-dev/msprime/pull/1038

See https://github.com/tskit-dev/msprime/issues/1036 and https://github.com/tskit-dev/msprime/issues/1037 for longer term plan.

[2020-05-24 17:35] #518 closed

[2020-05-24 17:55] jeromekelleher commented on #479
Various generic models are being develop in msprime as part of version 1.0. Best to wait until this is released before doing the same thing here.

[2020-05-24 19:42] jeromekelleher commented on #151
This is pretty well covered now, I think. We can reopen if someone disagrees.

[2020-05-24 19:42] #151 closed

[2020-05-24 19:43] jeromekelleher commented on #150
I don't think we can do this in the current catalog structure, so going to close.

[2020-05-24 19:43] #150 closed

[2020-05-24 19:45] jeromekelleher commented on #138
The Lazardis et al model has been added, so going to close this issue. Feel free to reopen if someone thinks we should implement others (or, wants to implement them).

[2020-05-24 19:45] #138 closed

[2020-05-24 19:47] jeromekelleher commented on #467
Any updates on this @agladstein? Do we need to fix up our environments somewhere?

[2020-05-24 20:08] apragsdale commented on #533
Let's set this for the next release (0.1.3 instead of 0.1.2), since we're waiting for the generic models in msprime? When generic models on the msprime end get set up and released, I'm happy to refactor this then and perhaps add other relevant generic models at the same time.

[2020-05-24 22:57] agladstein commented on #467
I'll check this on a clean vm.

[2020-05-25 05:52] #355 closed

[2020-05-25 06:03] grahamgower commented on #374
@ndukler has written some great documentation for how to go about adding a species into the catalog. But there is still no formal or even informal process for QC of a species. Just to highlight why this really is important, I'll note that the AraTha recombination rate has been out by a factor of 10 until #527 was merged today.

[2020-05-25 15:36] jeromekelleher commented on #533
OK, sounds good. We'll have to document potential breakage, but since it's not a major feature of stdpopsim at the moment we don't have to worry too much about that.

[2020-05-25 16:01] jeromekelleher commented on #374
Can you open an issue explaining the problem with AraTha recomb rate please @grahamgower? We'll want to mention this in the changelog for 0.1.2, and it's best to point to issues.

[2020-05-25 17:48] ndukler commented on #511
@agladstein Just to clarify because I cannot find the full explicit demographic model in the paper, the model is Gutenkunst 2009 with the additional M, J, WA, EA populations grafted on? And you use all the Gutenkunst parameters for the populations described therein?

[2020-05-25 18:01] agladstein commented on #511
The full model and original macs command is given in Table S5.
The model parameters are defined in Supp Table S3 and Supp Fig S3, with the mode as the ABC parameter estimates.

Here, I am only using the Gutenkunst parameters for N_ANC and T_growth

[2020-05-25 18:09] agladstein commented on #506
@ndukler had an issue finding the full model in the Gladstein and Hammer 2019 paper (see https://github.com/popsim-consortium/stdpopsim/issues/511). Should we add another prompt in the QC issue format "Full model"?

[2020-05-25 18:15] ndukler commented on #511
Ok

[2020-05-26 05:47] grahamgower opened #537 "AraTha recombination rate is out by a factor of 10"
_Note: this bug has been fixed. The issue is described here for posterity._

The Arabidopsis species definition uses `recombination_rate=8.1e-9`. Above the species definition is the following comment:
[code]
Indeed, the values in the comment appear to accurately reflect the Huber et al. publication. However, I calculate `r = rho/Ne/2 = (200/1e6)/124000/2 = 8.064516129032259e-10`.

[2020-05-26 05:48] grahamgower commented on #537
Fixed in #527.

[2020-05-26 06:29] grahamgower commented on #374
How about we just have a QC checklist for species definitions? A QC reviewer would need to confirm correctness of each item one by one. Where relevant, this would mean identifying a parameter value matches a value given in the listed citation. Below is a proposed checklist. Many items on this list will be easier or unnecessary after #385.

- [ ] Documented (e.g. comment, docstring) reference assem

[2020-05-26 08:06] jeromekelleher commented on #506
I'm not clear what you mean by "full model" @agladstein - this is the exact model that was implemented in the original PR? Maybe a heading like "Any further information necessary to identify the exact model implemented" or something?

[2020-05-26 08:24] jeromekelleher commented on #374
This is excellent @grahamgower - maybe we could add this as a PR template called "Add a new species"? The documentation is much easier then - we just say, please use the PR template and follow the checklist.

[2020-05-26 08:25] jeromekelleher commented on #374
(Or as the QC issue, as you suggested - either way).

[2020-05-26 13:14] agladstein commented on #506
@jeromekelleher That sounds good to me.
I'm think what @ndukler meant is the topology of the model. Or the exact implementation of the model in the original paper.
I guess there could be prompts for
"Parameter values",
"Model diagram (if available in paper)",
"Section in paper with written description of model",
"Original code used for specification of the model"
I thought parameter values and mod

[2020-05-26 17:53] grahamgower opened #539 "QC for AraTha"
The **AraTha** species definition has not yet been QCed!

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

- [x] Recombination rate.
  - This might be genome-wide, or per-chromosome. Both a

[2020-05-26 17:55] grahamgower commented on #539
I've recently reviewed some items on this list, and thus they're already checked.

[2020-05-26 17:56] grahamgower opened #540 "QC for CanFam"
The **CanFam** species definition has not yet been QCed!

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

- [ ] Recombination rate.
  - This might be genome-wide, or per-chromosome. Both a

[2020-05-26 17:56] grahamgower opened #541 "QC for DroMel"
The **DroMel** species definition has not yet been QCed!

If you volunteer to QC this species, please use the checklist below.
While this list is intended to be comprehensive, it may not be exhaustive.
Where relevant, the QC reviewer should identify that parameter values match
those given in the linked citation(s).

- [x] Recombination rate.
  - This might be genome-wide, or per-chromosome. Both a